[2015-12-10 21:46] ivankravets commented on #365
Thanks for the report. Ok, let's explain what have you changed. Do you use standard PlatformIO packages?

[2015-12-10 21:49] itsjustvenky commented on #365
I am still on SDK v1.4.. apart from this everything I reverted back.

[2015-12-10 21:53] ivankravets commented on #365
Where did you replace this SDK v1.4?

[2015-12-11 04:34] andriyadi commented on #361
Sorry I missed this.
I'd like to integrate [HTTPClient-SSL libraries](https://developer.mbed.org/teams/MultiTech/code/HTTPClient-SSL/), as it seems working flawlessly with ESP8266Interface. Also [VS1053Lib](https://developer.mbed.org/users/ollie8/code/VS1053lib/) library or alike.

Please advice.

[2015-12-11 05:18] itsjustvenky commented on #365
I have complete overwritten these two folders with 1.4 SDK (esp-open-sdk).

[code]

Here is the board I have created.

[code]

[2015-12-11 05:21] itsjustvenky commented on #365
Extra script for Arduino-OTA

[code]

I have added two other option's to command line, DEBUG and PROGRESS.

[2015-12-11 11:19] ivankravets commented on #365
~/.platformio/packages/sdk-esp8266
~/.platformio/packages/toolchain-xtensa

Why did you replace these packages? `~/.platformio/packages/sdk-esp8266` isn't used in your example because Espressif Arduino contains own version of SDK See `~/.platformio/packages/framework-arduinoespressif/tools/sdk`.

Ok, please make these changes:
1. Backup `~/.platformio/boards` folder which you created for `esp01-1m

[2015-12-11 11:36] itsjustvenky commented on #365
@ivankravets  Sorry for the confusion. Please ignore the SDK part. I reverted everything back to how it was installed by platformio (followed your above steps). thanks.

[2015-12-11 11:49] ivankravets commented on #365
Does it work?

[2015-12-11 12:04] ivankravets commented on #361
Please place these libraries to `lib` folder into your project. If them work, then we will add it to PlatformIO Library registry

[2015-12-11 13:05] ivankravets opened #368 "Handle "upload_flags" option in platformio.ini"
Subj

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29043650-handle-upload_flags-option-in-platformio-ini?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm

[2015-12-11 13:12] itsjustvenky commented on #365
Yes Arduino OTA works fine.

One more thing : in file "~/.platformio/packages/sdk-esp8266/version.txt" I see
[code]

But the actual SDK version @platformio provides is 1.3.. right ?

[2015-12-11 13:17] itsjustvenky commented on #365
If the "build_flags" is set in "platformio.ini", then it overrides the "ldscript" in custom boards json file.

[2015-12-11 13:19] ivankravets commented on #365
The actual is `esp_iot_sdk_v1.2.0_15_07_03`

Yes

P.S: Wait from me new PlatformIO 2.5.1.dev0 where all these features are implemented.

[2015-12-11 13:27] itsjustvenky commented on #365
so you mean to say "esp_iot_sdk_v1.2.0_15_07_03" = 1.3 ?

[2015-12-11 13:28] itsjustvenky commented on #365
In my arduino (ide) sdk version it is "1.3.0_15_08_10_p1" (arduino esp8266 sdk 2.0.0)

[2015-12-11 13:31] #365 closed

[2015-12-11 13:31] #368 closed

[2015-12-11 13:34] ivankravets commented on #365
@itsjustvenky please don't mix `~/.platformio/packages/sdk-esp8266` and `~/.platformio/packages/framework-arduinoespressif/tools/sdk`. If you specify `framework = arduino` in `platformio.ini` then PlatformIO uses SDK from Espressif Arduino Framework, otherwise for native project will be used `~/.platformio/packages/sdk-esp8266`. See example https://github.com/platformio/platformio/tree/develop/exa

[2015-12-11 13:38] ivankravets commented on #365
I've just pushed new development version of PlatformIO 2.5.0.dev0.

1. Please remove own `boards` folder from PIO home
2. Install development version http://docs.platformio.org/en/latest/installation.html#d-development-version
3. Remove from your project extra scripts and left only
[code]

Waiting for the feedback. if you need additional flags to uploader see http://docs.platformio.org/en/latest/p

[2015-12-11 15:15] itsjustvenky commented on #365
Installed dev version
[code]
Test the Arduino-OTA and worked correctly.

Question : How do I revert back to 2.5.0 (release) ? if I want to

[2015-12-11 15:16] ivankravets commented on #365
Thanks!

[code]

[2015-12-11 15:18] itsjustvenky commented on #365
[code]

[2015-12-11 15:19] itsjustvenky commented on #365
@ivankravets thanks for all the help.

[2015-12-11 15:19] itsjustvenky commented on #365
Are you planning to release 2.5.1 anytime soon ?

[2015-12-11 15:21] ivankravets commented on #365
See https://github.com/platformio/platformio/milestones . Release is planned on December 15, 2015

[2015-12-11 15:49] itsjustvenky commented on #357
Just use
[code]
and it works.

I used these parameters in platformio.ini
[code]

[2015-12-11 16:24] itsjustvenky commented on #357
here it is how it worked for me
1) Downloaded library from
[code]
2) Installed into "lib" folder of my project as "ArduinoJson".

3) Added to my ino/cpp : #include "include/ArduinoJson.h"

4) built project and it worked fine.

[2015-12-11 16:52] ivankravets commented on #357
@itsjustvenky how about without direct downloading? Like
[code]
?

[2015-12-11 17:14] itsjustvenky commented on #357
It didn't work for me.

[2015-12-11 22:32] orome opened #369 "Serial monitor missing options"
It seems some options found in some parts of the documentation for the serial monitor are missing, notably `format` and `echo`. I understand the latter isn't currently supported. Is there any chance of either repairing in future?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29057451-serial-monitor-missing-options?utm_campaign=plug

[2015-12-11 22:40] ivankravets commented on #369
The options for `platformio serialports monitor` depend on @PySerial version. See difference:
`PySerial 2.0`
[code]

`PySerial 3.0`
[code]

[2015-12-11 22:41] ivankravets commented on #369
@PySerial 3.0 has not been released yet. However, you can try beta version
[code]

[2015-12-11 22:43] orome commented on #369
@ivankravets — I have 2.7, but don't have `echo`.

[2015-12-11 22:44] ivankravets commented on #369
Give me please an output of
[code]

[2015-12-12 05:58] itsjustvenky opened #370 "Question : framework-arduinoespressif upgrades ?"
I see weekly there are some changes made to  "https://github.com/esp8266/Arduino/" master branch. So how often these changes get into @platformio ?

do these get released with a major release or a milestone ? let me know. thanks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29062556-question-framework-arduinoespressif-upgrades?utm

[2015-12-12 09:26] ivankravets commented on #370
PlatformIO uses stable versions of toolchains, frameworks, etc. See https://github.com/esp8266/Arduino#available-versions

[2015-12-12 09:26] #370 closed

[2015-12-12 09:27] itsjustvenky commented on #370
got it. thanks

[2015-12-12 13:44] orome commented on #369
I see:
[code]
But `echo` has no effect.

[2015-12-12 14:59] ivankravets commented on #369
Try directly [python -m serial.tools.miniterm](https://pythonhosted.org/pyserial/examples.html#miniterm). Does it work for you?

[2015-12-12 17:16] orome commented on #369
Works the same. No echo.

[2015-12-12 17:19] ivankravets commented on #369
As I've mentioned, PlatformIO uses @PySerial for "serialports" command. See wrapping code https://github.com/platformio/platformio/blob/develop/platformio/commands/serialports.py#L149

How about to try PySerial 3.0?

[2015-12-13 11:43] Macadamio opened #371 "IOError: [Errno 2] No such file or directory: 'README.rst'"
hi i am trying to install on win7 and this error mesegge appear, i have try with:
pip -U install platformio and pip -U --egg install platformio and always apear this.

the last part of pip.log file is:

 Downloading from URL https://pypi.python.org/packages/source/p/platformio/platformio-2.5.0.tar.gz#md5=424a125f0899579cde8fd0456f1834aa (from https://pypi.python.org/simple/platformio/)
  Running s

[2015-12-13 13:05] ivankravets commented on #371
Try to upgrade setuptools before using `pip install -U setuptools pip`

Regards, Ivan Kravets
  - Ph.D, Researcher and Software Architect
  - "Creativity comes from talent and never from knowledge" (c)
________________________
http://www.ikravets.com

[2015-12-13 17:31] ivankravets opened #372 "Support for Raspberry Pi WiringPi framework"
- http://wiringpi.com
- related issue #262

No cross-compilation here. Need to use native platform (Physical Raspberry Pi) to compile code.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29088076-support-for-raspberry-pi-wiringpi-framework?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We ac

[2015-12-13 17:31] ivankravets commented on #262
@thawkins Please take a look on issue #372

[2015-12-13 18:52] g7uvw opened #373 "CMSIS support for Nucleo F401RE"
The ST Nucleo F401RE board doesn't support the CMSIS framework when using platformio 2.5 or previous versions.

[Sun Dec 13 18:50:06 2015] Processing nucleo_f401re (platform: ststm32, board: nucleo_f401re, framework: cmsis)
--------------------------------------------------------------------------------------------------------------------------------------------
Error: This board doesn't support c

[2015-12-14 12:38] Macadamio commented on #371
hi
i have upgrade setuptools and this solved the problem.
thanks!!!!

[2015-12-14 17:21] #371 closed

[2015-12-14 17:31] ivankravets commented on #369
@orome please reopen this issue if still need help.

[2015-12-14 17:50] #372 closed

[2015-12-14 18:08] orome commented on #369
2.7 is the latest I can find.

[2015-12-14 18:26] ivankravets commented on #369
@orome see https://github.com/platformio/platformio/issues/369#issuecomment-164069177

[2015-12-15 08:27] andriyadi opened #375 "section `.text` will not fit in region `iram1_0_seg`"
I kept getting this error
```section '.text' will not fit in region 'iram1_0_seg'```

while building project for esp12e

Using the exact source code and build with Arduino IDE didn't raise that error. Please advice.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29134594-section-text-will-not-fit-in-region-iram1_0_seg?utm_campaign=p

[2015-12-15 08:29] andriyadi commented on #361
HTTPClient-SSL libraries cannot be built by default, unless I change the file structure to be flat.
VS1053Lib is fine. I also managed to use this one, [VS1053b](https://developer.mbed.org/users/christi_s/code/VS1053b/)

[2015-12-15 08:32] andriyadi commented on #375
FYI. I've updated platformio to the latest version.

Used libraries:
ESP8266WiFi
DNSServer
ESP8266WebServer
EEPROM
Wire

[2015-12-15 08:37] valeros commented on #375
Hi @andriyadi
Can you share your project for testing?

[2015-12-15 08:39] andriyadi commented on #375
@valeros can I share to you privately, as this is my company's project. I'm afraid I can't share the project openly. Please share your email. Thanks.

[2015-12-15 08:42] valeros commented on #375
@andriyadi Sure, `valeros08@gmail.com`

[2015-12-15 08:47] andriyadi commented on #375
It's sent. Thanks in advance.

[2015-12-15 10:17] ivankravets commented on #308
Ping @valeros

[2015-12-15 13:12] andriyadi commented on #375
Any workaround so far?

[2015-12-15 13:38] ivankravets commented on #375
Yes, this is a bug. I'm working on it. Please wait for the new develop release today.

[2015-12-15 13:58] #308 closed

[2015-12-15 16:42] ivankravets commented on #375
Please run `platformio update`. Does it work?

[2015-12-15 18:06] #373 closed

[2015-12-15 18:57] ivankravets commented on #373
Please upgrade to https://github.com/platformio/platformio/releases/tag/v2.6.0

[2015-12-15 18:57] ivankravets commented on #375
Please upgrade to https://github.com/platformio/platformio/releases/tag/v2.6.0

[2015-12-15 18:57] #375 closed

[2015-12-15 19:30] andriyadi commented on #375
It works flawlessly!

Thanks!

[2015-12-15 20:13] ivankravets commented on #375
Thanks you too that report this `typo` issue.

[2015-12-16 08:39] mangelajo opened #377 ".text not fit in iram1_0_seg for esp12e, where do ldscripts live?"
This started happening after the last ldscripts update. Where can I find those?

/Users/ajo/.platformio/packages/toolchain-xtensa/bin/../lib/gcc/xtensa-lx106-elf/4.8.2/../../../../xtensa-lx106-elf/bin/ld: .pioenvs/esp12e/firmware.elf section `.text' will not fit in region `iram1_0_seg'

It happens with this project:

https://github.com/ohaut/ray/tree/master/firmware/ray

It didn't happen before th

[2015-12-16 09:12] valeros commented on #377
@mangelajo
Please update packages via `platformio update`

[2015-12-16 09:30] ivankravets commented on #377
You can check version via `platformio --version`. Please use `pip install -U platformio` command in future.

As for your issue, could you share here or to me@ikravets.com project which causes this error? Thanks!

[2015-12-16 10:24] ivankravets commented on #377
@mangelajo I see that use duplicate PubSubClient library here https://github.com/ohaut/ray/tree/master/firmware/ray/lib/PubSubClient

I propose you to use [PlatformIO Library Manager](http://docs.platformio.org/en/latest/librarymanager/index.html) where this library is listed http://platformio.org/#!/lib/show/89/PubSubClient

You can add dependent libraries to your project using [lib_install](http

[2015-12-16 14:23] itsjustvenky opened #378 "Please add esp12 board with 1MB Sketch, 1MB Spiffs"
Currently the file '~/.platformio/packages/ldscripts/esp8266.flash.4m.ld" has
1MB Sketch
3MB spiffs.

[code]

In Arduino/esp8266 package there is another option (eagle.flash.4m1m.ld) with
1MB SPIFFS
1MB Sketch
2MB free/empty

[code]

Can you please add this to boards.Thanks

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29176315-ple

[2015-12-16 16:01] ivankravets opened #379 "Repository for LD scripts; common LD script for ESP8266"
Docs https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/4/html/Using_ld_the_GNU_Linker/simple-commands.html

- [x] Add `ldscripts` directory to `-L` to main build script (`DefaultEnvironment`)
- [x] Create base template for ESP8266 and then extend only RAM/ROM regions for the specific board variations.
- [x] Move LD scripts to `platformio-package-ldscripts` repository

<bountys

[2015-12-16 17:31] ivankravets commented on #378
Added. Please `platformio update`. See
[code]

How to use specific LD script? http://docs.platformio.org/en/latest/projectconf.html#build-flags
Example,
[code]

[2015-12-16 17:32] ivankravets commented on #378
We will improve handling of built-in LD scripts. See https://github.com/platformio/platformio/issues/379

[2015-12-16 17:32] #378 closed

[2015-12-16 17:39] ivankravets commented on #369
@orome please reopen this issue if still need help.

[2015-12-16 17:39] #369 closed

[2015-12-16 17:41] ivankravets commented on #357
@itsjustvenky what is wrong with@bblanchon manifest file https://github.com/bblanchon/ArduinoJson/blob/master/library.json ?

Could you correct it according http://docs.platformio.org/en/latest/librarymanager/config.html ?

Thanks!

[2015-12-16 20:45] itsjustvenky commented on #378
@ivankravets  thank you.

[2015-12-16 20:52] aperepel opened #380 "esp12e OSX fails to upload a basic example"
Hi, trying out the most basic blinky example with PlatformIO. Everything works fine with ArduinoIDE as well as Eclipse Arduino. I, however, am running into issues with PlatformIO (the code is the most basic blink/delay):

[code]

[2015-12-16 21:05] ivankravets commented on #380
Could you provide the same output from Arduino IDE/Eclipse IDE? I mean this `/Users/agrande/.platformio/packages/tool-esptool/esptool -vv -cd ck -cb 115200 -cp /dev/cu.wchusbserial1410 -ca 0x00000 -cf .pioenvs/esp12e/firmware.bin`

Thanks.

[2015-12-16 21:52] ivankravets opened #381 "Extra documentation for development platform"
Currently we generate docs "on the fly" with boards/frameworks blocks. Need to add ability to write extra doc for each platform. Use `..include` for RST.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29189439-extra-documentation-for-development-platform?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=

[2015-12-16 22:03] ivankravets commented on #380
Please re-test it with the latest http://docs.platformio.org/en/latest/installation.html#d-development-version

[2015-12-16 22:04] #380 closed

[2015-12-16 22:16] ivankravets commented on #380
Don't forget to `platformio update` all packages

[2015-12-16 23:21] aperepel commented on #380
Thanks! This worked. Appreciate a prompt fix.

[2015-12-16 23:47] ivankravets commented on #380
Which is type of your board? NodeMCU?

[2015-12-17 02:40] aperepel commented on #380
Yes, that's the one.

[2015-12-17 06:02] itsjustvenky opened #382 "Add : espressif : make spiffs [$10]"
In Arduino-esp8266 project there is a option to build and upload just SPIFFS image to ESP.

[code]
Is it possible to add similar functionality to "PlatformIO" where I create a folder named "data" in the project root folder and set the flag/property to build just SPIFFS image and upload it to ESP using serial or ota

@igrr (and yourself) already provided mentioned the document the option to upload

[2015-12-17 08:31] mangelajo commented on #377
Hmm @ivankravets, that's very nice, please keep reading for some suggestions.

 I'm always afraid that when somebody is going to recompile my software it will find compatibility issues with external libraries.

I have a suggestion here, may be I can open a separate bug:

What if we were able to define in platformio.ini the external libraries by name or some "human uuid" (pub-sub-client for example

[2015-12-17 08:34] mangelajo commented on #377
@valeros:

Updating ldscripts package:
Versions: Current=15, Latest=17 	 [Out-of-date]

Where's that stored, do we have a git for it?

It would be nice to track changes via git.

[2015-12-17 08:36] mangelajo commented on #377
@valeros, new version compiles well, what was the change?

[2015-12-17 08:42] itsjustvenky commented on #377
@mangelajo  you can always check the git commit for what is changed. always look for the corresponding branch.

[2015-12-17 09:20] itsjustvenky opened #383 "Eclipse : duplicate path entries found in project path"
I am on latest version PlatformIO (running Ubuntu 14)

[code]
and libraries, tools are updated using "platformio update"

Now I have created a eclipse project

[code]

and I imported the project into eclipse (mars) using Import >> Existing projects into WorkSpace
and when I build the project I see the following warning in "Problems" tab.

[code]

<bountysource-plugin>
---
Want to back this issue?

[2015-12-17 10:47] itsjustvenky commented on #383
There is no issue apart from the warning, code compiles and uploads to ESP properly. I just want to get rid of that warning.

[2015-12-17 12:33] ivankravets commented on #377
Versions: Current=15, Latest=17 [Out-of-date]
Where's that stored, do we have a git for it?
It would be nice to track changes via git.

See related issue #379. I will move LD scripts to repo.

[2015-12-17 12:42] ivankravets commented on #377
PlatformIO Library Manager worked in this manner 1 year ago. Then I had problems with TradeMarks & Copyrights. We can not use direct name for library. Yes, I understand that many developers use the TM in own libraries, for example `Arduino(tm)`. Developers don't understand that then can't do it, because Arduino(tm) doesn't allow it. See https://www.arduino.cc/en/Trademark/HomePage

In this case th

[2015-12-17 12:45] ivankravets commented on #377
It was my mistake. I omitted this line `*libm.a:(.literal .text .literal.* .text.*)` for `.irom0.text : ALIGN(4)` section.

[2015-12-17 14:12] ivankravets commented on #379
LD scripts are pushed to own repository https://github.com/platformio/platformio-pkg-ldscripts/tree/master

Versions/releases: https://github.com/platformio/platformio-pkg-ldscripts/releases

Ping @mangelajo @itsjustvenky

[2015-12-17 14:20] aperepel commented on #383
I can confirm I saw that too, something simple is definitely going on.

[2015-12-17 14:25] ivankravets commented on #383
Guys, help us. Please go to project settings and investigate which INCLUDES are unnecessary.

* Eclipse templates: https://github.com/platformio/platformio/tree/develop/platformio/ide/tpls/eclipse
* IDE data for Project Generator: `platformio run -e YOUR_ENV -t idedata`

Here is my dump
[code]

JSON formatter: https://jsonformatter.curiousconcept.com

[2015-12-17 14:29] ivankravets commented on #383
@aperepel please say thanks via :star: to @valeros. He likes them :blush: Thanks.

[2015-12-17 14:42] aperepel opened #384 "Monitoring a serial port breaks upload"
# Solution

[code]

--------

Board: esp12e

If I attach to a serial port to monitor the output, it will prevent upload from working. Not sure what can be done here, but other environments manage to somehow do it. Reverse is true - if I start the upload process and attach to a serial port in another terminal window, it will fail the upload (and attach too).

Ideally, we'd like to keep the monitor

[2015-12-17 14:57] ivankravets commented on #384
Nothing can be done here :worried: Device is busy by another process. The only one solution is terminate current process using administrative privileges. However, I don't recommend to use `platformio` with administrative/sudo permissions.

Do you mean Arduino IDE? They have PID of opened serial monitor and can close/kill it before uploading and then restore it.

PlatformIO is full flexible and ind

[2015-12-17 15:05] itsjustvenky commented on #383
[code]

[2015-12-17 16:30] ivankravets commented on #379
Dear @mangelajo, @itsjustvenky, @aperepel, @celsworth, @bkudria, @chipolux, @electronicsguy, @TimJay, @BSWG, @m4mbart, @grzegorzshub, @makefu

 Please help us with testing PlatformIO `2.6.1.dev1`. The LD scripts were significantly modified.

1. Upgrade to the latest http://docs.platformio.org/en/latest/installation.html#d-development-version
2. Replace existing `~/.platformio/ldscripts` with https

[2015-12-17 16:38] ivankravets commented on #382
@itsjustvenky what do you need from @PlatformIO side?

[2015-12-17 17:01] ivankravets commented on #382
@igrr could you explain us how does it work? What we should implement?

Thanks.

[2015-12-17 17:23] itsjustvenky commented on #384
The Sming framework does this similar to arduino IDE from command line when used "make flash".
After flashing, it open its own serial monitor

[code]
[code]

Sorry I don't want to mention other frameworks here, but just for example/reference purpose I providing the idea.

If it all this is possible to implement with a extra option to platformio command line, then it will be a great feature.

Thoug

[2015-12-17 17:34] ivankravets commented on #384
I've explained above the problem. All these IDEs work in own isolated space where they spawn child process and have their PIDs. You can reproduce same logic using own "isolated space" via script `upload_and_monitor.sh`
[code]

What is more, you can put these line into infinite loop. `Exit from Monitor` will raise uploading, and ... repeat.

[2015-12-17 17:43] aperepel commented on #384
I understand your point, Ivan. Was really checking if there was any trick or obvious omission, but was on a cautious side.

For my purposes this one works quite well:
[code]
As soon as upload is done - it connects to the monitor, so I don't skip any early init output. Maybe we can put it in a FAQ as a best practice?

[2015-12-17 17:49] itsjustvenky commented on #384
@aperepel @ivankravets  thanks.

[2015-12-17 18:22] #384 closed

[2015-12-17 18:23] ivankravets commented on #379
Please reopen this issue if someone has problems.

[2015-12-17 18:23] #379 closed

[2015-12-17 18:24] ivankravets commented on #377
Please reopen this issue if you have any questions

[2015-12-17 18:24] #377 closed

[2015-12-17 20:08] ivankravets commented on #383
@itsjustvenky I don't see duplicated entries your list. I'll test it later.

[2015-12-17 20:33] itsjustvenky commented on #382
@ivankravets  The SPIFFS bin generation and upload to ESP is done a arduino IDE plugin jar file.

[code]

I am till figuring out the details on the SPIFFS bin file generation.

"igrr" is the correct person to answer your question. thanks.

[2015-12-17 20:38] ivankravets commented on #382
Thanks, I see now how does it work https://github.com/esp8266/arduino-esp8266fs-plugin/blob/master/src/ESP8266FS.java

Will back to this issue as soon as possible.

[2015-12-17 20:41] itsjustvenky commented on #382
I found this too

[code]

[2015-12-17 20:42] ivankravets opened #385 "Handle Arduino Makefile (mk) projects [Teensy, SAM]"
Will be good to handle Arduino Makefile based projects ( https://github.com/sudar/Arduino-Makefile ). It should allow users to build source code for Teensy, Arduino SAM and rest of supported platforms by @PlatformIO.

[2015-12-17 20:45] itsjustvenky commented on #382
Ok this what is the java (Processing app) is using

[code]

[2015-12-17 21:01] itsjustvenky commented on #382
The binary that is used to generate SPIFFS image is "mkspiffs" and it takes parameters from

(on Win7) C:\Program Files (x86)\Arduino\hardware\esp8266com\esp8266\boards.txt

example

[code]

this code is from the java file
[code]
and then the image is getting uploaded into ESP using Esptool

[code]

and the esptool parameters too are taken from "boards.txt" (depending on the board the user selecte

[2015-12-17 22:05] amendoim opened #386 "Serial Monitor: Exit key combination doesn't work on international keyboards"
In Windows the platformio serialports monitor Exit key combination Ctrl + ] does not work on international keyboards where ] is produced by a combination of keys.

For example in the standard Portuguese keyboard (Portugal and probably Brazil and other variants also), the ] character is produced by pressing Alt Gr + 8. In this case Serial Monitor never exits and one has to press Ctrl + Break to kil

[2015-12-17 22:16] ivankravets commented on #386
You can override exit key. See http://docs.platformio.org/en/latest/userguide/cmd_serialports.html#cmdoption-platformio-serialports-monitor--exit-char

[2015-12-17 23:08] Seep1959 opened #387 "Build fails when platformio trys to compile and the build path contains spaces."
On windows platformio seems to by default keep toolchains, ldscripts, and library's in "C:\Users\\\<Username\>\\.platformio . When the username contains a space, platformio fails when attempting to compile do to the path being split at the space. [Here is my terminal output](https://gist.github.com/Seep1959/dc485620d0a5420076d3) when I run "platformio run".

On line 252 and 253 you can see

arm-no

[2015-12-17 23:26] ivankravets commented on #387
I'll look on it. Temporary solution http://docs.platformio.org/en/latest/faq.html#windows-unicodedecodeerror-ascii-codec-can-t-decode-byte

Regards, Ivan Kravets
  - Ph.D, Researcher and Software Architect
  - "Creativity comes from talent and never from knowledge" (c)
________________________
http://www.ikravets.com

[2015-12-18 00:02] Seep1959 opened #388 "Undefined reference to main error. collect2.exe: error: ld returned 1 exit status"
I am trying to compile the stm32f4discovery-libopencm3 blink example and I am getting this error, [here is the terminal log](https://gist.github.com/Seep1959/66d92eedf24e8edb0086)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29224629-undefined-reference-to-main-error-collect2-exe-error-ld-returned-1-exit-status?utm_campaign=plugin

[2015-12-18 09:51] valeros commented on #388
Hi @Seep1959
Have you implemented `main` function?
I compiled this `miniblink` https://github.com/libopencm3/libopencm3-examples/blob/master/examples/stm32/f4/stm32f4-discovery/miniblink/miniblink.c without any errors.

[2015-12-18 09:57] amendoim commented on #386
That will send the exit char but won't quit the app itself, right? Can't platformio use an universal key combination like Ctrl + Q?
I suspect many other non-us keyboards will have this behavior...

[2015-12-18 10:15] Seep1959 commented on #388
Yes, I did. I have actually tried both the example you linked and the platformio example.

[2015-12-18 10:24] ivankravets commented on #386
Universal for what? No here "universal". You can configure own `--exit-char`. See
[code]

If you specify DIRECT ASCII code (like ``93`` for ``]``), then you need to use `Ctrl+C+]``. To use direct key, please minus 64 from ASCII char. For example, ASCII code for `'Q'` char is `81`, then `81-64=17`. Now `platformio serialports monitor --exit-char 17` will wait for `Ctrl+Q`

Here is the table http://

[2015-12-18 10:25] ivankravets commented on #388
@Seep1959 please give us a star (:star:) https://github.com/platformio/platformio/stargazers for the help

[2015-12-18 10:26] valeros commented on #388
I don't see any others files built except framework files.
Could you provide your project structure?

[2015-12-18 13:20] #387 closed

[2015-12-18 14:54] valeros commented on #356
Hi @orome
I've implemented some basic support for this board in special branch and we would be grateful if you could test it with PlatformIO.

Please install special version of PlatformIO:
`pip uninstall platformio`
`pip install https://github.com/valeros/platformio/archive/feature/issue-356-arduino-zero.zip`

Replace `ldscripts` and `framework-arduinosam` packages in PlatformIO home directory wit

[2015-12-18 15:06] #381 closed

[2015-12-18 15:21] orome commented on #356
@valeros : Cool. I should have time later today for a test (if I can locate the appropriate USB adapter).

[2015-12-18 18:18] #383 closed

[2015-12-18 18:39] ivankravets commented on #377
@mangelajo @itsjustvenky PlatformIO 2.6.1 is released! Please upgrade https://github.com/platformio/platformio/releases/tag/v2.6.1

[2015-12-18 18:39] ivankravets commented on #380
@aperepel PlatformIO 2.6.1 is released! Please upgrade https://github.com/platformio/platformio/releases/tag/v2.6.1

[2015-12-18 18:40] ivankravets commented on #387
@Seep1959 PlatformIO 2.6.1 is released! Please upgrade https://github.com/platformio/platformio/releases/tag/v2.6.1

[2015-12-18 18:44] orome commented on #356
@valeros : Where will I find  `ldscripts` and `framework-arduinosam` to replace? My `~/.platformio/packages` contains only:
[code]
Do you mean move rather than replace?

[2015-12-18 18:49] tiferrei opened #389 "Using PlatformIO with Atom || Changing between .ino files"
Hi, I am unsure if I should ask this here or in an atom forum, but I have Platomformio installed on Atom, running perfectly, the only thing I am intrigued is if I have to init a PlatformIO project for each .ino file that I want to upload. Isn't there a way of PlatformIO only compile and Upload the file I have open on Atom?

Thank you,
Tiago Ferreira

![screen shot 2015-12-18 at 18 49 27](https://c

[2015-12-18 18:50] valeros commented on #356
@orome  `platformio platforms install atmelsam`

[2015-12-18 18:53] orome commented on #356
@valeros : There they are! So replace after that?

[2015-12-18 19:41] Seep1959 commented on #388
Okay, well I feel like a bit of an idiot now. Turns out my c file was saved as a txt file. I saved it as a proper c file and it compiled correctly.

[2015-12-18 20:14] aperepel opened #390 "2.6.1 install generates bad esp12e firmware"
Something has happened and the simplest possible code never proceeds beyond `setup()`. It's just stuck after executing (or never exiting?) the setup() call. I've tried the same code in Arduino IDE 1.6.5 and things work ok.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29249010-2-6-1-install-generates-bad-esp12e-firmware?utm

[2015-12-18 20:36] ivankravets commented on #390
Which type of board do you use in Arduino IDE? Flash Size? CPU Frequency?

[2015-12-18 20:41] ivankravets commented on #389
HI, please create 2 separate projects. PlatformIO doesn't process only SINGLE opened file, it processes all files from `src` directory. However, it uses opened file as "indicator" where need to find `src` directory.

[2015-12-18 20:48] orome commented on #356
@valeros : Actually, I can't get through `platformio platforms install atmelsam`:
[code]

[2015-12-18 20:49] ivankravets commented on #356
Please `platformio upgrade` to the latest 2.6.1

[2015-12-18 20:50] ivankravets commented on #356
As for `ChunkedEncodingError: ("Connection broken: error(54, 'Connection reset by peer')", error(54, 'Connection reset by peer'))` - I'll fix it.

[2015-12-18 20:53] orome commented on #356
@ivankravets : Actually, can you spell this out better. I thought I was supposed to use `pip install https://github.com/valeros/platformio/archive/feature/issue-356-arduino-zero.zip`. Now I'm supposed to use the latest?

[2015-12-18 21:10] aperepel commented on #390
ESP12-E
80MHz
Flash 4M (3M SPIFFS)
115200 upload speed

[2015-12-18 21:15] ivankravets commented on #356
Sorry, it was my mistake. I've not seen that this is branch in @valeros repo. Don't make any upgrade operations. You are in right branch.

Please try again `platformio platforms install atmelsam`

[2015-12-18 21:17] ivankravets commented on #390
Do you use `nodemcu` type of board?

[2015-12-18 21:26] orome commented on #356
@ivankravets : Can you spell out the full instructions (all steps to get from a previous installation to where I need to be)? It's totally unclear what code I'm supposed to be testing!

[2015-12-18 21:26] aperepel commented on #390
Yes, it is technically a nodemcu dev board (but I don't use the lua env).

This whole story didn't sit well with me, breaking out of the blue (must have picked up an update and missed the message). I decided to wipe the `~/.platformio` folder (pip uninstall didn't want to do it for me), redownloaded the `espressif` platform and finally restored my sanity. I hope it was simply a fluke with my setup

[2015-12-18 21:28] ivankravets commented on #390
Do you mean that it works now in the latest 2.6.1?

[2015-12-18 21:29] ivankravets commented on #356
1. ``pip uninstall platformio``
2. ``pip install -U pip install https://github.com/valeros/platformio/archive/feature/issue-356-arduino-zero.zip``
3. ``platformio platforms install atmelsam``
4. Run blink example

[2015-12-18 21:33] aperepel commented on #390
Yes, in a clean environment. I'm not sure if there is a problem with pip uninstall (I ran `sudo -H pip uninstall platformio`, but it didn't remove `~/.platformio`).

[2015-12-18 21:35] orome commented on #356
@ivankravets : `pip install -U pip install ...`?

[2015-12-18 21:35] ivankravets commented on #390
It was problem with `ldscripts`. Looks like you didn't update them when upgraded to 2.6.1.

Ok, this is good news! We have a big interest from new users to Espressif platform. Need to polish it.
Don't hesitate to open new issue if you will have any problems. Thanks!

[2015-12-18 21:35] #390 closed

[2015-12-18 21:38] ivankravets commented on #356
Edited. Sorry, it is hard day for me today. Need to go out and relax.

[2015-12-18 21:42] orome commented on #356
[code]

[2015-12-18 21:47] ivankravets commented on #356
I've just updated/formatted comments by @valeros  https://github.com/platformio/platformio/issues/356#issuecomment-165796874

Have you done all steps?

[2015-12-18 21:48] orome commented on #356
@ivankravets : Only the last version of the steps, not the **new** version!

[2015-12-18 21:51] orome commented on #356
@ivankravets , @valeros : Looks like it works.

Full output of upload:
[code]

[2015-12-18 21:53] ivankravets commented on #356
Great! Will ask @valeros to merge his feature into main repository and update all related packages. Please wait for the further instructions from @valeros

Thanks for the help and testing.

[2015-12-18 21:55] ivankravets commented on #388
Cool. Have a nice coding and weekend! :beer:  :smile:

[2015-12-18 21:55] #388 closed

[2015-12-18 21:56] tiferrei commented on #389
Actually I came up with a possible solution, join all the programs as functions and just call the specific function on the void loop()

[2015-12-18 21:57] orome commented on #356
Cool, thanks!

BTW, how do I maintain a project that uploads to either an Uno or a Zero (depending on which is plugged in)? How do I configure that and build and upload with it. Can I simply rerun `platform init` on an existing project with both boards specified?

[2015-12-18 21:57] ivankravets commented on #389
Do you need additional help?

[2015-12-18 21:57] ivankravets commented on #389
Don't forget to give us a star :star:  https://github.com/platformio/platformio/stargazers

Thanks!

[2015-12-18 21:59] tiferrei commented on #389
Nope! By the way I think you made a great job, I really like the idea of PlatformIO, give me any link for reviews I can give, you got another fan! ;)

[2015-12-18 22:09] ivankravets commented on #356
Sure! See http://docs.platformio.org/en/latest/userguide/cmd_init.html and "Initialize new PlatformIO based project or **update existing with new data.**"

Here is docs how to control environments http://docs.platformio.org/en/latest/userguide/cmd_run.html

[2015-12-18 22:11] ivankravets commented on #389
Thanks for :star: https://github.com/platformio/platformio/stargazers ! Here is a list with articles about us http://docs.platformio.org/en/latest/articles.html

Don't hesitate to contact us if have any questions.

[2015-12-18 22:13] orome commented on #356
@ivankravets : Can I select which board to upload to from within CLion?

[2015-12-18 22:15] orome commented on #356
@ivankravets : And what about the third item: how to check what board is targeted in my source (is there a variable that's set?) 's I can, for example, exclude code that's inappropriate for the board?

[2015-12-18 22:17] ivankravets commented on #356
There a few options

1. Define own macros via `build_src_flags = -DMYMACROS`, then in code use `#ifdef`.
2. Use http://docs.platformio.org/en/latest/projectconf.html#src-filter

[2015-12-18 22:18] ivankravets commented on #356
See in console output. @PlatformIO specifies via `-D` type of the current board.

[2015-12-18 22:35] orome commented on #356
@ivankravets : And can I select which board to upload to from within CLion?

[2015-12-18 22:40] ivankravets commented on #356
Sure! Please create own target

[code]

You should like @PlatformIO after it :blush:

[2015-12-18 22:59] tiferrei commented on #389
Thanks! Keep up the great work!

[2015-12-18 22:59] #389 closed

[2015-12-18 23:00] ivankravets commented on #389
Where is star :star:  for us? :blush:

[2015-12-18 23:05] tiferrei commented on #389
How do I "star"?

[2015-12-18 23:06] ivankravets commented on #389
Thanks! It helps grow up our project!

[2015-12-18 23:08] tiferrei commented on #389
Wish you best of luck and a Merry Christmas!

[2015-12-18 23:09] ivankravets commented on #389
Thanks! :smile: You too! Happy Holidays! :christmas_tree:

[2015-12-18 23:46] Seep1959 opened #391 "st-flash.exe app crash, scons: *** [upload] Error 309"
[Image of app crash](http://imgur.com/NwzMxne)

[Terminal log](https://gist.github.com/Seep1959/210daaf0e81f396cf8e1)

I have tried replacing the libusb dll with an updated one but then I just get error 123, so I reverted back to the original libusb. I am able to successfully program the stm32f4discovery with the .bin platformio generates using the stm32 ST-LINK Utility. Any idea why platformIOs s

[2015-12-19 05:19] kireevco commented on #119
I'm working on bulding a truly cross-platform toolchain, since esp-open-sdk is not building well on windows: github.com/kireev.co/esp-alt-sdk.

[2015-12-19 09:33] amendoim commented on #386
I meant universal for all keyboards: the default you have now will work on keyboards where Ctrl + ] is a direct key combination (like the English keyboard) in others it won't work (nothing happens).
Because of this maybe it would make sense to have a default exit combination that works for everyone, like Ctrl + Q or similar.

In any case, using --exit-char works fine. I'd suggest adding the explan

[2015-12-19 09:40] ivankravets commented on #386
Which `--exit-char` do you use? I'll add to the doc.

Thanks!

[2015-12-19 12:32] tiferrei opened #392 "Arduino & Engduino Serial Monitor"
Hi, sorry if this is a stupid question but how can I see the `<Serial.println>` output?

Thanks,

Tiago Ferreira

![screen shot 2015-12-19 at 12 31 59](https://cloud.githubusercontent.com/assets/8849915/11912966/8a47ca0c-a64c-11e5-83ee-28ede64c4213.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29262454-arduino-engduino-serial-

[2015-12-19 15:20] ivankravets commented on #392
Platomformio Package for Atom editor doesn't have built in serial monitor. Try to find related package in Atom packages registry.

Nevertheless, you can use native [platformio serialports monitor](http://docs.platformio.org/en/latest/userguide/cmd_serialports.html#platformio-serialports-monitor).

[2015-12-19 15:34] amendoim commented on #386
Ctrl + Q as you listed two posts ago: --exit-char 17

[2015-12-20 11:35] andriyadi commented on #361
Hi @ivankravets
I have not seen the VS1053b library when I search using `platformio lib search`

No pressure though :)

[2015-12-20 13:25] framlin opened #393 "installation failed on linux-x86 (ubunut 15.04)"
Servus,

I tried to install platformio, but it fails with the following message:

Command "/usr/bin/python -c "import setuptools, tokenize;__file__='/tmp/pip-build-pLMzk4/scons/setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record /tmp/pip-EveMj1-record/install-record.txt --single-version-externally-managed --compile" fa

[2015-12-20 13:37] framlin commented on #393
Sorry, I did not "install the udev-rules ....."

[2015-12-20 13:37] #393 closed

[2015-12-20 14:45] ivankravets commented on #393
Does it work for you now?

[2015-12-20 14:45] ivankravets commented on #393
Would be grateful for the :star: https://github.com/platformio/platformio/stargazers

[2015-12-20 18:15] peterkjacobson opened #394 "Digispark Micronucleus Upload: Not Found"
I am using a Digispark board and when I upload the script does not seem to be able to locate the micronucleus program.  I have verified that micronucleus does appear in the correct folder and I can upload manually, but PlatformIO doesn't seem to be able to use it.  The error is as follows:

[Sun Dec 20 12:09:15 2015] Processing digispark-tiny (platform: atmelavr, board: digispark-tiny, framework:

[2015-12-20 18:19] peterkjacobson commented on #394
Nevermind, somehow the folder was changed from "tool-micronucleus" to "tools-micronucleus."  My fault I imagine.

[2015-12-20 18:23] ivankravets commented on #394
I've just checked you board and could not repeat this issue. Did you renamed this folder manually?

[2015-12-20 18:30] ivankravets commented on #394
Hm... Could you remove totally `/home/peter/.platformio` folder and try build project from the scratch?

This is important for us. Need to understand that all works good. Thanks.

[2015-12-20 19:41] ivankravets opened #395 "Create package for Homebrew Mac OS X packages manager"
Subj.

[2015-12-21 07:22] valeros commented on #391
Hi @Seep1959
What is wrong with default `libusb-1.0.dll`?

[2015-12-21 15:21] peterkjacobson commented on #394
I will try this tonight and report back to you.  Thanks for the quick response!

Sent from my iPhone

[2015-12-21 15:23] ivankravets commented on #394
Thanks! I reassigned this issue to 2.6.3 release. Will wait for your report.

[2015-12-21 16:10] celsworth opened #396 ""system param error" on latest platformio when flashing 8266"
I noticed this on platformio 2.6.1 and 2.6.2 does the same thing:

platformio.ini:

[code]

src/empty_sketch.cpp:

[code]

And I just get a reboot loop:

[code]

The same code works on 2.5.0 and earlier, its just an empty sketch that doesn't do much after all. Any ideas? Has the ldscript changed significantly? I can give you a compiled binary if it will help.

<bountysource-plugin>
---
Want to bac

[2015-12-21 16:12] ivankravets commented on #396
Did you update `ldscripts`? They were changed significantly.

[2015-12-21 16:12] celsworth commented on #396
[code]

all seems up to date?

[2015-12-21 16:13] ivankravets commented on #396
Yes, now please upgrade to 2.6.2. Thanks.

[2015-12-21 16:13] celsworth commented on #396
This is 2.6.2, there is nothing to update?

[2015-12-21 16:56] CraigJPerry opened #397 "simulAVR and gdb-avr missed in toolchain-atmelavr-windows"
Like #334, simulavr & gdb is not installed on Windows 10, x64.

Tried updating:

    [windows10x64]$ platformio update

    Platform atmelavr
    --------
    Updating toolchain-atmelavr package:
    Versions: Current=2, Latest=2    [Up-to-date]
    Updating tool-avrdude package:
    Versions: Current=2, Latest=2    [Up-to-date]
    Updating framework-arduinoavr package:
    Versions: Current=23,

[2015-12-21 17:23] #396 closed

[2015-12-21 18:09] valeros commented on #397
Hi @CraigJPerry
`avr-gdb` was already in `.platformio\toolchain-atmelavr\bin`
Anyway, I've just added `simul-avr to package`, please update via `platformio update`

[2015-12-21 21:42] ivankravets commented on #392
If you have any questions please reopen this issue. Thanks.

[2015-12-21 21:42] #392 closed

[2015-12-21 21:45] ivankravets commented on #361
@gandy92 could you update MBED library configs and include requested libs?

Thanks in advance!

[2015-12-22 07:56] librae8226 commented on #357
Hello @ivankravets, according to @itsjustvenky, `#include "include/ArduinoJson.h"` can get it work, however in fact it has nothing to do with direct downloading Json_ID64.
To get it pass the build, I just removed the `test/` directory in ArduinoJson.
The `gtest/gtest.h` thing is one of the unit test code of ArduinoJson itself I guess, so it may not fit platformio, sounds reasonable.
But there migh

[2015-12-22 13:14] orome commented on #356
@ivankravets , @valeros : Does 2.6.3 have any of these updates in it. Can I use it with the Zero?

[2015-12-22 14:26] ivankravets commented on #356
@valeros please create new `feature` form the latest `develop` and push your changes. I'll merge it in `2.7.0`.

[2015-12-22 14:33] valeros commented on #356
We need to test upload with `openOCD` package for this board.
@orome Could you specify your OS, please? I will give you another firmware uploader to test.

[2015-12-22 15:08] orome commented on #356
@valeros : OS X 10.11.2.

[2015-12-22 15:38] valeros commented on #356
Thanks @orome, please follow next steps:
Download new uploader https://dl.dropboxusercontent.com/u/10025728/tool-openocd.tar.gz
Place folder `tool-openocd` in PlatformIO home directory `~/.platformio/packages`
Connect your board through the programming USB port.
Create simple blink project with the board `zero` and upload firmware.

[2015-12-22 15:49] orome commented on #356
@valeros : I currently have `2.6.3`. Should I keep that and just do the above (only)?

[2015-12-22 15:52] valeros commented on #356
@orome Unfortunately, it will work only with my special version above.

[2015-12-22 15:56] orome commented on #356
@valeros : So I should repeat [these instructions](https://github.com/platformio/platformio/issues/356#issuecomment-165796874) first, right?

[2015-12-22 16:01] valeros commented on #356
@orome Yes, 1&2 steps.

[2015-12-22 16:10] orome commented on #356
@valeros : K, thx. Probably later today.

[2015-12-22 18:19] orome commented on #356
@valeros : How should I initialize the project? Not `zeroUSB`, right?

[2015-12-22 18:22] valeros commented on #356
@orome `zero`

[2015-12-22 18:22] ivankravets commented on #119
@kireevco does https://github.com/esp8266/Arduino uses your toolchain?

[2015-12-22 18:28] #386 closed

[2015-12-22 18:30] ivankravets commented on #386
I've added to docs. What is interesting, that `Ctrl+Q` doesn't work for me :disappointed:

[2015-12-22 18:36] sticilface commented on #357
I'm getting various errors when trying to include this lib... either via install 64 or by downloading it.
anyone know how to get around the multiple builds error?
[code]

[2015-12-22 18:37] ivankravets commented on #357
1 sec. I'm working on it.

[2015-12-22 18:42] sticilface commented on #357
ah very good thanks:)

[2015-12-22 18:42] orome commented on #356
@valeros : No luck. It asks to "allow incoming connections", which I allow, and then hangs:
[code]

[2015-12-22 18:52] ivankravets commented on #357
Guys, please `platformio lib update` and re-test that it works. I've just tested and it works good for me.

Need to use this `include`
[code]

[2015-12-22 19:40] kireevco commented on #119
@ivankravets no, not yet, I'm working with them on that matter.
https://github.com/sminghub/sming does work well already. By the way, it would be very nice to add sming to platform.io.

[2015-12-22 20:44] ivankravets opened #398 "Support for Sming ESP8266 framework"
@SmingHub is open Source framework for high efficiency native ESP8266 development

https://github.com/SmingHub/Sming

[2015-12-22 20:44] ivankravets commented on #119
@kireevco please open a separate issue for switching to https://github.com/kireevco/esp-alt-sdk when you will agreed it with https://github.com/esp8266/Arduino. We currently switched to their toolchain for compatibility.

As for Sming - https://github.com/platformio/platformio/issues/398. Thanks!

[2015-12-22 22:04] jasonmhite opened #399 "Incorrect readings from DS18B20 sensor on espressif"
I've got a DS18B20 temperature sensor hooked up to my ESP8266, which I'm accessing via the DallasTemperature library (number 54). I get junk readings of the sensor *only* when building with platformio. There are no error messages during the build and it flashes fine and I can do things like printing to the serial console, so I know it's not crashing or something similar... it's just the sensor rea

[2015-12-22 22:33] ivankravets commented on #399
Do you mean that use the latest PlatformIO and packages? Could you try to

* `pip install -U platformio`
* `rm -r ~/.platformio`

And then build your project. Thanks.

[2015-12-22 22:57] jasonmhite commented on #399
That's what I meant, I was using the latest version.
Just to be sure I deleted `~/.platformio` and redownloaded the espressif platform, then cleaned and rebuilt my project. It didn't fix it.

[2015-12-22 22:58] ivankravets commented on #357
Guys, you should say thanks to @bblanchon, he has just added support for PlatformIO.

Summary:

1. Please update library via `platformio lib update`
2. Use general include `#include <ArduinoJson.h>`

Related issue https://github.com/bblanchon/ArduinoJson/issues/181

[2015-12-22 22:58] #357 closed

[2015-12-22 23:07] Seep1959 commented on #391
Nothing what wrong with it, I thought it might fix it.

[2015-12-22 23:19] ivankravets commented on #394
Please reopen this issue if need help

[2015-12-22 23:34] jasonmhite commented on #399
Has anybody else gotten a DS18 or DHT22 working on the ESP8266 with platformio? They're both pretty common sensors and since I have issues with both the ESP-07 and ESP-12E it makes me think that it's not only me and there's some sort of software glitch, but I don't mind describing the specifics of my setup if you think it's something specific about the way I'm using the sensors.

[2015-12-22 23:37] ivankravets commented on #399
@jasonmhite please wait for @valeros. He will compare both firmwares (Arduino IDE vs PlatformIO). Could you provide him simple sketch which works with Arduino IDE but doesn't work with PlatformIO?

[2015-12-22 23:42] jasonmhite commented on #399
@ivankravets No problem, just speculating about the cause.

The code snippet I put in my first post is a minimal example. With the Arduino IDE it prints the correct temperature values, but compiling the same code with Platformio it prints `-127.00` (the same value it prints as when you initialize the DS18 library on an empty/wrong pin).

[2015-12-23 01:10] peterkjacobson commented on #394
So I deleted .platformio and attempted to run, and the same issue actually appeared.  It installed micronucleus properly and I can see it in the right folder, but even if I go to that folder in terminal and run micronucleus directly it says "command not found."

Here is the output from platformio:

[Tue Dec 22 19:07:44 2015] Processing digispark-tiny (platform: atmelavr, board: digispark-tiny, fra

[2015-12-23 01:11] peterkjacobson commented on #394
If I run ./micronucleus in the directory it does work.

[2015-12-23 07:26] fitzterra opened #400 "Digispark-tiny upload error"
Trying to upload to a digispark-tiny (arduino, attiny85) via micronuclues fails with:

[code]
There is no pause at the point where the message `Please unplug/plug device ...` comes up and the error appears immediately.

This is on a Xubuntu 15.10 64-bit machine with PlatformIO installed inside a `virtualenv`.

Looking at the micronucleus binary, it seems it is a 32-bit version. Not sure if this is

[2015-12-23 09:10] ivankravets commented on #400
@valeros please check that this 32-bit binary works on 64-bit host OS

[2015-12-23 09:12] ivankravets commented on #400
Similar issue #394

[2015-12-23 09:50] sticilface commented on #366
I quite often use the latest git with the arduino IDE and the esp8266. Is this possible with platformio. The pace things move at is just so quick the releases can be quite far behind. I fact I can't find out how to know what release I am using in platformio?

[2015-12-23 10:04] by2coffee commented on #366
The toochain packages are stored in `~/.platformio/packages/`. To know your release version you (probably) can `cat ~/.platformio/packages/framework-arduinoespressif/version.txt`

[2015-12-23 10:55] valeros commented on #400
Hi @fitzterra
Could you test upload with this micronucleus:
https://dl.dropboxusercontent.com/u/10025728/tool-micronucleus.zip

[2015-12-23 12:55] sticilface commented on #366
Ah found it thanks.  Now the next question... is there an easy way ?script to convert the esp8266 github to a platformio compatible dir structure...

[2015-12-23 13:14] orome commented on #356
@valeros, @ivankravets : And fwiw, `2.6.1.dev2` is downgrading `click` (to 5.; latest should be 6.2).

[2015-12-23 13:50] by2coffee commented on #366
If you mean the structure that uses folders like "user", "driver", and "include", then it's pretty straightforward since platformio's directory structure is pretty flexible (doesn't force much in terms of structure). In fact, if you just want to compile it, just cp and *c and *h files into the root `src` folder :stuck_out_tongue_closed_eyes:

If you want to maintain the existing meaning you could

[2015-12-23 14:18] sticilface commented on #366
not sure i follow your instructions there.

the version of SDK, plus the github code used for platformio is as mentioned the stable channel.  When developing I'm actually often using the latest github commit https://github.com/esp8266/Arduino with it linked into my arduino folder.

I've tried to link the various folders... cores, libraries, SDK etc... got almost there but it all fell over with the

[2015-12-23 14:32] valeros commented on #366
Hi @sticilface
Linking with ldscripts from https://github.com/esp8266/Arduino will not work.
Have you tried just place the latest framework to `.platformio\packages\framework-arduinoespressif` package?

[2015-12-23 14:43] sticilface commented on #366
Could you be more specific? by framework do you mean the latest git repo from ardunio...

I refer to gihubrepo of arduino IDE - https://github.com/esp8266/Arduino  as ESParduindo
Placing this directory structure into `.platformio\packages\framework-arduinoespressif` does not work.. at all... edit:  if i add the version.txt it actually goes all the way through to the same error as i mentioned befor

[2015-12-23 15:11] sticilface commented on #366
ok, that iram error is if i use the ardunio linker scripts.  If i revert and use the linker scripts from platformio i get this error
[code]

[2015-12-23 17:33] ivankravets commented on #366
@sticilface Sorry, I can't understand you :disappointed: Are you going to use latest Arduino Framework for ESP8266 or latest native SDK? This issue is related to native SDK.

[2015-12-23 17:35] sticilface commented on #366
ah!  doh!  my bad!  yes the arduino SDK :( sorry.... should i make a new post?

[2015-12-23 17:36] ivankravets commented on #366
@sticilface yes, please open separate issue

[2015-12-23 17:37] sticilface opened #401 "Use current head of ESP8266 Arduino"
Is there a way to use the current head from
 https://github.com/esp8266/Arduino

see here for my issues trying to do this (Posted in the wrong thread by mistake)
https://github.com/platformio/platformio/issues/366#issuecomment-166909856

Dropping in the latest code compiles but does not link correctly.

-----

Current working instruction https://github.com/platformio/platformio/issues/401#issuecom

[2015-12-23 17:38] ivankravets commented on #401
Firstly, you need to gift :star: for @valeros here https://github.com/platformio/platformio/stargazers :smile:

[2015-12-23 17:41] ivankravets commented on #394
@peterkjacobson which is your host OS? Could you try this solution https://github.com/platformio/platformio/issues/400#issuecomment-166862334 ?

[2015-12-23 17:47] peterkjacobson commented on #394
I will test when I get home tonight. Previously I had resolved this by
downloading and making the micronucleus file and putting it into the
folder.  I will confirm tonight.

On Wed, Dec 23, 2015 at 11:41 AM Ivan Kravets <notifications@github.com>
wrote:

[2015-12-23 17:58] ivankravets commented on #401
I want to note that we don't support ALPHA/BETA/STAGE or other development software because could spent spare time only the ONE framework or platform. However, I'll give a few hints which should allow you to use latest ESP8266 for Arduino.

1. Clone repo to `~/.platformio/packages/framework-arduinoespressif` and keep `version.txt` file (you can use it from stable version)
2. Try to build project
3

[2015-12-23 18:16] sticilface commented on #401
Many thanks :)

I've done all these.. actions.. I will provide what you need....

Arduino Output http://pastebin.com/6cKrVnKS
PlatformIO Output http://pastebin.com/Tr1cQv8F

It fails at the linking stage, right at the end!

compiling any sketch produces it.. The one I use us
http://pastebin.com/QtfTWEsT

Your help is much appreciated... and I know others will be helped too.  The IDE moves at such

[2015-12-23 18:24] sticilface commented on #401
I should add that this is option 4.  compile with Arduino IDE, but not with PlatformIO.

[2015-12-23 19:01] ivankravets commented on #401
Try to find difference between
[code]

:)

[build_flags](http://docs.platformio.org/en/latest/projectconf.html#build-flags) should help you.

[2015-12-23 19:15] ivankravets commented on #356
See related issue for that https://github.com/platformio/platformio/issues/349

[2015-12-23 20:17] sticilface commented on #401
Even with my PhD I spotted that one. So far though my attempts at build_flags has failed:(

I've added -lmesh to lots of the options but it still fails. I'm a beginner! Never used anything apart from arduino IDE... Another clue please...

[2015-12-23 20:45] CraigJPerry commented on #397
Awesome, thanks @valeros i confirm it works for me now:

    $ platformio update
    There is a new version 2.6.3 of PlatformIO available
    ...

    Updating toolchain-atmelavr package:
    Versions: Current=2, Latest=3    [Out-of-date]
    Uninstalling toolchain-atmelavr package:        [OK]
    Installing toolchain-atmelavr package:
    Downloading
    Unpacking
    ...

    $ ls -l .platformi

[2015-12-23 20:52] ivankravets commented on #401
Don't make any modifications to your projects. The problem is in LD script. I've just created separated branch with LD scripts. Please use it https://github.com/platformio/platformio-pkg-ldscripts/tree/esp8266_stage

[2015-12-23 20:58] ivankravets commented on #401
I updated comment https://github.com/platformio/platformio/issues/401#issuecomment-166958952

[2015-12-23 21:05] ivankravets commented on #397
@CraigJPerry thanks for the report. If you like PlatformIO we would be thankful for the :star: https://github.com/platformio/platformio/stargazers

[2015-12-23 21:05] #397 closed

[2015-12-24 00:36] andriyadi opened #402 "ESP8266 RTOS SDK"
I'm about to adopt ESP8266 native SDK, and since my use cases require parallelism, it would be great to adopt RTOS SDK. I've found this project, [ESP-OPEN-RTOS](https://github.com/SuperHouse/esp-open-rtos), somehow better than the official Espressif's.

Would it be possible to support this kind of SDK into Platformio?

Thanks in advance. Have a great holiday guys!

[2015-12-24 00:47] sticilface commented on #401
That worked purrrrfectly.  Thank you

[2015-12-24 01:22] peterkjacobson commented on #394
I am on 64 bit Ubuntu 15.10.  Replacing the micronucleus file with a 64 bit version fixed the problem and it uploads as expected.

[2015-12-24 04:51] chrisbalmer opened #403 "Add board type/support for Adafruit 32u4 based Feather boards"
I tried using the flora8 board settings for an Adafruit Feather BLE board as they have the same MCU (32u4, 8Mhz, 32K flash, 2K ram, 3.3v). However during the upload, the serial port disappears briefly and platformio reports that the port doesn't exist.

**Build Attempt**

[code]

**During Build Serial Port Disappears**

[code]

If I init the project as a "sparkfun_promicro8" board (same MCU accord

[2015-12-24 14:42] fitzterra commented on #400
I got it to work by doing the following:
* installing `lib32stdc++6` from the package manager - I doubt if this has anything to do with the result, but saw somewhere that it may be needed for the USB support
* copying the 64-bit micronucleus from the Digistump v2.04a library installed by the Arduino library installer.

Here are my current `~/.platformio/packages/tool-micronucleus` dir:

[code]

Th

[2015-12-24 16:16] valeros commented on #391
@Seep1959 Please, update your `st-link` package via `platformio update`

[2015-12-24 16:17] valeros commented on #400
@fitzterra Please, update your `tool-micronucleus` package via `platformio update`

[2015-12-24 16:18] valeros commented on #394
@peterkjacobson  Please, update your `tool-micronucleus` package via `platformio update`

[2015-12-24 17:30] valeros commented on #399
Hi @jasonmhite
Does your sketch work fine with stable framework 2.0.0 (not 2.0.0-rc2)?

[2015-12-24 18:39] fitzterra commented on #400
@valeros A great big thank you! After the update I now have a 64-bit micronucleus and the `unplug/replug` pause and timeout seems to work perfectly. I can only test and actual flash tomorrow and will report here if it does not work, but am confident the issue is now resolved.

A great big thank you for your effort on Christmas Eve (or Christmas Day, depending where you are :-) ) - much appreciated

[2015-12-24 21:09] #403 closed

[2015-12-24 21:11] ivankravets commented on #403
Please install http://docs.platformio.org/en/latest/installation.html#d-development-version and test it. Don't forget to `platformio update`.

[2015-12-24 21:15] ivankravets commented on #400
@fitzterra please reopen this issue if it doesn't work.

[2015-12-24 21:17] ivankravets commented on #400
@fitzterra I would recommend you to gift @valeros :star: here https://github.com/platformio/platformio/stargazers. He likes them :blush: :christmas_tree:

[2015-12-24 21:17] #400 closed

[2015-12-24 21:18] ivankravets commented on #394
@peterkjacobson please reopen this issue if it doesn't work.

P.S: Please give us a :star: here https://github.com/platformio/platformio/stargazers :blush: :christmas_tree:

[2015-12-24 21:18] #394 closed

[2015-12-24 21:18] ivankravets commented on #391
@Seep1959 please reopen this issue if it doesn't work.

[2015-12-24 21:18] #391 closed

[2015-12-25 03:38] chrisbalmer commented on #403
Works perfectly now! Thanks!

[2015-12-25 13:36] framlin commented on #393
yepp, it does work now

[2015-12-25 13:57] ivankravets commented on #393
Thanks for the report. Would be thankful for the :star: https://github.com/platformio/platformio/stargazers

Happy Holidays and Merry Christmas! :christmas_tree:

[2015-12-25 18:34] grzegorzshub opened #405 "unable to install platformio"
Hello
I'm trying to install the platormio and keep getting the same error:
sudo python -c "$(curl -fsSL https://raw.githubusercontent.com/platformio/platformio/master/scripts/get-platformio.py)"

==> Installing Python Package Manager ...
Requirement already up-to-date: pip in /Library/Python/2.7/site-packages
[SUCCESS]

==> Installing PlatformIO and dependencies ...
Collecting platformio
  Downloa

[2015-12-25 18:41] ivankravets commented on #405
Hi,

Try this
[code]

[2015-12-25 18:44] grzegorzshub commented on #405
Hi
I'm sorry for hassle, just found:
http://docs.platformio.org/en/latest/faq.html#pip-scons-error-option-single-version-externally-managed-not-recognized
Reinstalling scons sorted the issue out.
Thank you, much appreciate.
Best

[2015-12-25 18:46] ivankravets commented on #405
Did you resolve it?

[2015-12-25 18:50] grzegorzshub commented on #405
yes, all is working fine so far

[2015-12-25 18:52] ivankravets commented on #405
Could you give us a :star: here https://github.com/platformio/platformio/stargazers? Thanks!

[2015-12-25 19:03] ivankravets commented on #405
Thanks! Happy Holidays and Merry Christmas! :christmas_tree:

[2015-12-25 19:03] #405 closed

[2015-12-26 12:49] ivankravets opened #406 "Clean-up SCons requirements from source code and docs"
Done https://github.com/platformio/platformio/commit/9312ca7f0dda6d00a5cc23d6e6ed6e57f455ac69

- [x] FAQ http://docs.platformio.org/en/latest/faq.html#scons-is-not-installed-in-your-system
- [x] FAQ http://docs.platformio.org/en/latest/faq.html#pip-scons-error-option-single-version-externally-managed-not-recognized
- [x] Remove ``pip install -U pip setuptools`` from docs and site

<bountysource-pl

[2015-12-26 13:26] crushedice2000 commented on #382
:+1:

[2015-12-26 19:24] #319 closed

[2015-12-26 19:29] ivankravets commented on #319
@JohnDBodkin please install development version and try it http://docs.platformio.org/en/latest/installation.html#d-development-version

I'm waiting feedback from you. Thanks!

Happy Holidays and Merry Christmas!

[2015-12-27 16:53] ivankravets commented on #382
If user needs to enter all these vars then he will use Make :) PlatformIO should simplify all these things. I'm working on it.

[2015-12-27 18:24] crushedice2000 commented on #382
@ivankravets: :smile_cat:  Thank you very much! This will be a very great Christmas present for many of us!

[2015-12-27 23:23] ivankravets commented on #382
Guys, let's test it!

* https://github.com/platformio/platformio/commit/cae5f1f5532fc34cb541cb3aaed83c752389ef4e
* https://github.com/platformio/platformio/commit/2c4c3a12ea7dc1abbea5f8bc843c61a027a55ce3

Docs http://docs.platformio.org/en/latest/platforms/espressif.html#uploading-files-to-file-system-spiffs

P.S: Need to install the latest development version http://docs.platformio.org/en/latest/

[2015-12-28 08:51] crushedice2000 commented on #382
@ivankravets: Thank you very much! I'll travel now, however I'll try later (in 6h or tomorrow).

This its the better :gift: for us!

[2015-12-28 11:09] ivankravets opened #408 "Unit testing for embedded"
The issue is an addition to #258. Requested by @Oaz, @kireevco.

How will it work? Nothing new here, general [Unit testing design](https://en.wikipedia.org/wiki/Unit_testing)

1. Developer writes tests (using assert function/macro TBD) and places them into `test` folder
2. Run tests `pio test`

PlatformIO will use each `test` as source code for the new project and the source code of existing proje

[2015-12-28 11:40] ivankravets commented on #408
Tip: @ThrowTheSwitch https://github.com/ThrowTheSwitch/Unity

[2015-12-28 15:44] itsjustvenky commented on #382
@ivankravets I will test it sometime tomorrow and get back to you. Thank you.

[2015-12-29 02:58] jasonmhite commented on #399
Just wanted to say I haven't forgotten about this, but I'm on travel until Jan 1. I'll try the release version of the 2.0 framework then.

[2015-12-29 03:30] itsjustvenky commented on #382
Upload to FS seems to writing at wrong address

[code]

The address is correct when building spiffs images, but while writing it is overwriting x0000000

[code]

This is from arduino ide

[code]

Note : Please ignore the sizes as the files (spiffs) are different in "arduino ide" project and platformio project.

[2015-12-29 05:39] itsjustvenky commented on #398
This will be a great addition to PlatformIO

[2015-12-29 05:46] itsjustvenky opened #409 "add : thingspeak library"
@ivankravets I request you to add this library to platformio.

This library has been improved and now works with ESP8266 too.

https://github.com/mathworks/thingspeak-arduino

Ref :
http://community.thingspeak.com/2015/10/official-thingspeak-library-for-arduino-and-particle/?platform=hootsuite

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com

[2015-12-29 12:49] ivankravets commented on #382
@itsjustvenky I've fixed it. Try PlatformIO 2.7.0.dev7

[2015-12-29 12:58] ivankravets commented on #409
Next time please post issue here https://github.com/platformio/platformio-libmirror/issues

[2015-12-29 13:07] ivankravets commented on #409
Done https://github.com/mathworks/thingspeak-arduino/pull/4

[2015-12-29 13:07] #409 closed

[2015-12-29 13:09] ivankravets commented on #382
@crushedice2000, @comino could you test it?

[2015-12-29 13:27] crushedice2000 commented on #382
@ivankravets: Installing...

[2015-12-29 14:43] FWeinb opened #410 "Support versioning librarys via semver"
For proper versioning adapting [semver](http://semver.org/) would be great. Currently it looks like the commit hash is used to identify the version of a library.

I think this would greatly improve the ecosystem for using third-party libraries with platformio.

[2015-12-29 17:34] eerimoq opened #412 "New Framework - Simba"
Hello guys!

I've been working on an RTOS with a build framework, called Simba, with native, AVR and ARM toolchains, package handler, etc. However, it's useless that I provide my own toolchains and package handlers if Simba could be integrated into PlatformIO instead. If you want to have a look at Simba, see http://simba-os.readthedocs.org/en/latest/ and https://github.com/eerimoq/simba.

I'm sure

[2015-12-29 17:38] FWeinb opened #413 "Depend on a specific version of a library"
This is probably related to #410. To support reproducible builds and work on projects that depend on the same library but a different version it would be best to support a way of installing library with the Project and not as a global package of platformio. To get this working one has to define a version range in addition to the library in [lib_install](http://docs.platformio.org/en/latest/project

[2015-12-29 17:41] FWeinb opened #414 "Make it possible to install libraries by name"
It would be much easier to just install a library by name instead of a cryptic id number. And having names in the `platformio.ini` would also improve readability.

[2015-12-29 17:47] ivankravets commented on #414
I don't remember where I've written an answer for this question. The problem here is that PlatformIO Library Registry can contain more than one library with the same name. For example, it can have different `WiFi` libraries per platforms.

As solution, nee to allow to install library by name but when more than libs are found, then ask user which lib to install. Or use like `WiFi#13`, where is 100%

[2015-12-29 17:55] FWeinb commented on #414
Can it be guaranteed that the combination of platform + libraryname is unique? If that is the case, the package manager could derive the platform from the `platformio.ini` and try to search for the specific package. How is this currently handled, can a project using board=uno and board=esp01 depend on a library that only support the uno?

[2015-12-29 18:00] ivankravets opened #415 "Check library compatibility with project environment before building"
If library contains `library.json`, then need to check if it is compatible with the build framework/platform.

[2015-12-29 18:00] ivankravets commented on #414
This is not PlatformIO guaranty. The owner of the lib specifies which frameworks and platforms are supported. Currently, there are no any checks for compatibility. PlatformIO builds all that user asks. See #415

[2015-12-30 00:29] georgkreimer commented on #382
I'm getting this error here:

▶ platformio run --target uploadfs
[Wed Dec 30 01:27:03 2015] Processing huzzah (platform: espressif, board: huzzah, framework: arduino, build_flags: -Wl,-Tesp8266.flash.4m.ld)
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
"/Users

[2015-12-30 00:36] ivankravets commented on #382
Could you try for test to upload SPIFFS image using Arduino IDE? https://github.com/esp8266/Arduino/blob/master/doc/filesystem.md#flash-layout

Thanks

[2015-12-30 01:05] georgkreimer commented on #382
Looks like that doesn't work either. Hmm, might be my cheap USB UART (CH340) that has only RX, TX, VCC and GND connected. Though uploading the sketch works fine.

Sketch uses 249,920 bytes (23%) of program storage space. Maximum is 1,044,464 bytes.
Global variables use 39,798 bytes (48%) of dynamic memory, leaving 42,122 bytes for local variables. Maximum is 81,920 bytes.
Uploading 254064 bytes fr

[2015-12-30 01:19] ivankravets commented on #382
Could you try other LD scripts? Like `esp8266.flash.4m1m.ld` http://docs.platformio.org/en/latest/platforms/espressif.html#id17

I recommend to ask help here https://gitter.im/esp8266/Arduino

[2015-12-30 02:21] igrr commented on #382
Probably 3M flash erase taking longer than 10s timeout. This is really an
esptool bug.
If you select smaller FS (like 4m1), this will probably work.

On Wed, Dec 30, 2015, 09:20 Ivan Kravets <notifications@github.com> wrote:

[2015-12-30 05:35] itsjustvenky commented on #382
@ivankravets  I just tested the SPIFFS upload with ESP-01 (1m-512FS) and ESP-12E (1m 3M FS) and it works without any issue. The 3M took little time ([SUCCESS] Took 316.21 seconds) for a payload

[code]

This is test with platformio version : PlatformIO, version 2.7.0.dev7

Right now I have tested only UART method. I will get back to soon on the remote FS upload.

thanks

[2015-12-30 05:43] ivankravets commented on #382
@itsjustvenky you can't upload SPIFFS image over OTA. It's impossible.

[2015-12-30 05:54] itsjustvenky commented on #382
@ivankravets  Its possible
[code]

[2015-12-30 05:57] itsjustvenky commented on #382
@igrr Can you please shed some light on the OTA SPIFFS. thank you.

[2015-12-30 06:04] ivankravets commented on #382
@itsjustvenky have you tried it? I don't know how does work OTA in ESP8266. From the official docs `espota` writes data to temporary region of the flash. How you are going to upload 3M of data when this region is small?

What is more, `espota` doesn't allow to specify direct address where data should be saved. The conclusion, OTA is ready only for firmware uploading.

[2015-12-30 06:06] itsjustvenky commented on #382
@ivankravets Yes I just tried it
[code]

and  I can confirm the SPIFFS image is uploaded correctly. I can clearly the contents which I have uploaded in the FS.

[2015-12-30 06:19] ivankravets commented on #382
@igrr that is true as for SPIFFS over OTA?

@Itsjustvenky which size of SPIFFS image have you just uploaded?

[2015-12-30 06:20] itsjustvenky commented on #382
Here is the one with 3M SPIFFS image uploaded to ESP-12E (1m-3m-fs)
[code]

[2015-12-30 06:23] itsjustvenky commented on #382
here is the output from esp-12e

BEFORE UPLOAD (see the FS files list)

[code]

UPLOAD OTA SPIFFS UPLOAD

[code]

[2015-12-30 06:25] itsjustvenky commented on #382
@ivankravets I don't think the spiffs.bin image is loaded into temporary region. I am 100% sure that the image is directly copied into correct FS region directly OTA.

[2015-12-30 06:42] itsjustvenky opened #416 "Bug : Reinitialization of platform doesn't remove old platform info."
[code]
and I see this info. inside platformio.ini
[code]

Now again I tried the same initialization command with different ESP type
[code]
and now I see both platform's listed inside platformio.ini
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29476867-bug-reinitialization-of-platform-doesn-t-remove-old-platform-info?utm_cam

[2015-12-30 06:50] itsjustvenky commented on #409
@ivankravets  thanks.

[2015-12-30 06:51] itsjustvenky commented on #412
@eerimoq I will give a try. thanks.

[2015-12-30 07:03] igrr commented on #382
That's true, OTA upload overwrites SPIFFS directly. That's not very good
from reliability point of view, but that is the only solution for most
flash/fs size combinations.

On Wed, Dec 30, 2015, 14:25 Venkatesh <notifications@github.com> wrote:

[2015-12-30 07:17] itsjustvenky commented on #382
@igrr thank you. So ArduinoOTA knows where to write the spiffs.bin right (I mean to FS memory location address) ?

[2015-12-30 08:09] eerimoq commented on #412
@itsjustvenky I've just started to migrate the Make based build system to `Scons`. As the first step I simply create one ``.sconscript``-file for every ``.mk``-file to keep the file structure the same. If it is the `Scons` way of structuring a build system, I don't know. It works for now.

Anyways, let's keep in touch so we don't make the same changes.

Thanks.

[2015-12-30 10:25] ivankravets commented on #416
This is not a bug, this a feature. The idea of `platformio.ini` is to have more that one environment. See doc http://docs.platformio.org/en/latest/userguide/cmd_init.html

[2015-12-30 10:25] #416 closed

[2015-12-30 10:27] georgkreimer commented on #382
@ivankravets I tried 1M SPIFFS and that worked. (See log below)

Any idea how ESPlorer does their uploads? I know they don't upload a binary but I remember the uploads their were stable even for big files compared to other tools.

[SPIFFS] data   : /Users/georgkreimer/Library/Arduino15/packages/esp8266/hardware/esp8266/2.0.0-rc2/libraries/DNSServer/examples/CaptivePortal/data
[SPIFFS] size   : 100

[2015-12-30 10:41] ivankravets commented on #382
Thanks for the reports. How about to avoid multiple new targets and implement new target named `mkspiffs` and then use it in pair with `upload`/`uploadota`? I mean that instead of `upload`, `uploadota`, `uploadfs`, `uploadfsota` make the next:

* `mkspiffs` - make SPIFFS image
* `upload` - if `mkspiffs` is specified then upload it, otherwise build firmware from the source code (generic way) and up

[2015-12-30 10:41] itsjustvenky commented on #382
@georgkreimer  ESPlorer basically talks to nodemcu firmware on ESP and it uses the same SPIFFS principle internally.

[2015-12-30 10:50] itsjustvenky commented on #382
@ivankravets The 4 option's are just perfect. For OTA "upload port" is mandatory. thanks.

[2015-12-30 10:56] ivankravets commented on #382
@itsjustvenky  `platformio run -t mkspiffs -t upload` looks so long? :)

[2015-12-30 10:56] itsjustvenky commented on #382
Note : When uploading sketch or SPIFFS image via UART, the ESP should be in firmware mode (GPIO0 --> Gnd) , this is not needed incase of OTA (sketch as well as SPIFFS), just need to be in normal mode.

[2015-12-30 11:00] itsjustvenky commented on #382
@ivankravets I am fine with it.

Actually we really don't need just making "spiffs" image, unless somebody wants to check the size of the spiffs image size before upload.

If we make the spiffs image, then it should be uploaded to ESP via UART or OTA.

[2015-12-30 11:01] georgkreimer commented on #382
Just as thought... wouldn't OTA upload just mean that you use a different port than USB. So maybe you could have a wlan 'port' and keep upload and uploadfs as targets.

[2015-12-30 12:11] eerimoq commented on #412
The migration to Scons continued for ARM. All targets except the build target has been left untouched. That is, targets for test, code coverage, static code analysis, etc. I guess those should be migrated as well.

eerimoq/simba@6e320bc63d091ddbf2d371b738853a1c0f4667f0

[2015-12-30 12:21] ivankravets commented on #382
Guys, I decided to significantly simplify work PlatformIO. There are will no be here 4 or 6 new targets. I've added only the one new target `uploadfs`. The rest PlatformIO will handle on-the-fly. If you don't specify `upload_port/--upload-port`, then will be used uploading using Serial port, otherwise will be used OTA. For example,

* `platformio run -t upload` Upload firmware
* `platformio run -t

[2015-12-30 12:21] ivankravets commented on #382
All detailed information is located in documentation http://docs.platformio.org/en/latest/platforms/espressif.html#uploading-files-to-file-system-spiffs

[2015-12-30 12:34] eerimoq commented on #408
This is how I normally writes tests: https://github.com/eerimoq/simba/blob/master/tst/kernel/event/main.c. It is very basic and works very well for me. There are plenty of examples in the tst-folder in that repository.

[2015-12-30 12:40] ivankravets commented on #408
@eerimoq could you provide test-output from AVR?

[2015-12-30 12:40] itsjustvenky commented on #382
@ivankravets thanks. I have a question here.

The same **--upload-port** can be used to set the other serial port (if we have more than one)  too right ? so then do you code differentiate between _ip-address/url_ address from UART port ?

We rarely use the "ip-address" notation to update a ESP via OTA, instead we use **mDNS**.
For example, a ESP can be address with name **http://esp8266-A12343.loc

[2015-12-30 12:44] ivankravets commented on #382
@itsjustvenky in current scheme only IP address is allowed. If `upload port` is valid IP address then PlatformIO uses OTA.

[2015-12-30 12:45] ivankravets commented on #382
@itsjustvenky Do you have any idea how to find difference between `COM1` and `COM2`, where `COM2` is parked in `hosts` to `192.168.0.255`?

[2015-12-30 12:50] eerimoq commented on #408
Tonight, when I get home. I'll add output for Arduino Nano and Arduino Due. It's pretty much the same as the above though. Ideally, the output should be the same independently of what hardware it is executed on. Except cases where a device has too little memory and the whole test suite will not fit.

[2015-12-30 12:56] ivankravets commented on #408
@eerimoq I agree with you. Now need to decide how to implement it: write own UNIT Tests framework or use existing solutions, like @ThrowTheSwitch https://github.com/ThrowTheSwitch/Unity

[2015-12-30 12:59] itsjustvenky commented on #382
@ivankravets if you are talking about mapping COM ports to "IP Address", then its not possible (afaik).

So it is possible for you add code to identify addresses that start with "http://" are also directed to OTA.

[2015-12-30 13:04] ivankravets commented on #382
@itsjustvenky No here `http`.This is protocol. I've just implemented `mDNS.local` in PlatformIO 2.7.0.dev11. Please try it.

Guys, is it finish with this issue? Because we can improve it 1 year.

[2015-12-30 13:07] itsjustvenky commented on #382
@ivankravets that's all I need. Thank you. Lets see other's opinion on this.

Happy New Year!!!

[2015-12-30 13:08] ivankravets commented on #382
@itsjustvenky Thanks, you too! :christmas_tree:  Don't forget to re-test that mDNS :)

[2015-12-30 13:08] itsjustvenky commented on #382
Sure.. I will update you with results.

[2015-12-30 13:12] crushedice2000 commented on #382
@ivankravets @itsjustvenky: I think that this issue is already prepared to be closed. I think that the SPIFFS is done and the OTA system was greatly improved. This issue served its purpose (and more). I :+1:  to close this.

@ivankravets: :christmas_tree: Thank you very much! PlatformIO is building up very fast. I'll try to know how your code works to try to help you with a few PRs :smile:

[2015-12-30 13:17] ivankravets commented on #382
Guys, all right. I mean that need to write all requests in the one post because is hard for me to implement new feature with each new comment :blush: More than 50 comments in this issue. Looks like "forum".

Need to start work on PlatformIO 3.0 https://github.com/platformio/platformio/milestones/3.0.0

I hope that I can resolve all issues/requests as for PlatformIO Core. I need help with adding ne

[2015-12-30 13:30] eerimoq commented on #408
It's probably useful for many programmers to get the test framework generated when the create  a project, but, also, I think platformio should provide a high level API that makes it possible to communicate with platformio with any test framework.

[2015-12-30 13:36] ivankravets commented on #408
Good. I'll wait output from AVR platform

[2015-12-30 14:29] igorjan opened #417 "Problems with esp8266 OTA"
When I  try the OTA example found here:
https://github.com/esp8266/Arduino/blob/master/libraries/ArduinoOTA/examples/BasicOTA/BasicOTA.ino

I encounterd when uploading the OTA script didn’t seem to recognize my input IP. I was getting:
14:21:38 [CRITICAL]: Not enough arguments.

It seems on windows you must specify upload port in ” ” like this.
upload_port = “192.168.1.40”

When I set the IP in "

[2015-12-30 14:44] itsjustvenky commented on #382
@ivankravets I have tested these following function's and all are working well as expected.

1) -t upload
2) -t uploadfs
3) -t upload --upload-port 192.168.0.105
4) -t uploadfs --upload-port 192.168.0.105
5) -t upload --upload-port venkatesp.local
6) -t upload --upload-port venkatesp.local

[2015-12-30 14:44] #382 closed

[2015-12-30 14:46] ivankravets commented on #382
@itsjustvenky Thanks a lot! :+1:

Which is type of your OS? Could someone test it on Windows? I've just received new issue https://github.com/platformio/platformio/issues/417.

[2015-12-30 14:47] itsjustvenky commented on #382
@ivankravets I have tested this on Ubuntu 14.04.3 LS Desktop.

[2015-12-30 14:53] itsjustvenky commented on #417
@igorjan  Can you try testing "ESPWebServer/HelloSever.ino" (inarduino ide examples) and see if you can access the mentioned IP-Address and also try to ping the ip-address and see if you get any response.

[2015-12-30 15:03] igorjan commented on #417
@itsjustvenky the HelloServer.ino works without a problem. I get "hello from esp8266!" in the web borwser.

I can ping the IP, also I tested the UDP port 8266 on the ESP which is used for OTA and it seems to be open.

[2015-12-30 15:07] itsjustvenky commented on #417
@igorjan  which version of platformio are you using ?

[2015-12-30 15:08] igorjan commented on #417
@itsjustvenky platformio version 2.6.3

[2015-12-30 15:13] ivankravets commented on #417
@igorjan try to specify IP as http://docs.platformio.org/en/latest/projectconf.html#upload-port . Don't pass it to console as argument.

[2015-12-30 15:26] igorjan commented on #417
Here you can see 3 attempts with difrent definitions of upload-port.

**Attempt 1:**
C:\Igor_i\ESP8266\Project1>platformio run --target upload --upload-port 192.168.1.40
[12/30/15 16:19:27] Processing nodemcu (platform: espressif, board: nodemcu, framework: arduino)
-------------------------------------------------------------------------------
BeforeUpload(["upload"], [".pioenvs\nodemcu\firmware.

[2015-12-30 15:29] ivankravets commented on #417
Please read my comment above https://github.com/platformio/platformio/issues/417#issuecomment-168017241. Don't pass IP to terminal. See example http://docs.platformio.org/en/latest/platforms/espressif.html#over-the-air-ota-update

Add this line to your `platformio.ini`
[code]

[2015-12-30 15:29] skorokithakis commented on #417
Isn't this a windows/click/esptool problem? If windows tokenizes periods as separate tokens, you need to quote it if you want to pass it in the command line.

[2015-12-30 15:32] igorjan commented on #417
@ivankravets sorry I misunderstood you. I was doing it with platformio.ini file all along.

[2015-12-30 15:33] ivankravets commented on #417
@igorjan please wait for the new development version. I'll ask you to test it. 1-2mins

[2015-12-30 15:34] ivankravets commented on #417
@igorjan could you paste directly yo terminal this
[code]

Does it work?

[2015-12-30 15:40] uetchy commented on #395
:+1:

[2015-12-30 15:41] ivankravets commented on #395
@uetchy do you have any problems with PlatformIO installation?

[2015-12-30 15:42] igorjan commented on #417
@ivankravets
c:\Users\igor\.platformio\packages\tool-esptool>esptool.exe -vv -cd nodemcu -cb
115200 -cp "192.168.1.40" -cf C:\Igor_i\ESP8266\Project1\.pioenvs\nodemcu\firmwa
re.bin
esptool v0.4.6 - (c) 2014 Ch. Klippel <ck@atelier-klippel.de>
        setting board to nodemcu
        setting baudrate from 115200 to 115200
        setting port from COM1 to 192.168.1.40
        espcomm_upload_file

[2015-12-30 15:44] ivankravets commented on #417
@igorjan STOP STOP :no_good:

Did you upload OTA sketch before make OTA uploading?

[2015-12-30 15:45] ivankravets commented on #417
No here problems with IP. Looks like you didn't upload OTA sketch and din't configured it.

[2015-12-30 15:45] itsjustvenky commented on #417
damn... we totally forgot the basic question...

[2015-12-30 15:45] georgkreimer commented on #382
@ivankravets Mac OS X El Capitan is mostly working except that known 3M SPIFFS issue. Unfortunately OTA has the same issue.

*first run for 1M SPIFFS* (build_flags = -Wl,-Tesp8266.flash.4m1m.ld)

Code/test ▶ platformio run --upload-port 192.168.4.1 -t uploadfs
[Wed Dec 30 16:36:36 2015] Processing huzzah (platform: espressif, board: huzzah, framework: arduino, build_flags: -Wl,-Tesp8266.flash.4m1m

[2015-12-30 15:46] ivankravets commented on #417
@itsjustvenky :) :cocktail: New Year...

[2015-12-30 15:46] namoaton commented on #417
[esp_OTA.zip](https://github.com/platformio/platformio/files/74949/esp_OTA.zip)

[2015-12-30 15:52] igorjan commented on #417
Yes I did have the OTA example uploaded via serial before trying OTA. I even changed some strings in the serial.print so I'm sure that the correct sketch is uploaded.

[2015-12-30 15:53] uetchy commented on #395
@ivankravets No. But it's slight issue around versioning of Python.
I'm using mainly Python 3 and I don't want to switch Python version to 2.x.

Homebrew can separately handle Python version required by packages. It means I can use platformio without switching Python.
That's why I need Homebrew support!

[2015-12-30 15:54] ivankravets commented on #417
@igorjan could you make OTA uploading using Arduino IDE? See https://github.com/esp8266/Arduino/blob/master/doc/filesystem.md#uploading-files-to-file-system

[2015-12-30 15:56] igorjan commented on #417
@namoaton tried your project it is the same

[2015-12-30 15:57] igorjan commented on #417
@ivankravets Will try arduino but have to install it first

[2015-12-30 15:58] ivankravets commented on #395
@uetchy Could you create Homebrew's formula for `platformio`. The only one dependency should be `pip2`.

[2015-12-30 16:05] itsjustvenky commented on #417
@igorjan https://github.com/esp8266/Arduino/blob/master/doc/ota_updates/ota_updates.md

Try this arduino build : Arduino-PR-4107-BUILD-421

else you need to manually set the IP-Address in arduino preference files.

[2015-12-30 16:05] itsjustvenky commented on #417
https://github.com/esp8266/Arduino/blob/master/doc/ota_updates/ota_updates.md#arduinoota

[2015-12-30 16:05] ivankravets commented on #382
Maybe set `esp8266.flash.4m1m.ld` as default LD script? Currently by default is `esp8266.flash.4m.ld`

@itsjustvenky do you have the same problems with uploading SPIFFS+OTA for 3m?

[2015-12-30 16:05] itsjustvenky commented on #382
@ivankravets No

[2015-12-30 16:07] ivankravets commented on #382
@itsjustvenky which board did you test? Looks like problem is only with `board: huzzah`?

[2015-12-30 16:09] itsjustvenky commented on #382
@georgkreimer is this "192.168.4.1" address related to STA or AP ?

[2015-12-30 16:09] uetchy commented on #395
Actually, I already created [Homebrew Formula for platformio](https://gist.github.com/uetchy/e752ff8f8315a763b7b8) based on [official reference](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Python-for-Formula-Authors.md).

But it failed with error:
[code]

[2015-12-30 16:10] itsjustvenky commented on #382
ESP-12E basic board (not nodemcu)

[2015-12-30 16:12] ivankravets commented on #395
1. Why do you specify all packages manually?
2. Could `platformio` be installed via `pip`? It uses it.

P.S: SCons was removed in PlatformIO 2.7.0, which will be released today.

[2015-12-30 16:15] georgkreimer commented on #382
@itsjustvenky AP. I used the OTA-mDNS-SPIFFS.ino example. Using a huzzah module and [this for UART](http://www.aliexpress.com/item/USB-to-TTL-converter-UART-module-CH340G-CH340-3-3V-5V-switch/32395144201.html) All I had taken with me on vacation. I can test with other setups in like 3 days.

[2015-12-30 16:15] itsjustvenky commented on #382
@georgkreimer  can you paste the output from esp console (connect to UART) when doing OTA.

[2015-12-30 16:22] georgkreimer commented on #382
@itsjustvenky Sure.

�BBH�s���� ��������V������d$��|�l�<�l�c|����;�c�c��gn�dog���c8��lrl;lx�o��$��#g�|d����#��og�l��l �ng$`'{���g��l s��'��d`�n�

Chip ID: 0xA6046D
Hostname: ESP8266-OTA-a6046d
Wait for WiFi connection.
....................
Can not connect to WiFi station. Go into AP mode.
IP address: 192.168.4.1

See here. Left side platformIO, right side screen on UART

<img width="1670" alt="scr

[2015-12-30 16:23] itsjustvenky commented on #382
@georgkreimer  There are chances that you might not have 4M flash on your ESP-12 (huzzah)

[2015-12-30 16:26] georgkreimer commented on #382
@itsjustvenky You are probably right. Would make sense since it dies at 34%. I will check how much it really has and report back.

[2015-12-30 16:26] itsjustvenky commented on #382
you can check using this
[code]

[2015-12-30 16:31] igorjan commented on #417
OK tried the arduino and it works without a problem. The sketch is the same.

[2015-12-30 16:32] uetchy commented on #395
1. `resource "something"` is necessary for [avoiding dependency collision](https://github.com/Homebrew/homebrew/blob/master/share/doc/homebrew/Python-for-Formula-Authors.md#dependencies) around `site-packages`.
2. Because of Homebrew policy. Homebrew Formula should build softwares from source.

I think this comment looks like the problem.
https://github.com/Homebrew/homebrew-python/issues/132#issu

[2015-12-30 16:32] georgkreimer commented on #382
;ld��|�$�|�$�c|ǃ��{�c�c��og�l'o���#x��l{l{$x�o��d��cg�|lČ��c��'o�$��l`�'od`gs���o��$`r��g��l`�o�

Chip ID: 0xA6046D
Hostname: ESP8266-OTA-a6046d
FlashChipSize: 4194304

[2015-12-30 16:34] ivankravets commented on #395
Cool. Could you remove `scons` from requirement list and re-test?

[2015-12-30 16:35] ivankravets commented on #417
@igorjan print here `platformio --version``

[2015-12-30 16:37] itsjustvenky commented on #382
I should try the OTA in AP mode.

[2015-12-30 16:39] itsjustvenky commented on #382
@georgkreimer see this : https://github.com/esp8266/Arduino/issues/785

[2015-12-30 16:40] igorjan commented on #417
c:\Users\User\.platformio\packages\tool-esptool>platformio --version
PlatformIO, version 2.6.3

[2015-12-30 16:44] ivankravets commented on #417
@igorjan please install the latest development version http://docs.platformio.org/en/latest/installation.html#d-development-version

I've just made a few changes for you.

[2015-12-30 16:48] georgkreimer commented on #382
Tried `ESP.getFlashChipRealSize()` but after reboot serial output is just gibberish.

I have another huzzah at home. Will test it when I'm back. Maybe I should open a separate issue when I can confirm it affects huzzah modules. So let's close this here.

[2015-12-30 16:49] igorjan commented on #417
Now I have: PlatformIO, version 2.7.0.dev12

But the problem is the same

"C:\Users\igor\.platformio\packages\tool-esptool\esptool" -vv -cd nodemcu -cb 115200 -cp "192.168.1.40" -cf .pioenvs\nodemcu\firmware.bin
esptool v0.4.6 - (c) 2014 Ch. Klippel
setting board to nodemcu
setting baudrate from 115200 to 115200
setting port from COM1 to 192.168.1.40
espcomm_upload_file
stat .pioenvs\nodemcu\firmw

[2015-12-30 16:51] ivankravets commented on #417
@igorjan I've jot this error. Sorry, hard day is today. :sad:

Please wait for the new build

[2015-12-30 16:56] eerimoq commented on #408
**Arduino Nano**

    erik@erik-PC ~/simba/simba/tst/kernel/event
    $ make -s BOARD=arduino_nano test
    Generating settings.bin from ../../../make/settings.ini
    Generating settings.h from ../../../make/settings.ini
    Compiling main.c
    Compiling ../../../src/boards/arduino_nano/board.c
    Compiling ../../../src/mcus/atmega328p/mcu.c
    Compiling ../../../src/kernel/chan.c
    Compilin

[2015-12-30 17:01] ivankravets commented on #417
@igorjan try to reinstall the latest PlatformIO 2.7.0.dev13

[2015-12-30 17:03] itsjustvenky commented on #417
esptool doesn't do OTA, its only for  local ports and not ip-address.

espota.py is the tool we need to try.

 python espota.py -i 192.168.1.40 -p8266 -f .pioenvs\nodemcu\firmware.bin

[2015-12-30 17:04] itsjustvenky commented on #417
@igorjan  can you give us the exact command you are trying ?

[2015-12-30 17:07] igorjan commented on #417
C:\Igor_i\ESP8266\Project1>platformio run --target upload

[12/30/15 18:06:01] Processing nodemcu (platform: espressif, upload_port: "192.168.1.40", board: nodemcu, framework: arduino)
-------------------------------------------------------------------------------
<lambda>(["upload"], [".pioenvs\nodemcu\firmware.bin"])
"C:\Users\igor\.platformio\packages\tool-esptool\esptool" -vv -cd nodemcu -cb 1

[2015-12-30 17:08] ivankravets commented on #417
@igorjan please remove double quotes

[2015-12-30 17:11] igorjan commented on #417
Thus command works without a problem

python espota.py -i 192.168.1.40 -p8266 -f .pioenvs\nodemcu\firmware.bin

[2015-12-30 17:12] ivankravets commented on #417
Please install again the latest PlatformIO.

[2015-12-30 17:12] itsjustvenky commented on #417
@igorjan

the actual command is

[code]

[2015-12-30 17:14] igorjan commented on #417
@itsjustvenky for your command I get:
C:\Igor_i\ESP8266\Project1>platformio run --target upload --upload-port 192.168.
1.40
[12/30/15 18:13:43] Processing nodemcu (platform: espressif, upload_port: 192.16
8.1.40, board: nodemcu, framework: arduino)
-------------------------------------------------------------------------------
<lambda>(["upload"], [".pioenvs\nodemcu\firmware.bin"])
"C:\Users\igor\

[2015-12-30 17:16] igorjan commented on #417
@ivankravets if I remove the double qutes. I get the error:

18:13:45 [CRITICAL]: Not enough arguments.
scons: *** [upload] Error 1

The command python espota.py -i 192.168.1.40 -p8266 -f .pioenvs\nodemcu\firmware.bin
works without a problem.

[2015-12-30 17:16] ivankravets commented on #417
Ok, now please revert `upload_port: "192.168.1.40"` in `platformio.ini`.

[2015-12-30 17:16] itsjustvenky commented on #417
@igorjan  I think "ivankravets" just fixed something related this ip-address. Please install latest dev. version.

[2015-12-30 17:17] ivankravets commented on #417
I don't understand behaviour of your machine. Please revert back quotes. If it helps, I'll added them to code.

[2015-12-30 17:18] ivankravets commented on #417
I don't see difference between `"C:\Users\igor.platformio\packages\framework-arduinoespressif\tools\espota.py" --debug --progress -i 192.168.1.40 -f .pioenvs\nodemcu\firmware.bin` and `espota.py -i 192.168.1.40 -p8266 -f .pioenvs\nodemcu\firmware.bin`

[2015-12-30 17:19] ivankravets commented on #417
@igorjan Could you try without TCP/IP port? `espota.py -i 192.168.1.40 -f .pioenvs\nodemcu\firmware.bin`. Does it work?

[2015-12-30 17:20] skorokithakis commented on #417
@ivankravets notice that he's running esptool, not espota. Why would that work?

[code]

[2015-12-30 17:22] igorjan commented on #417
OK this works too:

python espota.py -i 192.168.1.40 -f C:\Igor_i\ESP8266\Project1\.pioenvs\nodemcu\firmware.bin

[2015-12-30 17:23] igorjan commented on #417
Also in version dev13 I get error

18:18:56 [CRITICAL]: Not enough arguments.

With or without qutes for upload port

[2015-12-30 17:24] ivankravets commented on #417
I've just pushed dev14. Please try it

[2015-12-30 17:26] igorjan commented on #417
Dev 14 is the same

18:18:56 [CRITICAL]: Not enough arguments.
With or without qutes for upload port

If you guys want I can give you team viewer access to the computer so you can test yourself

[2015-12-30 17:27] skorokithakis commented on #417
@igorjan Can you paste your platformio.ini here?

[2015-12-30 17:27] igorjan commented on #417
#
# Project Configuration File
#
# A detailed documentation with the EXAMPLES is located here:
# http://docs.platformio.org/en/latest/projectconf.html
#

# A sign `#` at the beginning of the line indicates a comment
# Comment lines are ignored.

# Simple and base environment
# [env:mybaseenv]
# platform = %INSTALLED_PLATFORM_NAME_HERE%
# framework =
# board =
#
# Automatic targets - enable auto-up

[2015-12-30 17:27] ivankravets commented on #417
Yes, please mail me@ikravets.com with TeamViewer Id/pass. Thanks

[2015-12-30 17:27] itsjustvenky commented on #417
@igorjan can you post all the text from your console from the starting of platformio run...

[2015-12-30 17:28] skorokithakis commented on #417
@igorjan You should surround your code with three tildes:

[code]

[2015-12-30 17:40] skorokithakis commented on #417
This seems to fix it:

[code]

[2015-12-30 17:50] ivankravets commented on #417
Guys, the problem was linked with launching `espota.py`. On this machine PyCharm IDE handles all Python files by default.

I'll fix it and paste directly current Python interpreter

[2015-12-30 18:01] #417 closed

[2015-12-30 18:02] ivankravets commented on #417
@igorjan please try the latest `dev15`

[2015-12-30 18:05] igorjan commented on #417
:) This one works without problem

Thank you guys for your help, really appreciate it.

[2015-12-30 18:06] ivankravets commented on #417
Thank you too that report it. I'm going to release 2.7.0 :christmas_tree:  :blush:

[2015-12-30 18:08] ivankravets commented on #417
@itsjustvenky, @skorokithakis and @namoaton  - THANKS A LOT FOR THE HELP! :beers:

[2015-12-30 18:18] skorokithakis commented on #417
Thanks for a great project, @ivankravets!

[2015-12-30 18:23] #406 closed

[2015-12-30 23:24] orome commented on #356
@ivankravets - Ugh; any idea when 3.0.0 is expected?

[2015-12-30 23:48] ivankravets commented on #356
I don't plan to release PlatformIO 2.8.0. However, if @valeros resolves this issue before PlatformIO 3.0, I'll release it in 2.8.0.

@valeros has vacation till Jan 11, 2016 :christmas_tree: If he has spare time till Jan 11, 2016, he will help you.

Sorry for inconvenience.

[2015-12-31 09:10] gpepe opened #419 "esp8266 memory: No such file or directory"
Hi!
Following compile error:
.pioenvs/esp12e/ESP8266WiFi/WiFiClient.h:28:18: fatal error: memory: No such file or directory

platformio.ini:
[env:esp12e]
platform = espressif
framework = arduino
board = esp12e

platformio platforms list:
espressif   with packages: ldscripts, tool-esptool, framework-arduinoespressif, toolchain-xtensa

main.c:
https://github.com/esp8266/Arduino/blob/master/libraries

[2015-12-31 11:34] ivankravets commented on #419
Please rename file to `*.cpp`. INO is CPP-based format, not C.

[2015-12-31 11:34] #419 closed

[2015-12-31 12:11] eerimoq commented on #412
@itsjustvenky Here is the first implementation. Please have a look at the commit message and the code. There are a few problem that I need help to fix.

eerimoq/platformio@4eb5b681546e4288dcc7b494f36b1c20caad6072

[2015-12-31 13:34] orome commented on #356
@ivankravets — Will `zeroUSB` work with 2.7.0; or will neither `zeroUSB` nor `zero`?

[2015-12-31 13:37] ivankravets commented on #356
@orome please wait for @valeros. I've discussed with him today. He will prepare for your new branch with the support for `zero`. Of course, the branch will be based on the latest PlatformIO 2.7.0.

[2015-12-31 14:00] orome commented on #356
@ivankravets — Excellent, thanks!

[2016-01-01 12:17] hameno opened #421 "CMakeLists.txt add_executable has only one source file"
Hello,
I'm not sure if this is a bug, missing feature oder just expected but when I run
```platformio init --board uno --ide clion```
only one cpp file from my src folder is added to the ```add_executable``` setting.
I would expect all cpp files to be added there.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29517194-cmakelists-tx

[2016-01-01 12:21] nigelb opened #422 "platformio init failes when --ide used"
As per the [IDE Integration](http://docs.platformio.org/en/latest/ide.html) page:
[code]
Verify that I have the latest version of PlatformIO:

[code]
I even install from the head of the repository and the problem persists.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29517212-platformio-init-failes-when-ide-used?utm_campaign=plugi

[2016-01-01 15:48] ivankravets commented on #421
This is OK. CLion uses Cmake as core build system and depends on it. However, PlatformIO has own build system and doesn't depend on Cmake. PlatformIO generates minimal settings in `CMakeLists.txt` which are required to code autocompletion and etc.

[2016-01-01 15:50] hameno commented on #421
But without them code completion in clion is not completely available for all files.

[2016-01-01 15:52] ivankravets commented on #422
1. Please revert back to the stable version. Don't use HEAD
[code]
2. Looks like you have problems with installed packages. Give me please an output of `platformio platforms list`

[2016-01-01 15:53] ivankravets commented on #421
Sure? Could you provide me simple projects with more that 1 file where I will see problems with autocompletion and etc.

Thanks.

[2016-01-01 16:23] hameno commented on #421
Sure, but it is not exactly code completion thats not working but rather the code insights on the side of the code (where the line numbers are).
My test case consists of the main.cpp and one class with header and source. When not added to the CmakeLists.txt the header file will not show links to the implemented methods in the source.
This happens with latest stable of platformio (2.7.0) and clion

[2016-01-01 16:39] ivankravets commented on #421
Thanks, will fix it.

[2016-01-01 16:42] hameno commented on #421
Thanks :)

[2016-01-01 19:19] ivankravets opened #423 "PlatformIO 3.0 Roadmap"
# Milestone [3.0](https://github.com/platformio/platformio/milestones/3.0.0)
- [x] Measure code coverage by tests and report results to online service #101
- [x] Handle specific extra build flags from library.json #289
- [ ] Add openOCD support #341
- [ ] Allow GDB protocol for ARM-based platforms #342
- [x] Proper way to import mbed library #361
- [ ] Automatically update IDE settings according t

[2016-01-01 21:01] ivankravets commented on #398
@eerimoq and @kireevco, could you help us to add support for Sming framework?

Thanks in advance!

[2016-01-01 21:25] nigelb commented on #422
I have reverted back to stable and run:
[code]

[2016-01-01 21:30] ivankravets commented on #422
Could you try to build Blink project? https://github.com/platformio/platformio/tree/develop/examples/wiring-blink

[2016-01-01 22:20] nigelb commented on #422
It compiles fine, and it installed a bunch of platforms:
[code]

running `platformio init --ide clion --board uno` still fails though.

[2016-01-01 22:21] ivankravets commented on #422
This is good. Now please give me an output of `platformio run -t idedata`

[2016-01-01 22:24] nigelb commented on #422
[code]

[2016-01-01 22:27] ivankravets commented on #422
Do you run `platformio init --ide clion --board uno` in empty folder? Or in existing project?

[2016-01-01 22:28] ivankravets commented on #422
See my log when I init project in empty directory
[code]

[2016-01-01 23:00] nigelb commented on #422
Both
[code]

[code]

[2016-01-01 23:05] ivankravets commented on #422
Please try PlatformIO 2.7.1.dev0 http://docs.platformio.org/en/latest/installation.html#d-development-version

[2016-01-02 00:23] nigelb commented on #422
A different error now:

[code]

[2016-01-02 11:53] #422 closed

[2016-01-02 11:55] ivankravets commented on #422
Please re-test latest dev build.

P.S: I still don't understand why doesn't exists `\n` before `{` in your configuration. The results above show that you have new line before `{`.

[2016-01-02 18:09] seclorum opened #426 "Need access to esptool sources/non-bin esptool in espressif platform"
Evaluating platform.io for my needs (MagicShifter3000) this evening, I ran into the problem that the onboarded esptool needs to be tweaked for my hardware (prototypes/etc.)  Our non-platform.io build system currently uses our locally tweaked esptool.py.  Is the 'best' way to overload this with the platformio_extra_script?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!]

[2016-01-02 18:26] dh1tw commented on #361
+1 for a import of mbed Libraries. I'm currently working with the MQTT client and find it rather cumbersome to download, copy them in the lib directory and adopt the folder structure so that the dependency finder can actually find them.

[2016-01-02 18:44] seclorum commented on #426
` seclorum@hackerspaceshop-dev/:~/Documents/MagicShifter3000 {(platformio)}
$ ls -l ~/Documents/esptool/esptool.py
-rwxrwxr-x 1 ibisum ibisum 28766 Nov 25 15:44 /home/ibisum/Documents/esptool/esptool.py
`

(It works, we use it on other branches.)

$ cat platformio_extra_script.py

[code]

Output:

[code]

Hmmm.

[2016-01-02 22:19] ivankravets commented on #426
I hope you meant PlatformIO. We are not "Open Real-Time Advertising Platform"

You are moving in the right direction. The problem here is linked with quotes. PlatformIO escapes all paths by default to avoid problems with paths under Windows which contain spaces. See

* https://github.com/platformio/platformio/blob/develop/platformio/builder/scripts/espressif.py#L140
* https://github.com/platformio

[2016-01-02 22:35] ivankravets commented on #361
@dh1tw you can pull request to https://github.com/platformio/platformio-libmirror/tree/master/configs/mbed with required library. I'll register it.

[2016-01-02 22:43] ivankravets commented on #426
What is more, please don't call Python script in direct way. This works on Unix, but doesn't work on Windows if user linked Python with IDE. See correct using https://github.com/platformio/platformio/blob/develop/platformio/builder/scripts/espressif.py#L123

[2016-01-02 23:52] ivankravets opened #427 "Add generic targets to IDEs"
Each IDE should contain default targets/commands:

* Run/Build
* Clean
* Upload
* Upload using Programmer
* Upload SPIFFS image
* Update

### IDE

- [x] Eclipse
- [ ] CLion
- [ ] Sublime Text

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29543696-add-generic-targets-to-ides?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medi

[2016-01-03 14:04] neverov opened #429 "Unable to build a project on MacOS 10.11.2"
I get python error when trying to build a simple one-file solution:

[code]

[code]

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29551871-unable-to-build-a-project-on-macos-10-11-2?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.boun

[2016-01-03 14:12] ivankravets commented on #429
Wow! I don't know what I should to do here http://stackoverflow.com/questions/1746825/python-valueerror-insecure-string-pickle

:smile:

Looks like internal Python's problem. Could try install platform manually?

[code]

[2016-01-03 14:21] neverov commented on #429
Hmm, definitely looks like a python problem.
I tried with python out-of the box `2.7.10` and python from `homebrew`, which is `2.7.11` and the result persists. :(

Which version do you use?

[2016-01-03 14:25] ivankravets commented on #429
I've never seen this error. I use default Python in Mac OS X

Python 2.7.10

Could you try
[code]

?

[2016-01-03 15:08] neverov commented on #429
Gives me: `dcb56150088c64188cfcbf84cb0fc0b83f00a7a1  /usr/bin/shasum5.18`.

I guess the problem is in my python setup, I'll try to play with `virtualenv` tomorrow and figure out what's going wrong.

[2016-01-03 15:32] ivankravets commented on #429
Test this please
[code]

[2016-01-03 15:36] neverov commented on #429
Yep, exactly the same result
[code]

[2016-01-03 15:39] ivankravets commented on #429
Now it looks interesting... And
[code]

[2016-01-03 15:41] neverov commented on #429
Here we go:
[code]

[2016-01-03 15:46] #429 closed

[2016-01-03 15:46] ivankravets commented on #429
Please try http://docs.platformio.org/en/latest/installation.html#d-development-version

[2016-01-03 16:57] seclorum commented on #426
Thanks for the help - truly a simple fix.. I'd say that UPLOADER is a bit of a misnomer, though?  Because it doesn't just upload but also touches the build product.. I guess its a question of wider topic of toolchain staging.

Roger that, in truth the python load is one negative in my eval of PlatformIO(*), but only for explicitly local reasons ..

(*- (Sorry about that, it is confusing..) )

[2016-01-03 17:05] marvinroger commented on #410
This should apply to both `library.json` and `platformio.ini`, right? What about doing it like so:

* `1.2.3` would match exactly `1.2.3`
* `~1.2.3` would match `1.2.x`
* `^1.2.3` would match `1.x.x`

This is the npm way of doing semversionning, and this is pretty clean and straightforward, I think.

[2016-01-03 17:19] ivankravets commented on #410
@marvinroger Sure, see https://github.com/platformio/platformio/issues/410#issue-124219933 and `` semver``.

[2016-01-03 17:51] marvinroger commented on #410
Well, I am commenting on #410... But the semver spec doesn't actually define range specifiers.

[2016-01-03 18:02] ivankravets commented on #410
Opss... Sorry. See what do we have in Python world: https://pypi.python.org/pypi?%3Aaction=search&term=semver&submit=search

Which package do you recommend?

[2016-01-03 18:46] jasonmhite commented on #399
Alright, I got back to my workbench and tested it using the 2.0.0 final release of the ESP8266 board definition in the Arduino IDE. It works fine.

[2016-01-03 18:53] marvinroger commented on #410
No problem!

The thing is semver is not MAJOR.MINOR.FIX, it is BREAKING.FEATURE.FIX, so most people will want to match `1.x.x`, so their code benefits from new features and patches, without breaking changes.

The `semver` package provides these specifiers : `<`, `>`, `==`, `<=` and `>=`, and its function to check if a version match against a range can only check one specifier at a time. So the end

[2016-01-03 21:12] ivankravets commented on #426
UPLOADER is used only in Espressif development platform to make binary from elf. In other (14) development platforms uploader has only the one purpose - upload firmware.

Sorry, I don't understand what do you mean :( I said, that you can have multiple version of Python interpreters. You have a choice to run script with specified Python interpreter. If don't specify interpreter directly, then OS wi

[2016-01-03 21:17] ivankravets commented on #410
I got you. I mean that I'm not ready to use package which was updated "2014-06-01". Need to contact with @podhmo and ask him will he support it in future.

[python-semver](https://github.com/k-bx/python-semver) by @k-bx looks as active project.

[2016-01-03 21:25] k-bx commented on #410
if you want `>=1.0.0 && < 2` you just do:

[code]

[2016-01-03 21:37] ivankravets commented on #410
@k-bx looks like people like `node-semver` semantic. I use both of them: generic "semver" for Python-based projects and "node-semver" for Web-projects. "node-semver" is more shorter, but requires knowledges to understand "what does it mean?". As result, generic "semver" is more clear but requires additional condition. `>=1.0.0 <2.0.0` vs `^1.0.0`.

Proceed from that, I prefer to use generic `semve

[2016-01-03 22:02] marvinroger commented on #410
To be honest, I am a JS guy so my opinion might be a bit biased here.
You raise two points:

I have to say that `>=1.0.0 <2.0.0` also works with `node-semver`, so beginners won't have any problem either way. But more advanced users could benefit from the other more advanced specifiers.

I can't disagree with you on that point. But, the goal of `node-semver` is rather straightforward, and once the

[2016-01-03 22:05] k-bx commented on #410
Oh no problem at all! Even more, I don't mind adding node's syntax to my package in future, so PRs are welcome in case if that node-semver package will be abandoned.

[2016-01-03 23:18] karlp opened #430 "Show detailed info about library using "platformio lib show" command"
`platformio lib search json` shows you only the vague descriptions from library.json files, with library "64" for instance being, ""Benoit Blanchon": An elegant and efficient JSON library for embedded systems"

`platformio lib show 64` won't show you anything at all until you've installed it.  This is... not very nice.  Where is it going to be installed from?  What code is this?

Even after instal

[2016-01-03 23:21] ivankravets commented on #430
How about http://platformio.org/#!/lib/show/64/Json ?

Yes, CLI isn't informative. Do you have propositions?

[2016-01-03 23:23] ivankravets commented on #430
How about `platformio lib info %ID%` ? I hope that in PlatformIO 3.0 we will allow to use names instead IDs.

[2016-01-03 23:26] ivankravets opened #431 "Implement "platformio lib info" command"
Allow to see detailed information about library without installation.

 Related issue https://github.com/platformio/platformio/issues/430

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29559688-implement-platformio-lib-info-command?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We accept bou

[2016-01-03 23:51] ivankravets commented on #413
TODO: add new `lib_requires` field to [platformio.ini](http://docs.platformio.org/en/latest/projectconf.html) with the next format:

[code]

For example,
[code]

@marvinroger, @FWeinb WDYT?

[2016-01-03 23:54] ivankravets commented on #413
Currently all libs will be installed in http://docs.platformio.org/en/latest/projectconf.html#lib-dir. What I should do when 2 projects require the same libs with different `lib_requires`? Is it good idea to install required libraries directly to project's `lib` folder?

[2016-01-04 00:11] marvinroger commented on #413
`lib_requires` should be spelled `lib_require`, as we currently have `lib_use` and `lib_ignore` without the leading `s`. So `lib_install` will be deprecated/removed? Otherwise It would sounds redundant.
And I would remove the commas, just `Json: >=1.0.0 <2.0.0 !=1.5.7` as this is more common and standard.

Maybe you could store libs by library and version. I mean:

[code]

What's the benefit of st

[2016-01-04 00:13] marvinroger commented on #413
Plus, we would have to `.gitignore` the `lib` folder if we use Git. I'd stay on the global install.

[2016-01-04 00:19] karlp commented on #430
I'd like show or info to be a single command, showing info including the installed state if possible, I don't see any real benefit in having a separate command to see the full details of a package that has been installed vs one that hasn't.

Thanks for the prompt response!

[2016-01-04 00:26] ivankravets commented on #413
And I would remove the commas, just Json: >=1.0.0 <2.0.0 !=1.5.7 as this is more common and standard.

Done! https://github.com/platformio/platformio/issues/413#issuecomment-168556116

npm uses this scheme. Oh... How much work need to do with it. Yes, this scheme is the best from all views. Because project's lib was intended for private/specific libraries

[2016-01-04 00:28] ivankravets commented on #431
Will be merged with existing `lib show` command https://github.com/platformio/platformio/issues/430

[2016-01-04 00:28] #431 closed

[2016-01-04 01:38] sarfata opened #432 "Automatically build and include dependent libraries"
The [current approach](https://github.com/platformio/platformio/blob/develop/platformio/builder/tools/platformio.py#L295) to detect which libraries are required by another library only walks through `.h` files and not `.cpp` files.

This means that a some dependencies can be missed.

In my case, I have a library (in `<project>/lib`) that uses `ILI9341_t3.h` in the header and this correctly adds th

[2016-01-04 01:43] ivankravets commented on #432
PlatformIO scans all source files. See https://github.com/platformio/platformio/blob/develop/platformio/builder/tools/platformio.py#L26:L27

I'll test it, looks like a bug.

Do you mean this? https://github.com/platformio/platformio/issues

[2016-01-04 01:46] ivankravets commented on #432
I've got you. This isn't a bug. Looks like you need to enable http://docs.platformio.org/en/latest/projectconf.html#lib-dfcyclic

[2016-01-04 07:44] sarfata commented on #432
You are always so fast to reply!

I will try this but I was definitely getting library included from .h files so there is still something suspicious here.

Which issue did you mean to link to?

[2016-01-04 11:10] neverov commented on #429
Thanks!

[2016-01-04 12:20] ivankravets commented on #432
Thanks! Support should be excellent without dependency on project type (free or commercial).

Currently Library Dependency Finder doesn't is turned off by default to avoid a lot of conflicts between installed libs. The safe way is to `#include <nested library>` within `src` files in the project.

Sorry. See https://github.com/platformio/platformio/issues/413

-------------

In any case, I converte

[2016-01-04 14:41] seclorum commented on #426
Understood.  Anyway, its of no consequence ..

(What I meant was that I have my own reasons for eschewing the use of Python to manage things. :)

[2016-01-04 15:11] ivankravets commented on #426
It's your decision. We don't force users to use PlatformIO or Python. We don't have anything from it.  We just propose different tools/instruments within @PlatformIO ecosystem and each developer decides what is interesting for him.

As for Python, I don't understand your negative position to this interpreter. Each language has own aim/purpose. I know a lot of developers with have negative position

[2016-01-04 15:11] #426 closed

[2016-01-04 15:21] ivankravets commented on #426
Ok, thanks, I'll split these env vars

[2016-01-04 15:48] ivankravets commented on #426
@seclorum $UPOADER and $OBJCOPY have been split up. See https://github.com/platformio/platformio/commit/917c0e338875c00da116a9c7f173f7e25357d127

[2016-01-04 16:11] #421 closed

[2016-01-04 16:12] ivankravets commented on #421
@hameno please re-test it with the latest http://docs.platformio.org/en/latest/installation.html#d-development-version

[2016-01-04 17:39] gefla opened #434 "Update framework-arduinoteensy"
Hi,

the framework-arduinoteensy package is out of date. It is older than at least https://github.com/PaulStoffregen/cores/commit/f2948bd19530a2298edcba315e888d35325cc0d0, which is required for DMA UART operation.

As a side note, I have tried finding documentation on the package system and determine
* what source the package was built from
* how to send an update myself

Did I just miss the docs?

[2016-01-04 19:37] ivankravets commented on #434
@gefla thanks! I'll update `framework-arduinoteensy`. If you like PlatformIO, please give us a :star: https://github.com/platformio/platformio/stargazers

[2016-01-04 22:07] #434 closed

[2016-01-04 22:07] ivankravets commented on #434
@gefla please `platformio update`.

[2016-01-04 22:13] ivankravets commented on #434
@PaulStoffregen could you make release/tag for https://github.com/PaulStoffregen/cores in future? I've just subscribed to your repository and will be notified for the new releases. Thanks a lot!

[2016-01-04 22:24] gefla commented on #434
As mentioned on gitter: Done, works.

[2016-01-04 23:40] PaulStoffregen commented on #434
I generally don't use github to release Teensyduino.  I'll try to tag releases, but odds are strong I'll tend to neglect that step.  My release process already involves a lot of non-github steps!

[2016-01-05 00:15] #427 closed

[2016-01-05 00:27] ivankravets commented on #434
@PaulStoffregen Thanks! I'll try to monitor it manually too.

[2016-01-05 08:13] sarfata opened #437 "library.json 'exclude' option is not used when building libraries in 'lib/'"
I have a library in 'lib/' and have added some unit tests to it but there does not seem to be a way to exclude them from the build.

The `exclude` option in a `library.json` is not used (I don't even see if that file is parsed for local libraries in the source) and the `src_filter` option is not applied to libraries.

Is there another solution I missed?

<bountysource-plugin>
---
Want to back this

[2016-01-05 14:55] deladriere opened #438 "Chipkit PIC32 boards support"
I would love to have PIC32 boards supported, thanks
How come they are all absent from Platformio?

ChipKIT boards: http://chipkit.net

[2016-01-05 15:48] #356 closed

[2016-01-05 15:52] orome commented on #356
@valeros — Does this mean that the Zero is supported in 2.7.1 (with both `zeroUSB` and `zero`)?

[2016-01-05 18:28] ivankravets commented on #356
Yes! :) PlatformIO 2.7.1 will be released tomorrow.

[2016-01-05 18:29] orome commented on #356
:star:

[2016-01-05 19:06] ivankravets commented on #437
See https://github.com/platformio/platformio/issues/289

Sure, just place your source code to `src` folder in the library and keep `test` folder on the same level as `src` folder. See example with "Bar" library https://github.com/platformio/platformio/blob/develop/platformio/commands/init.py#L197:L202

[2016-01-06 07:29] hameno commented on #421
Looks good!

[2016-01-06 08:41] deladriere commented on #438
Sorry but I can't find how to apply labels to this issue (board ...)
could someone do it ?
thx

[2016-01-06 12:30] nigelb commented on #422
Worked fine. Thanks.

[2016-01-06 12:54] gefla opened #439 "Support UDOO boards"
Two board classes:
* [Neo](http://www.udoo.org/udoo-neo/) (basic/extended/full variants all using Freescale™ i.MX 6SoloX applications processor with an embedded ARM Cortex-A9 core and a Cortex-M4 Core)
* [Dual/Quad](http://www.udoo.org/udoo-dual-and-quad/), using a separate Atmel® SAM3X8E

The manufacturer provides a patched Arduino IDE based on the board support package linked below. There are tw

[2016-01-07 01:55] boneskull opened #440 "why moderate the registry?"
Perhaps there's some technical reason why packages must be moderated?

[2016-01-07 08:32] nge88 opened #441 "raspberrypi espressif board problem"
Hi,

I've successfully installed platformio on raspberry pi (running on raspbian, I've tried both with Wheezy and Jessie) but I cannot install  espressif boards:

Installing toolchain-xtensa package:
Downloading  [####################################]  100%              2%  00:03:44
Unpacking  [------------------------------------]    0%
Error: Traceback (most recent call last):
  File "/usr/local

[2016-01-07 12:43] ivankravets commented on #441
@valeros could you repack Espressif toolchain for ARM?

[2016-01-07 18:38] valeros commented on #441
Hi @nge88!
Please update package via `platformio update`
Thanks!

[2016-01-08 03:12] peterkjacobson opened #442 "Programming Adafruit Huzzah with FTDI Friend"
I cannot figure out how to upload to an Adafruit Huzzah board based on ESP8266 using an Adafruit FTDI friend.  I have attempted to point Platformio to the right upload port, but it still fails.

C:\Users\Peter\Documents\Projects\WiFi
λ platformio run -t upload --upload-port=COM6
[01/07/16 21:10:18] Processing huzzah (platform: espressif, board: huzzah, framework: arduino)
-------------------------

[2016-01-08 07:53] nge88 commented on #441
Hi @valeros
Thank you, now platform espressif is installed; it even compile the project (via **platformio run**)
But if I try any upload to board i get this error:

[Fri Jan  8 08:45:46 2016] Processing esp12e (platform: espressif, board: esp12e, framework: arduino)
--------------------------------------------------------------------------------
Installing tool-scons package:
Already installed
Ins

[2016-01-08 08:44] valeros commented on #441
Sorry @nge88, `tool-mkspiffs` for ARM was missed.
Please try to upload firmware again! Thanks!

[2016-01-08 09:23] nge88 commented on #441
Ok it's working!!
Thank you for your fast support

[2016-01-08 09:23] #441 closed

[2016-01-08 12:19] gkzsolt opened #443 "init --ide eclipse deletes linkedResources"
If you have linked resources in the Eclipse IDE, running 'platformio init --ide eclipse ...' will update .cproject, but not .project. The <linkedResources> disappear from <projectDescription>.

PlatformIO, version 2.6.3

[2016-01-08 13:06] FWeinb commented on #382
It seams like `data_dir` isn't working correctly. Creating the `spiffs.bin` is working but when trying to upload the file I get:
[code]

Using the default folder is working.

[2016-01-08 19:43] seclorum commented on #426
Thanks for the headsup @ivankravets ..

[2016-01-08 19:46] seclorum opened #444 "Not clear how to overwrite $BOARD.options.resetmethod .."
I would like to force my board.options.resetmethod="ck", but see no way to do that outside of editing the board.json file .. is there a way to override this for my board in a project-local config?  (i.e. through platformio_extra_script.py - tried to override it like "esp12.board.options.resetmethod=ck" but no go ..

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https:

[2016-01-08 19:58] valeros commented on #444
Hi @seclorum!
How about create [custom board](http://docs.platformio.org/en/latest/platforms/creating_board.html) based on `esp12` with needed reset method?

[2016-01-09 12:02] ivankravets commented on #440
Yes, there is. Library submitters have often mistakes in [library.json](http://docs.platformio.org/en/latest/librarymanager/config.html), such as: unnecessary keywords, used path to own/forked repo instead original, invalid fields which defines source location within repo.

[2016-01-09 12:28] ivankravets commented on #382
@FWeinb Could you open separate issue with it? Thanks!

[2016-01-09 12:47] rpurser47 opened #445 "Consider adding Particle Platform"
Enhancement Request: Consider listing the [particle hardware](http://particle.io) as a platform.  It's effectively a web enabled variant of Arduino, and popular, at least in the US.

[2016-01-09 16:58] kireevco opened #446 "Templates engine & Exmples"
I would love to see templates in the projects, so when you init a project you could init it with an example, that will have certain information filled out, for example:

`platformio init -b megaatmega2560 --ide clion --template BasicSerial` will init Arduino basic serial project, so you don't have to copy-paste things.

Also, what can be done, is implementing jinja2 templating enging to replace ce

[2016-01-09 17:01] kireevco opened #447 "platformio -> pio command line alias"
As a user I would like to see an alias created to platformio binary, so I can just type `pio init` instead of `platformio init`.

Please let me know what you think

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29731524-platformio-pio-command-line-alias?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=g

[2016-01-09 17:03] kireevco opened #448 "Platform IO Bundled Distribution"
As some Windows user might not have any console tools installed I would like to see platformio distributed as some self-contained archive/exe file for Windows users. It should contain python distribution and some nice colorful command line + GUI (which is in the works). This should be done side-by-side to existing pip installation or even on top of it.

Please let me know what you think

[2016-01-09 18:15] nistvan86 opened #449 "Missing includes with --board=nodemcu in Eclipse"
Importing an Arduino NodeMCU project into Eclipse Mars CDT the IDE complains about invalid arguments on `digitalWrite` using the Blink example. Going into the method the IDE gives an option from `core_esp8266_wiring_digital.c` where the argument types are unknown. Going into the source of that file the IDE display missing inclusions, like `c_types.h` or not knowing the type `uint8_t`.

There was a

[2016-01-09 18:24] alonewolfx2 commented on #448
+1 thank you for suggestions. I hope someone can make it.

[2016-01-09 18:26] nistvan86 commented on #449
I think the issue was on my side. I've invoked `platformio init --board=nodemcu --ide=eclipse` on an existing project which was created without the `--ide=eclipse` switch. After creating a new project from scratch with the whole command line and importing it into Eclipse the issue disappeared.

[2016-01-09 18:26] #449 closed

[2016-01-09 18:57] Ermakov-D opened #450 "Error install platforms on Windows10"
When installing platforms error:

C:\>platformio platforms install atmelavr
Installing toolchain-atmelavr package:
Error: Traceback (most recent call last):
  File "c:\python27\lib\site-packages\platformio\__main__.py", line 97, in main
    cli(None, None, None)
  File "c:\python27\lib\site-packages\click\core.py", line 700, in __call__
    return self.main(*args, **kwargs)
  File "c:\python27\lib

[2016-01-09 20:21] boneskull commented on #440
Well, to your points:

Why does it matter?

Why does this matter?  If the original repo doesn't or won't add a `library.json`, must users wait until they do?

I don't quite understand that, but surely you can automate `library.json` validation.

[2016-01-09 20:30] boneskull commented on #440
Moderating/curating a registry doesn't really scale, but I'm sure you know that.

Is there another example of a (manually) moderated/curated registry which is successful which you can site?

Is it possible to piggyback on another registry?

Is it possible to allow use of alternate registries?

[2016-01-09 20:32] boneskull commented on #440
Specific problem: I want to use Adafruit's MAX6675 lib.  It doesn't have a `library.json`.  FWIW, I submitted a PR for it, but until anything happens on that front, I'm stuck bundling the lib manually (in my `lib/` dir) with my project.

Another alternative perhaps is namespacing.  That way I could use `boneskull/max6675` and not interfere with whatever Adafruit is doing (or not doing).

[2016-01-09 21:05] ivankravets commented on #450
Please take a look at http://docs.platformio.org/en/latest/faq.html#windows-unicodedecodeerror-ascii-codec-can-t-decode-byte

[2016-01-09 22:17] Ermakov-D commented on #450
Thanks

[2016-01-09 22:17] #450 closed

[2016-01-10 18:28] ZachMassia commented on #448
I think [Nuitka](http://nuitka.net/) might be worth looking into for this.

From what I've read, it can't do cross-platform compilation, so someone with a Windows PC would have to give it a shot.

The following command from the PlatformIO root dir should produce a completely portable `.exe` which would work on a fresh Windows install, no external dependancies.

`nuitka --recurse-all --standalone .

[2016-01-10 20:17] JohnDBodkin commented on #319
I just took it for a test drive. I was on travel for the past month. It
works from the command line

On Sat, Dec 26, 2015 at 2:29 PM, Ivan Kravets <notifications@github.com>
wrote:

[2016-01-11 03:16] peterkjacobson commented on #442
Turns out I didn't have the board in bootload mode - that fixed it.

[2016-01-11 03:16] #442 closed

[2016-01-11 07:55] donnib opened #451 "Specficy upload port for Mac AND windows ?"
Hi,
Is there a way to specify an upload port both for mac and windows ? I work both on windows and on mac on the same project.

donnib

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29762292-specficy-upload-port-for-mac-and-windows?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We accept bou

[2016-01-11 11:08] ivankravets commented on #448
Thanks @ZachMassia. I didn't know about Nuitka.

1. I see that users will have problems that need to add path of binary to ENV.PATH
2. The `upgrade` process will be so difficult. The `platformio upgrade` looks more interesting.

Windows users don't like to play with console utilities. If user can download and install pre-compile `platformio.exe`, then it will not have problems to `pip install plat

[2016-01-11 14:20] ivankravets commented on #437
Please reopen issue if you have any questions.

[2016-01-11 14:20] #437 closed

[2016-01-11 16:47] ivankravets commented on #451
Please take a look at http://docs.platformio.org/en/latest/projectconf.html#extra-script

[code]

[2016-01-11 17:11] ivankravets commented on #451
Sorry, why do you need to specify directly `upload_port`? PlatformIO can automatically find upload port. Try `platformio run -t upload` without specifying `upload_port` or `--upload-port`.

[2016-01-11 18:55] kireevco commented on #447
Also, there is `pio.sh` domain that is available ;-)

[2016-01-12 17:34] seclorum commented on #444
I'd really rather not do that, since it means maintaining another set of file(z) outside the project repository - rather would like to know how to over-ride the defaults for this key:

[code]

[2016-01-12 17:39] ivankravets commented on #444
@seclorum how about http://docs.platformio.org/en/latest/projectconf.html#extra-script ?

[2016-01-12 17:50] grzegorzshub opened #452 "Programming Arduino Yun over wifi?"
Is it possible to program Yun over wifi please?

[2016-01-12 21:26] g7uvw opened #453 "SPL-Framework support for Nucleo F401RE board"
A request to add SPL framework support for the Nucleo F401RE board. CMSIS works well, but there are some higher level features in SPL that would be very nice to have access to.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29819242-spl-framework-support-for-nucleo-f401re-board?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_m

[2016-01-13 06:07] rlust opened #454 "error when compiling streaming.h"
src/tmp_ino_to.cpp:21:23: fatal error: Streaming.h: No such file or directory
#include

How do I add the ability to in included streaming.h?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29830060-error-when-compiling-streaming-h?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We accept bount

[2016-01-13 12:03] ivankravets commented on #382
@FWeinb did you place `data_dir` to `[platformio]` section in `platformio.ini`?

[2016-01-13 12:19] FWeinb commented on #382
Sorry for the delay. Final exams...
No i didn't know I have to place them there. Sorry for the trouble.

[2016-01-13 12:45] ivankravets commented on #444
Please use http://docs.platformio.org/en/latest/projectconf.html#extra-script

`platformio.ini`
[code]

`extra_script.py`
[code]

[2016-01-13 13:22] ivankravets commented on #444
See http://docs.platformio.org/en/latest/platforms/espressif.html#custom-reset-method

[2016-01-13 16:42] crushedice2000 opened #455 "error: previous declaration of 'void __run_user_rf_pre_init()' with 'C++' linkage"
I'm having a strange problem with PlatformIO. When I try to build the following code I get the above error:

     #include <ESP8266WiFi.h>
     #include <ESP8266mDNS.h>
     #include <WiFiUdp.h>
     #include <ArduinoOTA.h>
     #include <ESP8266WebServer.h>
     #include <ArduinoJson.h>
     #include <DNSServer.h>
     #include <FS.h>

     #define TXMODE 2   // {'PHY_MODE_11B': 1, 'PHY_MODE_11G'

[2016-01-13 17:21] ivankravets commented on #455
The problem is linked with PlatformIO INO->CPP converter. Temporary solution is to use native `.cpp` instead of `.ino` and place `#include <Arduino.h>` at the top of file.

[2016-01-13 17:32] crushedice2000 commented on #455
@ivankravets: Solved! Thank you very much!

Also is better to use standard cpp than ino or pde!

I've renamed the file to main.cpp :smile_cat:

[2016-01-13 17:32] #455 closed

[2016-01-13 17:52] WisniewskiP opened #456 "Board compatibility with more than one platform"
At this moment it is only possible to configure board with one compatible platform. It would be nice to have board that supports more platforms at the same time (different compilers for the same target)

[2016-01-13 19:04] #453 closed

[2016-01-13 19:53] ivankravets commented on #453
Please install development version http://docs.platformio.org/en/latest/installation.html#d-development-version

[2016-01-13 20:12] ivankravets commented on #454
Please install Streaming library http://platformio.org/#!/lib/show/560/Streaming

[2016-01-13 20:13] #454 closed

[2016-01-13 20:27] ivankravets commented on #444
Implement `upload_resetmethod` option for http://docs.platformio.org/en/latest/projectconf.html#uploading-options

Ping @crushedice2000

[2016-01-13 21:41] aperepel opened #458 "Streamline SPIFFS upload"
Hi, I wonder if there is a usable way to optimize the uploadfs target. For esp12e it generates a 3MB file regardless of the data size (usually it's a small json config file and not much more, so mostly padded space).

E.g. guys at Smartjs.io have a good approach of exposing SPIFFS via a WebDAV and being able to add/remove files interactively. I'm not advocating adding this layer, but rather thinki

[2016-01-13 22:57] aperepel commented on #458
I understand the custom FS images somewhat. The issue is more about defaults. 3MB takes a lot of time and is somehow a default, bad user experience. Add a few more examples of command line invocation in the docs?

[2016-01-13 22:59] ivankravets commented on #458
How about to use smaller SPIFFS size? http://docs.platformio.org/en/latest/platforms/espressif.html#custom-flash-size

[2016-01-13 23:08] #444 closed

[2016-01-13 23:09] ivankravets commented on #444
Please re-test with the latest http://docs.platformio.org/en/latest/installation.html#d-development-version

[2016-01-13 23:09] ivankravets commented on #444
Docs: http://docs.platformio.org/en/latest/platforms/espressif.html#custom-reset-method

[2016-01-13 23:13] ivankravets commented on #319
@JohnDBodkin thanks a lot for the report!

[2016-01-13 23:13] aperepel commented on #458
Yes, but I don't like our current defaults:
* Use 1MB fs by default - I have hard time imagining why anyone would start with 3MB images and wait 6 minutes on every upload (1MB takes 2 minutes)
* An example from http://docs.platformio.org/en/latest/platforms/espressif.html#custom-flash-size is not very useful as it specifies a 3MB image, which is already a default, so it doesn't change anything. Up

[2016-01-13 23:18] aperepel commented on #458
BTW, for some reason, 1MB option causes my file reading code to fail - it can't find the file? The only change was to specify this in `platformio.ini':
[code]

[2016-01-13 23:21] ivankravets commented on #458
Please try http://docs.platformio.org/en/latest/installation.html#d-development-version

[2016-01-13 23:29] ivankravets commented on #452
I hope yes. Please explain me how does it look from CLI.

[2016-01-13 23:30] ivankravets commented on #446
Good idea, thanks! Need to understand that these examples depend on framework type too.

[2016-01-13 23:32] aperepel commented on #458
Ivan, I noticed that switching the FS image size requires one to run a `clean` target, otherwise it gets corrupted or something. Not sure if this can be detected and forced from a config currently, but maybe we can add it to the docs as a best practice/warning? I wasted lots of time debugging that.

Will test out the dev build by tomorrow and report.

[2016-01-13 23:36] ivankravets commented on #458
If you edit `platformio.ini`, PlatformIO automatically cleanups `.pioenvs` directory. Also, `uploadsf` should force to rebuild SPIFFS image. See https://github.com/platformio/platformio/blob/develop/platformio/builder/scripts/espressif.py#L299

Looks, like this is another problem. I'll wait any news from you as for this issue.

[2016-01-13 23:37] ivankravets commented on #458
I reopen this issue until you test it.

[2016-01-14 10:29] crushedice2000 commented on #444
@ivankravets: Thank you very much!

[2016-01-14 12:08] mogorman commented on #446
i like idea about serial_baud_rate, would be better better though ifi it was just passed via #defines though.  although how those are set could be done in the platformio.ini file for sure

[2016-01-14 17:21] ivankravets opened #459 "Replace TYPE for board/platform with ID"
Currently we use "board type" and "platform type" which confuse user. Need to replace for all command `type` argument/option with `id`, including documentation.

[2016-01-14 18:05] aperepel commented on #458
Thank you. I have tested the latest dev version of the platform. The defaults are now 1MB for a SPIFF, and FS image rebuild works correctly when going between sizes (tested cycling it up and down several times).

[2016-01-14 18:05] #458 closed

[2016-01-14 18:06] ivankravets commented on #458
@aperepel thanks for the report!

[2016-01-14 20:00] grzegorzshub commented on #452
I don’t know I'm afraid. I use Atom with Platformio and program Yun over USB only.
I have found: https://www.twilio.com/blog/2015/02/arduino-wifi-getting-started-arduino-yun.html
In the second half of the page there is description how to set Arduino IDE with Port over IP and program it over the air.
Just wondering it there is a way to do it with platformio.
Thank you

[2016-01-14 20:04] ivankravets commented on #452
Please enable verbose mode for building and uploading in Arduino IDE settings. Then run uploading via OTA and share here link with output http://pastebin.com

[2016-01-14 21:08] g7uvw commented on #453
I'll try it out first thing tomorrow.

thanks.

[2016-01-15 11:54] donnib opened #460 "Upgrade SDK for ESP8266 how ?"
Hi,
I can see that on the Arduino / ESP8266 github project the SDK has been upgraded to SDK 1.5 more than a week a go (https://github.com/esp8266/Arduino/commit/a276e81761fe9d26637be73bbdcc5bbe2d4db9f0). Is that something i can get my hands on in platformio ? If so how ?

/donnib

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/299039

[2016-01-15 12:27] donnib commented on #460
Duplicate, i found it https://github.com/platformio/platformio/issues/401#issuecomment-166958952

[2016-01-15 12:27] #460 closed

[2016-01-15 13:06] ivankravets commented on #447
TODO: Update docs:

- [ ] base commands
- [ ] shell completions

[2016-01-15 14:06] donnib commented on #401
@ivankravets I am trying to build my project using latest code from Arduino/ESP8266 and by following your guide above i can build but the board keeps on rebooting, i tried Arduino IDE with the same code and it works there so i guess maybe there is a problem with the flashing ? I know you said you don't support these versions so if you have an idea that would be good to hear if not i will see what

[2016-01-15 22:16] ivankravets commented on #401
@donnib please follow to step 5 here https://github.com/platformio/platformio/issues/401#issuecomment-166958952

[2016-01-16 03:26] dave-newson commented on #440
I think the process of waiting for moderation is annoying and unnecessary. It's 2016 and there's 7 billion people on the planet. It doesn't make sense that I have to wait for the internet police to green light the availability of my opensource code. Don't you ever go on holiday?

#### Moderation doesn't make sense
As you've said, the the only operation you perform in moderation is to validate the

[2016-01-16 04:46] dave-newson opened #461 "Allow library.json to specify sources other than PlatformIO's Repository"
### The Problem

If I want to use a `library.json` to manage my projects 3rd party dependencies, then these 3rd party libraries;
- **must** already have a library.json file
- **must** be registered on PlatformIOs repository.

### Desired Functionality

Let's assume that, in a perfect world:
 - my `library.json` manages **all** the third party dependencies in my project.
 - after I run `platformio

[2016-01-16 18:31] oskargargas opened #462 "Split C/C++ build flags"
There are some build flags which are valid only for C files or only for C++ files, ie. `build_flags = -felide-constructors` generates warnings when compiling C files as it is C++ only flag.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29937932-split-c-c-build-flags?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issue

[2016-01-17 12:00] donnib commented on #401
@ivankravets ok so here it is
https://gist.github.com/donnib/8b5ecff157a7cf129daf

I have posted there code used for Arduino IDE and PlatformIO although i had make changes in the code to compile in Arduino which was weird. I have a method readFromRTC() which Arduino IDE complained was not found so i moved it to the top then it compiled. PlatformIO compiled fine without moving the method. I have no

[2016-01-17 16:10] probonopd opened #463 "Discover OTA-able esp8266/Arduino modules using dns-sd / mDNS"
To use OTA on the esp8266, we currently have to put something like `upload_port=esp8266-c1ab73.local` into `platformio.ini`.

More options:
http://docs.platformio.org/en/latest/platforms/espressif.html#platform-espressif-ota

This seems overly static to me. Wouldn't it be great if platformio would detect OTA-able devices just as seamless as it does auto-detect the serial port?

Turns out this woul

[2016-01-18 12:23] ivankravets commented on #440
See results with disabled moderation:
* http://platformio.org/#!/lib/show/561/Json%20Streaming%20Parser
* http://platformio.org/#!/lib/show/562/ESP8266%20Oled%20Driver%20for%20SSD1306%20display
* http://platformio.org/#!/lib/show/563/ESP8266%20Weather%20Station

And this is only the one day.

[2016-01-18 12:37] ivankravets commented on #440
I'm agree that this is my problem. Need to explain what is "Library name" and propose a few examples. Also, maybe need to disable "spaces" in `name` field.

What do you think?

Ping @squix78

[2016-01-18 12:50] valeros commented on #401
Hi @donnib
I've just tested latest ESP8266 framework with my `esp01` board.
Our example `wifi-scan` works without any errors.
Serial output from your sketch:
[code]

[2016-01-18 14:14] boneskull commented on #440
About that piggybacking idea.

Write a registry server which takes a snapshot of a library, injects a setup.py file into it, tarballs the result and uploads it to pypi.  Maybe prefix the lib name or something.

registry client wraps pip with whatever custom voodoo is necessary to install a lib.

Assuming it works sounds reasonably low-maintenance, right?

Alternative:  do this with npm instead.

[2016-01-18 14:26] boneskull opened #464 "Make local installs the default"
Having worked in python for 8 years alongside JavaScript, it's always flummoxed me why the hell pip wants to install packages to a global location by default. I think it also flummoxed izs and the rest of npm team as well.

in pip's case this is usually in /usr somewhere and it wants superuser privs...to untar some files into PYTHONPATH.

PlatformIO takes the high road and stuffs everything into t

[2016-01-18 14:31] ivankravets commented on #440
I don't why you compare each time PHP Composer or NPM with `library.json`. This are different things.  Those package managers work with WELL-STRUCTURED code for the package. They have the unique rules for all developers. In PlatformIO case, we can't force people to keep "OUR OWN PROJECT STRUCTURE" which will be ready for builder without changes.

Yes, we support 2 library project layouts. See http

[2016-01-18 19:19] donnib commented on #401
@valeros thx well that's weird. I guess i must be doing something wrong then....hmmm. i wonder what that could be. Any ideas ?

[2016-01-18 20:07] boneskull commented on #440
I think this is a non-issue.  What percent of packages on npmjs.com do nothing or don't work?

[2016-01-18 20:20] valeros commented on #401
@donnib  Yes, latest master branch https://github.com/esp8266/Arduino/archive/master.zip
Could you try to upload simple [wifi-scan](https://github.com/platformio/platformio/tree/develop/examples/espressif/esp8266-wifiscan)  example?

[2016-01-18 20:43] donnib commented on #401
@valeros yes i just tried and that worked fine but my code not. I have even tried to run on a different workstation so now i tried windows and MacOSX. Can it be some HW related thing ? Idk what that could be when it works in Arduino IDE

[2016-01-18 21:29] dave-newson commented on #440
Sorry, but this isn't true. Neither of those package managers enforce rules, and indeed php is one of the most loosey-goosey languages and communities you'll ever meet.

The reason there's a semblance of structure is due to people *choosing* to use a particular framework or standard, not because composer makes them do it.

In fact, this has made me realise what the crux of the problem is; you're b

[2016-01-18 21:46] ivankravets commented on #440
@dave-newson why do you need library in PlatformIO Library Registry which you can install via `platformio lib install` but you can't build it `platformio run`? I don't know which side is better for new user: to install not working library via PlatformIO or clone it to `lib` directory from the project and make ability to fix that structure?

It doesn't mean that I'm not agree with you totally. You

[2016-01-18 21:46] boneskull commented on #440
Agree w @dave-newson (again). There is nothing well-structured about an npm package other than it has a package.json.

Attempting to verify packages even compile (for what boards? Cross-compiling on what architecture?) seems like a rabbit hole you really don't want to go down. Next people will be complaining they can't register their lib because your build system is broken.

Leave it up to the lib

[2016-01-18 21:55] ivankravets commented on #464
How about http://stackoverflow.com/questions/7143077/how-can-i-install-packages-in-my-home-folder-with-pip ?

Because I don't see logic here to duplicate toolchains, tools, compilers, frameworks == ~2Gb for each project. PlatformIO packages are globally intended for the all PlatformIO-based project.

P.S: I'm Web-dev in the past and know how does work `npm/bower` which you mention each time. We ca

[2016-01-18 22:02] ivankravets commented on #440
They have `main` field or similar to it. All logic in that scripting languages are based on "include", where Interpreter automatically build required script and go, go. In C/C++ `#inculde` and `*.cpp` are not equal. Some developers decide to use own CPPATH (Include PATH for C Preprocessor), others like to keep `inc` folder outside `src` and use global `#include <>`. Only developers of the lib know

[2016-01-18 22:08] ivankravets commented on #462
This is valid behaviour of general `build_flags` option. If you need more advanced build flags configuration please take a look at http://docs.platformio.org/en/latest/projectconf.html#extra-script

`extra_script.py`

[code]

More details http://www.scons.org/doc/production/HTML/scons-user.html#cv-CCFLAGS

[2016-01-18 22:28] dave-newson commented on #440
@ivankravets I'm on the opposite site of the coin, I don't know why you'd expect all libraries to work with `platformio run`. If I write a general-purpose library it might not work without the interfaces being completely fleshed out, which is the responsibility of the implementer and not the library.

Another issue would be libraries to interface proprietary code. The interface library might be MI

[2016-01-18 22:52] oskargargas commented on #462
Thanks, it looks I underestimated `extra_script` capabilities. I'd give it a try.

[2016-01-18 23:24] ivankravets opened #465 "Implement PLATFORMIO_FORCE_COLOR environment"
Allow to force ANSI colors and don't check tty, terminal and etc.

Hint: `click._compat.isatty = lambda stream: True`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29994055-implement-platformio_force_color-environment?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We accept bounties via [Bo

[2016-01-18 23:37] boneskull commented on #440
I'm not sure I really understand what you're getting at, no.

I will concede that yes, `package.json` is *not* the only structure that npm imposes; if an npm package *A* has dependencies of its own, those dependencies are installed in the `node_modules` subdir of *A*, which itself is in a `node_modules` subdir `A` of the application which depends upon *A* (this is valid for npm 2.x; npm 3.x does i

[2016-01-18 23:42] boneskull commented on #440
Imagine a future wherein people dump Arduino IDE in droves because they refuse to support libs structured by PlatformIO. :palm_tree:

[2016-01-19 00:06] ivankravets commented on #462
Happy coding!

[2016-01-19 00:06] #462 closed

[2016-01-19 03:47] JerrySievert opened #466 "library.json include seems broken"
hello,

i am building a library that i plan on making available via platformio,  i have noticed that no matter what `include` is set to, it always uses whatever is in src instead:

[code]

this does not use the build directory, but instead uses src.

[code]

also appears to only use what is in the src directory.  am i doing something wrong here?

thanks!

<bountysource-plugin>
---
Want to back thi

[2016-01-19 06:40] oskargargas commented on #461
On top of that please allow checkout of specific version based on git (or other vcs) tag or commit hash.
Ruby's Bundler and iOS Cocoapods (which uses the same library file format) are perfect example whats needed in terms of dependency version management and custom sources checkout.

[2016-01-19 11:28] polaroi8d commented on #301
Hy, i got the same problem, i used this tutorial https://developer.mbed.org/users/noritsuna/notebook/mbed-os-on-an-emulatorqemu/
I have 4.9.3 arm-none-eabi-gcc and when i try to '$yotta build' then crash the building.

[2016-01-19 13:32] grzegorzshub commented on #452
done
http://pastebin.com/1kGkPVK9

[2016-01-19 14:54] ivankravets commented on #461
@oskargargas Of course, I'll implement it.

[2016-01-19 17:05] ivankravets commented on #451
Please reopen issue if you need help.

P.S: We would be thankful for a star :star:  https://github.com/platformio/platformio/stargazers

[2016-01-19 17:05] #451 closed

[2016-01-19 17:15] ivankravets commented on #452
TODO: Make uploading via SSH https://github.com/arduino/openwrt-packages-yun/blob/master/arduino/yun-scripts/files/usr/bin/run-avrdude

[2016-01-19 17:26] ivankravets commented on #301
@polaroi8d please share here the code which allows us to reproduce this issue. Thanks.

[2016-01-19 19:04] ivankravets commented on #465
Resolved in https://github.com/platformio/platformio/commit/cc1dec39cf116331568bd8129bf3a4f4e92d1947

[2016-01-19 19:04] #465 closed

[2016-01-19 20:06] g7uvw commented on #453
Sorry - only just had time to get to test this.
It looks like the framework-spl is missing some files.
It's definitely missing stm32f4xx_hal.h and stm32f4xx_hal_rcc.h
My build gives up at that point.

[2016-01-19 21:17] valeros commented on #401
@donnib According to your Arduino IDE build log the firmware was compiled for 40MHz frequency. Could you try [latest develop version of PlatformIO](http://docs.platformio.org/en/latest/installation.html#d-development-version) and specify `board_f_cpu=40000000L` option in your `platformio.ini`?

[2016-01-19 21:26] ivankravets commented on #466
See https://github.com/celcius-labs/emdb/pull/1

`include` here doesn't mean C Preprocessor `#include`. See docs http://docs.platformio.org/en/latest/librarymanager/config.html

it means that developer explains PlatformIO Crawlers which files should be treated as "source code" and should be built.

As for own `CPPATH` and other flags see https://github.com/platformio/platformio/issues/289

[2016-01-19 21:30] JerrySievert commented on #466
@ivankravets i understand the intended use of `include`, but i am reporting that it does not appear to be working as intended.  i had all of the source code in `build`, but it still only copied and built what was in `src`, instead of following the directive.

this appears to be a bug, given that case.

[2016-01-19 21:31] ivankravets commented on #466
Could you merge my PR?

[2016-01-19 21:33] JerrySievert commented on #466
i have merged your PR - what allows for this to work now is that `jsmn` has been published on platformio, which allows for me to use it as a dependency, but i still believe it is a bug, as it does not seem to correctly copy and build if `include` is set, and there is a `src` directory.

[2016-01-19 21:37] ivankravets commented on #466
[code]
[code]

[2016-01-19 21:38] JerrySievert commented on #466
yes, i know that it is working when i add a dependency - let me create an example for you that is not published and does not include dependencies to show you the issue.

[2016-01-19 21:49] ivankravets commented on #466
@JerrySievert You are right. I see this error
[code]

I will look on it. Thanks.

[2016-01-19 21:50] JerrySievert commented on #466
thanks! just finished my test case.  i can add it to github if you want, or can let you run with it.

[2016-01-19 21:50] ivankravets commented on #466
Do you mean this https://github.com/platformio/platformio/issues/466#issuecomment-172998890 ?

[2016-01-19 21:51] JerrySievert commented on #466
@ivankravets yes

[2016-01-19 21:58] valeros commented on #453
Hi @g7uvw these files `stm32f4xx_hal.h` and `stm32f4xx_hal_rcc.h` belong to ST HAL library.

[2016-01-19 23:06] ivankravets commented on #466
I've just tried to resolve this issue. This isn't a bug. PlatformIO 2.0 looks for dependent libraries which are included from the source files of project. It doesn't look for nested lib by lib. If you want to enable this feature please see http://docs.platformio.org/en/latest/projectconf.html#lib-dfcyclic

However, PlatformIO 3.0 will analyze `library.json` from the library before build . The temp

[2016-01-19 23:09] ivankravets commented on #440
Guys, which problems do you have with the current moderation policy? I moderate all pending libs within 1 hours. What is more, we don't have a lot of new libs.

[2016-01-19 23:57] ivankravets opened #467 "Add project generator for VIM"
Allow to generate VIM project
- [ ] `Make` file with predefined targets
- [ ] Clang complete config
- [ ] Linter config

[2016-01-20 01:33] dave-newson commented on #440
I think what we're asking for is:

#### 1. Remove the human element of library moderation
No matter how good of a job you're doing, it won't scale, you need to sleep, etc, etc.
You've already said you're working towards this with automated validation, so that's great.

#### 2. Allow more freedom in the library submissions
This has only been raised because it was the argument for *why* there are st

[2016-01-20 01:33] chall3ng3r commented on #398
Yes, I've been developing using Sming framework for ESP8266. It's awesome. Its also showing up in monthly top downloads on PlatformIO stats.

[2016-01-20 02:13] kireevco commented on #398
@ivankravets so, what do we need from sming side? make the projects work under scons, CMAKE? Or something else?

[2016-01-20 06:32] itsjustvenky commented on #398
@kireevco When I build my esp-open-sdk, it is taking 3.5GB of disk space and Sming depends on this SDK. So here is my question, do we really need 3.5GB files for Sming or I am doing something wrong after build not cleanin-up. ? thank you.

[2016-01-20 06:34] kireevco commented on #398
@itsjustvenky you can try binary builds of [esp-alt-sdk](https://github.com/kireevco/esp-alt-sdk)

[2016-01-20 06:36] itsjustvenky commented on #398
@kireevco  Thank you. Sure I will give a try.

[2016-01-20 08:19] donnib commented on #401
@valeros ok so i did what you suggested. I uninstalled platformio as per the doc, installed dev, added the ```board_f_cpu``` line and then i flashed and wola it worked, i was curios so i removed the board line from the platform.ini, it still worked, hmmm. I then uninstalled dev platformio and installed stable and it still worked, now i don't understand what happened, what made it work ?

[2016-01-21 11:21] krissfr opened #468 "platformio for esp8266 need update"
Hi,

Since the wifiManager lib has been updated ( https://github.com/tzapu/WiFiManager ), "platformio ci" don't compile my program. My program compil fine with the Arduino IDE and the updated version of https://github.com/esp8266/Arduino and https://github.com/tzapu/WiFiManager .

Can you please update the "platformio ci" for esp8266 with the last version of https://github.com/esp8266/Arduino ?

I

[2016-01-21 11:22] krissfr commented on #468
i add a part of the compilation error :

/spiffs_api.o .pioenvs/esp12e/FrameworkArduino/spiffs_hal.o .pioenvs/esp12e/FrameworkArduino/time.o
xtensa-lx106-elf-ranlib .pioenvs/esp12e/libFrameworkArduino.a
.pioenvs/esp12e/WiFiManager-master/WiFiManager.cpp: In member function 'void WiFiManager::handleWifiSave()':
.pioenvs/esp12e/WiFiManager-master/WiFiManager.cpp:462:20: error: 'class IPAddress' has

[2016-01-21 21:54] comino opened #469 "SPIFFS upload issue"
Platformio 2.7.1
Board: ESP12e
Framework: Arduino

[code]
SPIFFS.bin is succesfully created, but not flashed.

As also observed by FWeinb: https://github.com/platformio/platformio/issues/382

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30096179-spiffs-upload-issue?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues

[2016-01-21 22:00] ivankravets commented on #469
Do you have files in `data` dir?
Why the print-log is broken?

[2016-01-21 22:04] comino commented on #469
Oh deam - it was a typo in the dir put in platformio.ini

[2016-01-21 22:04] #469 closed

[2016-01-22 00:29] JerrySievert commented on #440
also, how are libraries updated in platformio library registry?  i noticed that it does not occur with a `git push`.

is there a mechanism to trigger the update in the library registry?

[2016-01-22 04:40] boneskull commented on #440
I am in agreement with @dave-newson, except #3 seems like unnecessary overhead. A package may or may not be "compliant" at any given commit or version. Furthermore as PlatformIO changes, older lib versions which were once compliant may no longer be.

Again I feel the community will work it out on its own. If a lib fails to compile, well, that's what GitHub issues are for.

[2016-01-22 04:42] boneskull commented on #440
It's worth mentioning again that any stamp of approval a lib may get won't guarantee that it actually works with whatever weird edge case or platform people are trying to use it on. As such such a thing loses value.

[2016-01-22 17:02] JerrySievert commented on #440
as an aside, i agree with @boneskull and @dave-newson.

[2016-01-23 21:17] ivankravets opened #470 "PlatformIO IDE for Atom"
- [x] write documentation how to use it
- [x] publish PlatformIO IDE package to Atom registry

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30147101-platformio-ide-for-atom?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm

[2016-01-23 22:44] #470 closed

[2016-01-24 11:19] nmaas87 opened #471 "Add support for Infineon XMC1000/XMC1100 (XMC 2GO) and XMC4000/XMC4500 (XMC 4500 Relax) Familiy"
http://www.infineon.com/cms/en/product/microcontroller/32-bit-industrial-microcontroller-based-on-arm-registered-cortex-registered-m/xmc-development-tools-kits-and-boards/channel.html?channel=db3a30433580b3710135a07902883872

http://www.infineon.com/cms/en/product/evaluation-boards/KIT_XMC_2GO_XMC1100_V1/productType.html?productType=db3a304443537c4e01436ccecb5d154f#ispnTab1

http://www.infineon.co

[2016-01-24 15:39] g7uvw commented on #453
Ok, I think I'm misunderstanding something.
I thought the SPL was built upon the HAL. I'll have to go away and read some more.

[2016-01-24 20:19] ivankravets commented on #468
I've just updated library and it was switched to stable version. Please
[code]

[2016-01-24 20:20] ivankravets commented on #466
Please reopen this issue if you need any help

[2016-01-24 20:20] #466 closed

[2016-01-24 20:23] ivankravets commented on #448
I've released beta version [PlatformIO IDE for Atom](http://docs.platformio.org/en/latest/ide/atom.html) today. It contains built-in PlatformIO CLI tool and Terminal. Also, users have ability to install this built-in PlatformIO CLI tool globally using `Menu: PlatformIO > Install Shell Commands`, then open system Terminal and `platformio` and `pio` should be available.

[2016-01-24 20:26] ivankravets commented on #440
Friends, OK, I'll remove moderation later after improving `library.json` validator for http://docs.platformio.org/en/latest/userguide/lib/cmd_register.html

P.S: We don't have a lot of new libraries. I want to focus on PlatformIO IDE and PlatformIO 3.0.

P.S.S: Have you tried [PlatformIO IDE for Atom](http://docs.platformio.org/en/latest/ide/atom.html) (beta)?

[2016-01-25 06:57] loopj commented on #445
:+1:

[2016-01-25 09:51] polaroi8d commented on #301
@ivankravets sorry for not respoding.  Meanwhile i fixed the problem... I downloaded a new toolchain from  https://launchpad.net/gcc-arm-embedded/+download  and worked with this. ( After this, came up an other problem, the build directory hitched with the building process... fix: delet the building directory )

[2016-01-25 10:25] krissfr commented on #468
@ivankravets hi, thank you for your help.

Are you change availaible for the "platformio ci" command too ?
i build my project on shippable with "platfomio ci" command, and i still have the issue.

[2016-01-25 10:30] ivankravets commented on #468
@krissfr I've not change something. Could you point me to build log?

[2016-01-25 10:47] krissfr commented on #468
@ivankravets this is a pastbin of my log : http://pastebin.com/fWcfT3rL

[2016-01-25 10:50] ivankravets commented on #468
Here are 2 problems:

1. PlatformIO uses the latest stable Arduino for ESP8266
2. You use the latest DEVELOP version of dependent libs.

## Solution

Install all libraries from PlatformIO Library Registry using `platformio lib install`. If lib isn't in our registry, we will add it.

[2016-01-25 10:53] ivankravets commented on #301
Why you don't use built-in PlatformIO toolchain?

[2016-01-25 11:17] krissfr commented on #468
@ivankravets thank you for your help.
i successfully build with platformio lib install 567 and platformio lib install 89 for WifiManager and PubSubClient libraries. The one that i can't find in the platformio library registry is https://github.com/milesburton/Arduino-Temperature-Control-Library . There is a similar library "Dallas Temperature" (id 54), but not available for esp8266, so for this on

[2016-01-25 11:20] ivankravets commented on #468
Just installed it :) This only compatibility info. If it works for you, we will make PR to this lib with the new compatible platforms.

[2016-01-25 11:22] ivankravets commented on #468
I've just made PR https://github.com/milesburton/Arduino-Temperature-Control-Library/pull/50

[2016-01-25 11:54] krissfr commented on #468
@ivankravets you're right the library id 54 work fine with my esp8266.
Thank you again for your help, now i don't use external libraries, embedded platformio libraries from registry are excellent and easy to use.

[2016-01-25 11:54] #468 closed

[2016-01-25 11:56] ivankravets commented on #468
Happy coding! :+1:

[2016-01-25 13:44] milesburton commented on #468
The TCL works fine with ESP8266 - I'm using it to monitor a couple of Fish Tanks :). Let me review the PR

[2016-01-25 14:37] sstaub opened #472 "Add please Arduino Boards from arduino.org"
Please can you add the boards from the alternativ Arduino Company arduino.org
- Leonardo ETH
- M0
- M0 Pro

sstaub

[2016-01-25 14:47] krissfr commented on #468
@milesburton i use it for  my reeftank too, to monitor my high power leds temperature ( the esp8266 control leds (sunrise, sunset, cloud, storm, moon, ...), monitor temperature of leds,  control fans to cool Leds, monitor rpm of fans, ...)
@ivankravets and @milesburton thanks to you (and many others who provides libraries), it come true and my corals and fishes are happy :)

[2016-01-25 19:36] JerrySievert commented on #440
@ivankravets awesome! thank you!  just curious how often libraries get updated on platformio, and how to force an update if a new version is released.

also, i will definitely look at the IDE for Atom, but will note that at the moment i'm using the clang plugins and the code intelligence is working very nicely (once you set up .clang_complete).

[2016-01-26 00:00] #447 closed

[2016-01-26 09:44] zserge opened #474 "Custom board with linker script for libOpenCM3"
I'm trying to use platformio with custom boards (specifically, stm32f401rb).

I've created a JSON file describing my board like this:

[code]

I use libopencm3 framework, it contains a "common" stm32f4 linker script which is supposed to be included like this (this is my `stm32f401.ld` from the config above):

[code]

So the question is - where should I put my custom ldscript for my custom board? I

[2016-01-26 09:48] ivankravets commented on #474
You can specify full path in board's definition (`"ldscript": "/full/path/to/script.ld"`,). Have you tried it?

[2016-01-26 10:14] zserge commented on #474
Hmm... I guess I could, but it's kinda not portable, if other developers
have fetched the same sources to a different path that will break the
build. Can it be relative instead? Or can I use variable interpolation in
that path string?
On Jan 26, 2016 5:48 PM, "Ivan Kravets" <notifications@github.com> wrote:

[2016-01-26 10:33] ivankravets commented on #474
`ld` looks for scripts in `LIBPATH`. You can dump PlatformIO build environment using `platformio run -t envdump` and find `LIBPATH`. As you can see, `~/.platformio/packages/ldscripts` is added to this list. See https://github.com/platformio/platformio/blob/develop/platformio/builder/main.py#L99

To make portable project you need to take a look at [extra_script](http://docs.platformio.org/en/latest

[2016-01-26 10:37] ivankravets commented on #474
Also, don't forget that you can change build environment on-the-fly using `extra_script`, including pre-defined board settings. See `BOARD_OPTIONS` environment variable.

[2016-01-26 11:24] zserge commented on #474
Ok, extra_script can become a solution, but it looks like my extra script
is evaluated after libopencm3.py fails at find_ldscript(path).. So I get a
crash before I'm able to "patch" my environment.

On Tue, Jan 26, 2016 at 6:37 PM, Ivan Kravets <notifications@github.com>
wrote:

--
"One must have a chaos inside oneself to give birth to a dancing star." -
Thus Spoke Zarathustra

[2016-01-26 11:26] furyfire commented on #461
The design specs for PHP's composer should apply directly to platformio.
https://getcomposer.org/doc/
Maybe it is time for the library's you require to be placed in the project folder and not platformio's user folder?

What about resolving dependecies? Can package A require package B which will also be automatically installed and updated?

[2016-01-26 11:32] ivankravets opened #475 "Local and global libraries"
Need to add `--global, -g` option to `platformio lib install` command. If `-g` is not specified (default behaviour) need to install library in `project/.piolibdeps` directory, otherwise use `~/.platformio/lib`.

This approach will allow each project depends on specific library versions.

[2016-01-26 11:34] ivankravets commented on #461
@furyfire

Thanks! See https://github.com/platformio/platformio/issues/475

These features are partially implemented in the PlatformIO 2.0. However, this functionality will be rewritten from the scratch in PlatformIO 3.0. See https://github.com/platformio/platformio/issues?utf8=✓&q=is%3Aopen+milestone%3A3.0.0+label%3Alib

[2016-01-26 11:43] ivankravets commented on #474
@valeros please remove assertion https://github.com/platformio/platformio/blob/develop/platformio/builder/scripts/frameworks/libopencm3.py#L59 and allow to specify own LD Script using `extra_script`.

[2016-01-26 11:55] ivankravets opened #476 "Automatically update project settings for PlatformIO IDE"
Check if build environment is changed, then update `.clang_complete` and `.gcc-flags.json` data.

[2016-01-26 11:58] zserge commented on #474
Ok, just removing assert doesn't help it - the same exception appears later, in `merge_ld_scripts`.
But a solution to my problem seems to be as simple as `build_flags = -Wl,-T${PROJECTSRC_DIR}/stm32f401.ld` in platformio.ini. Do you see any potential pitfalls with this?

Also, since now my custom build flag works, I wonder how can I trick the platformio to ignore the ldscript specified in board JS

[2016-01-26 12:04] ivankravets commented on #474
This is GOOD approach. It should work in any case. @valeros will fix `libopencm3` framework.

I've changed this issue to `bug`, we will fix all these things.

P.S: Have you tried Ukrainian [PlatformIO IDE](http://docs.platformio.org/en/latest/ide/atom.html)? :)

[2016-01-26 12:11] zserge commented on #474
Круто, дякую! Доречі, такий сценарій як в мене мабуть буде дуже типовий, бо мало хто в продакшені використовує всякі ардуїни, здебільшого кастомні чіпи з малою пам’яттю, бо ціна і всяке таке. То може б детальніше в доках розписати що до чого...

With regards to the IDE - I'm a religious vim user, but Atom seems to be on the rise these days, so I'll definitely give it a try and spread the word abou

[2016-01-26 12:21] valeros commented on #474
Hi @zserge! Please try [development version](http://docs.platformio.org/en/latest/installation.html#d-development-version) with `build_flags = -Wl,-T${PROJECTSRC_DIR}/stm32f401.ld`

[2016-01-26 13:03] zserge commented on #474
Yes, I confirm that this works. Thanks for such a quick fix!

[2016-01-26 13:03] #474 closed

[2016-01-26 16:37] jasonmhite commented on #399
So an update on this... the problem has disappeared and now things are working with some new ESPs I got. I *think* I might have gotten a bad batch of ESPs or DS18s; I tried with several different ESPs and DS18s and they all did not work, but all the ones I tried were from the same orders. I got some new ones and they work, so I guess I got a crop of faulty parts. That doesn't really explain why th

[2016-01-26 16:37] #399 closed

[2016-01-26 17:15] ivankravets commented on #399
Thanks for the report! Please give us a star :star: https://github.com/platformio/platformio/stargazers

[2016-01-26 17:55] eyp opened #477 "Incorrect board when uploading nodemcu instead of esp12e"
I'm working on a project with board configured _esp12e_, but what is my surprise that when it uploads the firmware via serial port, it sets board _nodecmu_, and my device doesn't work right...

My platformio.ini file:

[env:esp12e]
platform = espressif
framework = arduino
board = esp12e
build_flags = -Wl,-Tesp8266.flash.4m.ld

The output of the command platformio -t upload

Tue Jan 26 18:42:32 201

[2016-01-26 18:08] ivankravets commented on #477
This is reset method `-cd nodemcu `. Change it to `ck`, see http://docs.platformio.org/en/latest/platforms/espressif.html#custom-reset-method

P.S: `reset_method` is implemented in PlatformIO 2.8.0 which has not been released yet. You can try the latest [development version](http://docs.platformio.org/en/latest/installation.html#d-development-version) or [PlatformIO IDE](http://docs.platformio.org

[2016-01-26 18:14] jasonmhite commented on #414
Wouldn't it make sense to ask for a particular selection if there are multiple options that match a given name? Something like "there are multiple libraries that match the name <foolib>, choes one of: 1. foo1 2. foo2 3. foo3"? Similarly, when building with `platformio run`, if it runs into a conflict then it can pause and ask for the proper choice and simply remember that in the future, perhaps by

[2016-01-26 18:16] ivankravets commented on #414
@jasonmhite this is `feature` issue, I'll implement it.

[2016-01-26 18:23] eyp commented on #477
After installing last 2.8.0 dev4 version, I can build the project but can't upload:

Tue Jan 26 19:21:44 2016] Processing esp12e (platform: espressif, upload_resetmethod: ck, board: esp12e, framework: arduino, build_flags: -Wl,-Tesp8266.flash.4m.ld)

<lambda>(["upload"], [".pioenvs/esp12e/firmware.bin"])
scons: *** [upload] TypeError : decoding Unicode is not supported
Traceback (most recent call

[2016-01-26 18:24] ivankravets commented on #477
I see it, give me a few minutes it will be fixed.

[2016-01-26 18:28] jasonmhite opened #478 "Donating to PlatformIO development"
I really like PlatformIO and would like to support its development. I'm just a student so it wouldn't be anything huge, but I'd like to make a donation. Is there a way to set up to do this? I searched here and on the main page and couldn't find any mention apart from Bountysource, which isn't the same thing as donating.

[2016-01-26 18:32] ivankravets commented on #477
@eyp please reinstall the latest PlatformIO 2.8.0.dev5

[2016-01-26 18:38] eyp commented on #477
Done. Well, now it builds and uploads without the nodecmu board (uses ck) but stills the behaviour is different to what I get when building with Arduino IDE. I mean, it doesn't work as I expect, so while I try to see what happens I'll come back to Arduino IDE :(... that what's something I wanted to avoid.

Thanks Ivan.

[2016-01-26 18:57] ivankravets commented on #477
@eyp which is your settings in Arduino IDE? Reset method? CPU speed? LD Script?

[2016-01-26 19:22] ivankravets commented on #478
Thanks a lot!!! I've just added button to the README page https://github.com/platformio/platformio

P.S: We use our local Ukrainian payment system because PayPal doesn't work in Ukraine.

[2016-01-26 19:31] eyp commented on #477
I've found the reason. If I use esptool it doesn't flash it right, but if I use esptool.py it works. I've tested in Arduino IDE, and with esptool 0.4.6 it doesn't flash it fine. I forgot to say I'm on OSX.

[2016-01-26 20:58] eyp commented on #477
Anyway, knowing that I can build the project with PlatformIO,  I think I can live uploading using esptool.py on the command line :).

Thanks!

[2016-01-26 22:04] ivankravets commented on #477
Sure! Please take a look at [extra_script](http://docs.platformio.org/en/latest/projectconf.html#extra-script). See my example https://github.com/platformio/platformio/issues/365#issuecomment-163695011

`extra_script.py`
[code]

[2016-01-26 22:18] ivankravets commented on #477
This is not good! You should report your problem to @igrr https://github.com/igrr/esptool-ck/issues

[2016-01-26 22:32] ivankravets commented on #474
@zserge

I'm too :blush: I have opened issue to make project generator for VIM which will generate configs for YouCompleteMe, syntastic and etc. https://github.com/platformio/platformio/issues/467

Thanks a lot! :) Don't forget to give us a star :star: https://github.com/platformio/platformio/stargazers

[2016-01-27 07:12] eyp commented on #477
The problem is that I don't know what happens when I upload with esptool. I mean, my device has a multi color led that shows a different color depending on its state. Also prints some traces to the serial port. Well, when I upload with esptool, it doesn't print anything, and the led behaviour is crazy. But I actually don't what's happening in the chip.

Anyway I'll try to explain my case there.

A

[2016-01-27 07:12] #477 closed

[2016-01-27 13:00] ivankravets opened #479 ""platform.json" manifest for development platform"
# Aims

We are very happy that PlatformIO community is growing up extremely fast. The last weeks have brought us a lot of requests to add new board or platform https://github.com/platformio/platformio/issues. This forces us to refactor PlatformIO 3.0 development platforms logic from the scratch. The main aim is to allow users, developers or even embedded vendors to create own "development platform

[2016-01-27 23:07] loopj commented on #445
Would be happy to donate particle photon / particle core boards if that would help with development.

[2016-01-28 07:40] Obijuan opened #480 "Adding support for Lattice FPGAs and Icestorm opensource fpga toolchain"
In mid 2015, Clifford Wolf released the first opensource toolschain for FPGAs: [The icestorm project](http://www.clifford.at/icestorm/)

It would be great to include it into Platformio. Having an IoT ecosystem that include microprocessors, FPGAs and soft-processors will be amazing.  Platformio can be the first opensource tools to support that whole ecosystem.

We have started the integration. The

[2016-01-28 12:22] knutel opened #481 "Add support for AVR XMEGA"
It would be great to have support for AVR XMEGA, too. There already is a project to make Arduino support at [https://github.com/Xmegaduino/Xmegaduino], so maybe PlatformIO support is not that difficult. I might take a stab at it myself if I get the time.

[2016-01-28 22:25] ivankravets commented on #476
Resolved via https://github.com/platformio/platformio-atom-ide/issues/20

[2016-01-28 22:25] #476 closed

[2016-01-28 22:26] ivankravets opened #483 "Don't build empty project"
Show error message and hint that need to add files to `src` folder.

[2016-01-29 12:22] #483 closed

[2016-01-29 13:17] sstaub opened #484 "nxplpc.json ram size of LPC1768"
In nxplpc.json the ram_size of all boards with the NXP LPC1768 Prozessor is generally 64kB, not only for Seeeduino ArchPro.

[2016-01-29 14:37] seclorum commented on #444
Thanks!

[2016-01-29 15:01] mogorman opened #485 "Support for "scripts" in package manifest"
It would be nice to have the toolchains have the option to be built locally.  This would make platformio more portable and sustainable in the future.

[2016-01-29 15:33] marcpoppleton opened #486 "upload fails and wipes bootloader on Trinket 5v 8Mhz"
Hi,

I am encountering a problem using PlatformIO to upload a firmware on an Adafruit Trinket 5v 8Mhz.
Compilation ends ok, but upload fails and wipes out the bootloader of the Trinket. Using the Arduino IDE to compile and upload works fine.

Here is the log of the upload using PlatformIO:

[code]

Any idea of what I'm doing wrong?

PlatformIO, version 2.7.1.

Thanks,

[2016-01-29 16:02] ivankravets commented on #486
Have you tried [Upload using Programmer](http://docs.platformio.org/en/latest/platforms/atmelavr.html#upload-using-programmer)?

[2016-01-29 16:17] #484 closed

[2016-01-29 16:37] marcpoppleton commented on #486
Yeay, problem solved!
Thanks! (for the answer and the very short deplay to provide it!)

[2016-01-29 16:42] ivankravets commented on #486
Please give us a star :star: https://github.com/platformio/platformio/stargazers

Have you tried [PlatformIO IDE](http://docs.platformio.org/en/latest/ide/atom.html) ?

[2016-01-29 16:45] marcpoppleton commented on #486
I use IntelliJ IDEA with Ant scripts calling PlatformIO, I'll give PlatformIO IDE a try. (star given)

[2016-01-29 16:50] ivankravets commented on #486
Thanks a lot!

Happy coding!

[2016-01-29 16:50] #486 closed

[2016-01-30 17:26] honzabenes opened #487 "Missing dependency in the samd21_xpro configuration"
Hi, I tried to initialize project using the following command: "platformio init --ide clion --board samd21_xpro".
It downloaded some dependencies but failed on the following error: IOError: [Errno 2] No such file or directory: '/home/honza/.platformio/packages/framework-mbed/variant/SAMD21J18A/SAMD21J18A.eix':
Basically the whole /home/honza/.platformio/packages/framework-mbed/ directory was missi

[2016-01-31 08:54] hemanth7787 opened #488 "[platformio-ide 0.3.2] Windows setup affected by virtualenv 14.0.2/14.0.3 bug"
The virtualenv.tar.gz included tin the windows package uses virtualenv 14.0.3 which is known to have problem with windows. Resulting in partial non-working installation.

Details of the virtualenv bug:
https://github.com/pypa/virtualenv/issues/856

[2016-01-31 10:23] ivankravets commented on #488
Thanks! PlatformIO IDE 0.3.3 is released!

P.S: Next time please use this repo https://github.com/platformio/platformio-atom-ide

[2016-01-31 10:23] #488 closed

[2016-01-31 19:25] oskargargas commented on #462
I'll leave comment here to not open a new issue. Hopefully you'll see this.

Is extra_script executed before or after board builder scripts? I work with Teensy 3.2 and I'm under impression it is executed before though I'd expect it to execute after. In exampleI'd like to override CPPDEFINES set in Teensy builder script https://github.com/platformio/platformio/blob/7a7fa845fe82404b4adff6e598efe6690

[2016-01-31 19:29] ivankravets commented on #462
@oskargargas

After. See https://github.com/platformio/platformio/blob/develop/platformio/builder/main.py#L147

You can "undefine" any macros using `-U` in `build_flags`.

PlatformIO is open source project. You can fork it. See button above.

[2016-01-31 19:45] oskargargas commented on #462
@ivankravets `-U` works as expected during compilation but doesn't when generating CMake files for CLion what is understandable.

If I prepare pull request exposing some flag configuration for Teensy board will it be accepted?
I'm thinking about `TEENSY_USB_TYPE` defaulting to `USB_SERIAL`, `TEENSY_KEYBOARD_LAYOUT` defaulting to `LAYOUT_US_ENGLISH` and `CPP_STANDARD` defaulting to `gnu++0x`. All d

[2016-01-31 21:22] ivankravets commented on #462
@oskargargas I accepted 90 PRs for PlatformIO 2.0 see https://github.com/platformio/platformio/pulls?q=is%3Apr+is%3Aclosed

However, PlatformIO 3.0 will be licensed under GPL 2.0. All contributions to the PlatformIO Core (not to scripts, docs) will be removed. I decided to untie contributors hands and create this issue https://github.com/platformio/platformio/issues/479

It means, that code of boa

[2016-01-31 21:37] mogorman opened #489 "redbearlabs also supports arduino framework."
It would be nice to have that feature added.

[2016-02-01 00:12] ivankravets opened #490 "URGENT: Further fate of PlatformIO Project... Part I"
Dear PlatformIO Users,

We, [PlatformIO Team](http://platformio.org/#!/contact), want to say you **THANKS A LOT** that use PlatformIO, report issues, share ideas or recommend PlatformIO to your friends. Without you will not be PlatformIO because the main aim of PlatformIO is to be independent from vendors and their influence. We have different tools, scripts, utilities, IDEs over Internet but all

[2016-02-01 11:58] Obijuan commented on #480
We already have the package  toochain-icestorm-linux_x86_64-1.tar.gz, with all the icestorm tools compiled  for Linux_x86_64. How should be proceed? Where should we upload the package?
Thanks a lot

[2016-02-01 12:05] ivankravets commented on #480
@Obijuan Hi! Is difficult to provide toolchain for other host OS?

With PlatformIO 3.0 you can keep it in own location. I'm working on it. However, if you don't wait for PlatformIO 3.0 I can place it to current [PlatformIO Storage](https://sourceforge.net/projects/platformio-storage/). Where I can download it?

[2016-02-01 12:25] Obijuan commented on #480
Thanks @ivankravets!

No. We will do it. But first we want to develop under linux, to understand all the details of platformio. Once everything is working fine, we will provide packages for the other host OS

That would be great :-)

[toochain-icestorm-linux_x86_64-1.tar.gz](https://github.com/bqlabs/Platformio-FPGA/raw/master/packages/toochain-icestorm-linux_x86_64-1.tar.gz)

Thanks a lot :-)

[2016-02-01 13:14] g7uvw commented on #490
I'm a very happy user of PlatformIO and would happily try to get more involved in the development side of things, except I don't know where to start. Is there a hacking guide? "Edit here to add/change $foo" ?

I'm playing with the STM32 parts at the moment and I hope I may be able to contribute some example code for them.

[2016-02-01 13:15] ivankravets commented on #490
@g7uvw Thanks! Please take a look as #479. It will allow our users to develop own platforms and etc. I will document it.

[2016-02-01 22:38] rwalli opened #491 "Arduino framework does not work with network boot."
Code (e.g blink.ino) generated with platformio-2.8.2 or platformio-3.0.0dev fails to work with Ariadne or Netload bootloader.
If i compile with various versions of the Arduino IDE the upload over ethernet works.
see also https://github.com/codebendercc/Ariadne-Bootloader/issues/22

Robert

[2016-02-02 03:51] mattb opened #492 "Coding including Audio.h with teensy31 board fails to compile from commandline"
On my Mac, the following steps result in the compilation failure below:

    $ platformio init -b teensy31
    $ echo '#include <Audio.h>' > src/main.cpp
    $ platformio run

The output is:

    [Mon Feb  1 19:47:51 2016] Processing teensy31 (platform: teensy, board: teensy31, framework: arduino)
    -------------------------------------------------------------------------------------------------

[2016-02-02 05:48] ivankravets commented on #492
Do you use the latest PlatformIO? Please provide sketch to reproduce this issue.

[2016-02-02 05:52] ivankravets commented on #492
You have to implement `setup` and `loop` prototypes

[2016-02-02 05:55] mattb commented on #492
This is with the latest platformIO installed via pip today. Even with setup() and loop() routines the same error occurs - it appears to be missing type definitions such as IRQn_Type from teensy3/core_cm4.h (from the Teensy core). Attaching a tarball of my minimal project.
[sketch.tar.gz](https://github.com/platformio/platformio/files/113456/sketch.tar.gz)

[2016-02-02 05:56] mattb commented on #492
note: I added setup() {} and loop() {} to my cpp file. If I remove #include <Audio.h> then it compiles, so the error seems to be unconnected to the lack of those definitions.

[2016-02-02 07:14] Obijuan commented on #480
I am preparing the pull-request for this issue.

Should I created a branch of develop? or a branch of feature/platformio-30

Thanks

[2016-02-02 11:41] ivankravets commented on #492
Thanks! The issue is linked with invalid Arduino library structure. I've just made PR https://github.com/PaulStoffregen/Audio/pull/163 . Please wait while @PaulStoffregen merge it.

[2016-02-02 15:58] rwalli commented on #491
Update: found out that the issue results from binary validation in the bootloader but i can't figure out why
PlattfromIO produces different kind of binaries with the same compiler.
Could you please delete this topic until i find more details.

[2016-02-02 15:58] #491 closed

[2016-02-02 16:04] ivankravets commented on #491
PlatformIO uses own code builder and build flow. We don't hide what we build. You can see all commands in the build output. Please contact with authors of the bootloader.

[2016-02-02 16:46] PaulStoffregen commented on #492
done

[2016-02-02 16:49] ivankravets commented on #492
@PaulStoffregen thanks a lot!

@mattb please reinstall library http://platformio.org/#!/lib/show/70/Audio

[code]

[2016-02-02 16:49] #492 closed

[2016-02-02 17:47] #487 closed

[2016-02-02 19:15] nmaas87 opened #493 "MSP430 Toolchain does not work on Windows"
I did try to compile the Blink project example with the most recent version of Platformio in Atom.io in Windows 8.1 64 bit but got the problem that the Toolchain does not work for MSP430:
Error was

My User.platformio\packages\ldscripts" -L.pioenvs\lpmsp430g2553 -Wl,--start-group -lm .pioenvs\lpmsp430g2553\libFrameworkEnergia.a -Wl,--end-group
c:/users/My User/.platformio/packages/toolchain-timsp4

[2016-02-02 21:00] ivankravets commented on #480
The package has been added to manifest and mirrored over CDN. See http://api.platformio.org/packages/manifest

Where I can download the packages for the rest archs?

Thanks! :+1:

[2016-02-03 02:45] supr commented on #490
Hi @ivankravets and team thanks for sharing PlatformIO with us. I very much loved using it. As i see it. I love actively working on the project in whatever aspects i could.

[2016-02-03 03:57] mattb commented on #492
Thanks! Seems to be working great now.

[2016-02-03 09:17] choidamdam commented on #472
+1
maybe we should create separate framework like `arduino.org`.

[2016-02-03 09:19] Obijuan commented on #480
Thanks a lot!  I will prepare the packages for the other archs. It will requiere some time, as we only works on Linux. I will try to give them to you ASAP

[2016-02-03 10:05] nmaas87 commented on #493
Ok,

the error is due to a blank sign in the userpath of Windows.
So if you got an User Path c:/users/My User/.. you get the error i described above,
if you got an User Account like MyUser it does work.
Maybe you need to " " the paths to fix the problem for good?

[2016-02-03 11:54] malachib opened #494 "Update SparkFun Pro Micro variants .h file"
I looked around but couldn't find a way to submit this change myself, so asking here - the sparkfun_promicro/pins_arduino is nearly a year out of date can we get that updated?  (I believe the source is here [https://github.com/sparkfun/SF32u4_boards/tree/master/sparkfun/avr/variants/promicro](url)

On a related note; is there a way for me to do something like a pull request to save you the hassle?

[2016-02-03 14:34] ivankravets commented on #472
I contacted with Arduino.Org and waiting for the further information. I'll write here about all news.

[2016-02-03 16:01] kommancs96 opened #495 "Installing shell commands on OSX"
I can't install shell commands on OSX. I use Atom IDE , and I have installed platformio-ide package, and I clicked on `Install shell commands` but nothing happened, and the `pio` and `platformio` commands don't work. Atom 1.4.3

[2016-02-03 16:01] valeros commented on #494
Hi @malachib! Please try updated package via `platformio update`.

[2016-02-03 16:09] ivankravets commented on #495
Duplicate of https://github.com/platformio/platformio-atom-ide/issues/35

[2016-02-03 16:09] #495 closed

[2016-02-03 20:10] malachib commented on #494
OK I will try it out, it looks promising!  How about the related question, where I'd be able to submit the change myself?