[2014-06-13 20:01] ivankravets opened #1 "Build referred libraries"
Parse `include <SomeLibrary>` from sources and find in framework's and project's libraries directory

[2014-06-15 12:28] ivankravets opened #2 "Cover code with tests"
- [x] System test for "examples"
- [x] Integration test for commands. See [Testing Click Applications](http://click.pocoo.org/testing/)

[2014-06-15 17:46] #1 closed, assigned to nobody

[2014-06-19 20:22] ivankravets opened #3 "Create auto-installer get-platformio.py"
Allow to install PlatformIO via one command:

[code]

[2014-06-19 20:36] ivankravets opened #4 "Allow additional `build_flags` for environments"
In the project file [platformio.ini](https://github.com/ivankravets/platformio/blob/develop/platformio/projectconftpl.ini) allow user to setup additional flags for builder. Example:

[code]

[2014-06-21 15:33] #3 closed, assigned to nobody

[2014-06-21 19:28] #4 closed, assigned to nobody

[2014-06-27 16:47] ivankravets opened #5 "Add support for MBED development platforms"
- [ ] Create new development platforms which are supported by @mbedmicro (Assigned @valeros)
- [ ] Add new boards which are supported by @mbedmicro (Assigned @valeros)
- [ ] Add documentation for new platforms and boards  (Assigned @valeros)
- [ ] Add information about MBED supported platforms and boards to main site  (Assigned @ivankravets)

[2014-07-30 07:07] ivankravets opened #6 "Library Manager (Arduino / MSP430)"
We have excellent package managers like: pip, homebrew, bower, npm... I think it is time to create a libraries manager for different platforms (+ embedded). Each library should have `library.json` file, where will be necessary information like:
- name
- description
- keywords
- author
- dependencies
- downloadUrl
- include - glob-style - which files should be installed
- exclude - glob-style - whi

[2014-08-02 12:55] ivankravets opened #7 "Add support for Arduino/Energia *.ino/*.pde files"
Most Arduino libraries and examples ship with "*.ino/*.pde" files. Need to add converters to INO->CPP files:
1. Include "Arduino.h"
2. Declare setup() and loop() prototypes
3. Scan for non-declared global prototypes
4. Correct "#line" number

[2014-08-02 13:38] ivankravets opened #8 "Implement "upgrade" command and "auto-check" for the latest version"
Need to allow PlatformIO to be upgraded via

[code]

Also will be good to add "auto-check" for new version 1 time per week.
All useful information (with latest version) is available [here](https://pypi.python.org/pypi/platformio/json).

[2014-08-03 13:23] #7 closed, assigned to nobody

[2014-08-03 15:40] #8 closed, assigned to nobody

[2014-08-04 14:50] ariejan opened #9 "`ImportError: No module named platformio.util` on platformio run"
I have a very simple project, see https://gist.github.com/ariejan/3cd2986afb67e054ba46 for the `src/main.cpp` and `platformio.ini`. Both are basically a copy of the examples provided by platformio.

I'm on OS X 10.9, with Python 2.7 through home brew:

[code]

I can install and list frameworks just fine:

[code]

However, when I try to run this, I get the following error:

[code]

Since I'm not al

[2014-08-05 05:23] DArtagan opened #10 "Serial Monitor"
I've been enjoying platformio immensely, thank you for doing so much work in such recent time. I'm curious whether you consider including a serial monitor as a future goal or outside the scope of this project? If you consider it a goal, I could perhaps create something using `screen`.

[2014-08-05 11:20] #9 closed, assigned to nobody

[2014-08-07 11:36] Bouni opened #11 "Add more help-texts"
Hi,

i think it would be really helpful to have some helpers/help-texts for platformio.
For example when i create a platformio.ini file, i would really like to have the ability to call for example

[code]

to get a list of all valid board name rather than have to serach the online doc.
Maybe this could do a query in the online docs so that i keep s up to date!

[2014-08-08 19:03] jonathandreyer opened #12 "Probleme to launch the program"
Hello,

I tried to install the platformIO but I have problem:

with command platform run, this is the resultat on terminal

Traceback (most recent call last):
  File "/usr/local/bin/platformio", line 5, in <module>
    from pkg_resources import load_entry_point
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/Extras/lib/python/pkg_resources.py", line 2603, in <module>
    working_s

[2014-08-09 10:00] #12 closed, assigned to nobody

[2014-08-09 20:13] #10 closed, assigned to nobody

[2014-08-17 18:54] andykog opened #13 "No SConstruct file found"
When i tried “platformio run" i got error:

[code]

So i made changes in /usr/local/lib/python2.7/site-packages/platformio/util.py :

[code]

Then i got:

[code]

So I made pip install --egg scons
Now the error is:

[code]

But I have no idea where to get this file…

[2014-08-18 10:09] #13 closed, assigned to nobody

[2014-08-19 04:33] Bouni opened #14 "Select Arduino version to use"
Is there a way to let platformio use another version of the Arduino framework than the one you install with it?
I've done some extensions to the HardwareSerial part and want to use them in one of my projects.

[2014-08-22 14:57] #14 closed, assigned to ivankravets

[2014-09-24 19:26] #6 closed, assigned to nobody

[2014-09-27 04:34] pelikhan opened #15 "Automatic detection of port on upload"
First, let's just say that this project is awesome. This is some awesome work.

One feature that I missed moving from ion was the automatic detection of upload port. It's a very nifty feature that makes things a tad simpler.

[2014-09-27 04:36] pelikhan opened #16 "feature: rest front from cli"
It would be great to be able to launch the platformio CLI as a local web server. The obvious scenario would be the ability for a web site to send a sketch to the localhost and upload it to the board. There's quite a bit of online editors that could be used for that.

[2014-09-29 04:41] pelikhan opened #17 "Library dependency declarion in platformio.ini"
Just like in npm, it should be possible to declare all the library dependencies in the platform.io file and let platform.io deal with it (this would also include install the necessary framework/board/etc...).

[2014-10-02 05:54] pelikhan opened #18 "Compilation fails on Windows"
Having trouble compiling on Windows. Installed python 2.8.3, ran getplatformio.py, then trying to compile project:

[code]

[2014-10-03 05:12] #16 closed, assigned to nobody

[2014-10-03 16:47] #15 closed, assigned to nobody

[2014-10-05 04:46] pelikhan opened #19 "lib update crashes when no libs are installed"
- install fresh platform
- run "lib update"

  $ platformio lib update
  Traceback (most recent call last):
    File "/Library/Python/2.7/site-packages/platformio-0.7.0-py2.7.egg/platformio/**main**.py", line 64, in main
      cli()
    File "/Library/Python/2.7/site-packages/click-3.3-py2.7.egg/click/core.py", line 610, in **call**
      return self.main(_args, *_kwargs)
    File "/Library/Python

[2014-10-05 20:36] #19 closed, assigned to ivankravets

[2014-10-06 01:17] pelikhan opened #20 "support for toolable output (e.g. JSON) of CLI commands"
When calling a command that lists resources, like `platformio list`, I would like to be able to parse and process the data in a predictable way. Console output is easy to parse but things change... It would be easier to have a `--json-output` option that would force the console output to be JSON formatted.

[2014-10-06 01:21] pelikhan opened #21 "Infer more defaults in platformio.ini"
Make the platform command line easier to use by providing more defaults for 'well-known' boards like the uno. If the user specifies that he is using an Arduino Uno, the `platform` and `framework` can be inferred.

[2014-10-07 05:56] #20 closed, assigned to nobody

[2014-10-07 05:57] pelikhan opened #22 "0.7.1 not working anymore."
Tested on MacOS.

[code]

[2014-10-18 21:15] #17 closed, assigned to nobody

[2014-10-20 02:59] #22 closed, assigned to nobody

[2014-10-20 09:57] pelikhan opened #23 "Ethernet.h not found on Arduino"
The compiler fails to resolve <Ethernet.h> and there does not seem to be any library containing this feature.

[2014-10-20 19:54] #23 closed, assigned to ivankravets

[2014-11-10 05:59] pelikhan opened #24 "library ids are cumbersome and cryptic"
It's frankly cryptic to refer to library 28 rather than Adafruit Neopixel. Why the change? All other package managers (npm, pip, bower, nuget) have human readable identifiers.

[2014-11-10 06:03] pelikhan opened #25 "Why rolling out your own package manager?"
Why not building on top of npm or pip? What is the SLA for the platformio library repository?

[2014-11-10 14:11] #24 closed, assigned to nobody

[2014-11-20 04:24] huntersan9 opened #26 "Fails to download atmelavr on Windows 7"
Installed platformio 0.7.0 and 0.8.0 with Python 2.7.8 on Windows 7 64 bit, works fine.  Installs perfectly.
Run platformio.exe install atmelavr:
Installing toolchain-atmelavr package:
Downloading  [####################################]  100%
cygwin warning:
  MS-DOS style path detected: c:\Users\USER/.platformio\atmelavr\tools\toolchai
n\toolchain-atmelavr-windows-1.tar.gz
  Preferred POSIX equiv

[2014-11-21 16:13] #26 closed, assigned to nobody

[2014-11-27 20:04] anthgur opened #27 "platformio.ini comes with ambiguous copyright?"
I would like to use platformio for a project but we are currently not able to due to legal issues. The specific issue is that this is put at the top of `platformio.ini` generated by `platformio init`:

[code]

But no LICENSE file is generated along with the project template. Along with that we are not able to have our config be copyrighted by someone else.

[2014-11-27 20:36] #27 closed, assigned to nobody

[2014-11-27 21:39] anthgur opened #28 "Servo.h not found - Arduino"
I can't seem to find the [Arduino Servo](http://arduino.cc/en/Reference/Servo) library in the registry. I'm not sure if this is related to #23. How should I go about including the Arduino core libraries?

Thanks

[2014-11-30 14:21] ivankravets opened #31 "Improve "init" command"
From pull #29 @bettabacon

`platformio init` command initialises empty project within the current folder where you are stayed. See details here http://docs.platformio.ikravets.com/en/latest/userguide/cmd_init.html

Do you have any propositions how to improve the behaviour of this command? I have the next propositions:
1. Add additional option to this command `platformio init -d %path_to_project_di

[2014-11-30 16:14] #31 closed, assigned to ivankravets

[2014-12-01 14:11] #28 closed, assigned to ivankravets

[2014-12-09 04:40] #25 closed, assigned to nobody

[2014-12-09 04:40] pelikhan opened #33 "dark blue unreadable in console output"
Hard to read the new console outputs when they use dark blue in a dark console.

[2014-12-09 05:13] pelikhan opened #34 "non-blocking command line commands"
There should always be an option to avoid blocking commands. If we use platformio to automate a build, the worse thing that can happen is a user prompt.

[2014-12-10 19:40] #33 closed, assigned to ivankravets

[2014-12-10 20:32] #34 closed, assigned to nobody

[2014-12-13 20:57] #18 closed, assigned to ivankravets

[2014-12-18 12:41] ystrem opened #35 "Problem with libraries"
Hello, I have problem with libraries. I can't get work the Serial work. The same I get when I try another library.

Code :
# include <Arduino.h>

void setup(void)
{
  // start serial port
  Serial.begin(9600);

}

void loop(void)
{

}

pioenvs/arduino_pro5v/src/main.c: In function 'setup':
.pioenvs/arduino_pro5v/src/main.c:6:3: error: 'Serial' undeclared (first use in this function)
   Serial.begi

[2014-12-19 12:20] pelikhan opened #36 "Simpler windows installation instructions"
Chocolatey uses powershell to install download their install script on windows. You could do the same...

    @powershell -NoProfile -ExecutionPolicy unrestricted -Command "iex ((new-object net.webclient).DownloadString('https://chocolatey.org/install.ps1'))" && SET PATH=%PATH%;%ALLUSERSPROFILE%\chocolatey\bin

Or you could have users install Chocolatey then be a package of this environment. Keep

[2014-12-19 12:36] pelikhan opened #37 "Automatic detection of port on serialmonitor"
Following the same logic as the auto-detection of port on upload, could the serial monitor have a mode where it simply picks the port that looks like a board?

[2014-12-19 17:53] #35 closed, assigned to nobody

[2014-12-19 22:02] pelikhan opened #38 "support for engduino"
Hi Ivan,

How do you usually proceed to add a library in platformio? We would like to be able to target Engduino.

[code]

[2014-12-24 17:57] YarekTyshchenko opened #39 "urllib3 complains with a SecurityWarning"
Having a problem with urllib3 and SSL it seems. This is just following the quickstart, empty project, adding arduino micro into platforms and doing run.

[code]

I'm on OSX 10.8.5, Python 2.7.2. Reinstalled urllib3 with latest version from pip.

[2014-12-24 20:12] #39 closed, assigned to ivankravets

[2014-12-24 22:08] pelikhan opened #41 "Support Arduino IDE compatible file layout"
When trying to open a sketch file in Arduous IDE from the src folder, it insist on moving it to a sketch folder.
Could pio support a file layout that just works with arduous ide? (Or at least as much as possible).

[2014-12-25 18:33] pelikhan opened #42 "Support for json output in cli commands"
An option to dump data as JSON in the console output would be handhandy for commands like list and such. It avoids having to write parsers around the output of clients when automatingoing it.

[2014-12-25 18:35] pelikhan opened #43 "auto download of platforms"
Similarly to your setting to automatically update a platform, there should be an option to automatically install a platform if missing. Basically, it should just work.

[2014-12-27 21:59] #11 closed, assigned to ivankravets

[2014-12-28 18:57] #37 closed, assigned to ivankravets

[2014-12-28 21:38] #38 closed, assigned to ivankravets

[2014-12-29 05:42] aphelps opened #44 "Library submission failure"
This is my first attempt at submitting a library, so please correct me if I'm doing it wrong.  I have a github repo with a number of libraries, and so I figured I'd start by submitting a simple debugging framework from there.

I've placed the library.json file here: https://github.com/AMPWorks/ArduinoLibs/blob/master/Debug/library.json

However my attempts to submit this is failing with an error t

[2014-12-29 13:10] #43 closed, assigned to ivankravets

[2014-12-29 17:47] #44 closed, assigned to nobody

[2014-12-29 18:22] #21 closed, assigned to ivankravets

[2015-01-02 17:20] pelikhan commented on #42
Imo, (1) would be bwst. Just --json.

On Sunday, December 28, 2014, Ivan Kravets <notifications@github.com> wrote:

--
This posting is provided "AS IS" with no warranties, and confers no rights.

[2015-01-02 17:21] ivankravets commented on #42
Give me please a list with the commands which should return JSON response.

Thanks.

[2015-01-02 17:26] pelikhan commented on #42
All the list commands, platforms, serial ports, libraries, etc...

On Friday, January 2, 2015, Ivan Kravets <notifications@github.com> wrote:

--
This posting is provided "AS IS" with no warranties, and confers no rights.

[2015-01-03 19:29] pelikhan commented on #41
Do you mean to rename the file or the folder?

[2015-01-03 19:40] pelikhan commented on #36
Unfortunately, the script fails on some Windows machine and I don't why precisely. It fails when trying to update the path.

[2015-01-03 20:05] pelikhan commented on #36
Out of curiosity, why does scon need the --egg option?

[2015-01-03 20:23] ivankravets commented on #36
SCons doesn't support `pip` yet :( See discussion:
https://bitbucket.org/scons/scons/pull-request/113/fix-for-bug-2769-which-should-allow-scons

[2015-01-03 20:23] ivankravets commented on #36
Can you give me a traceback?

[2015-01-03 20:26] ivankravets commented on #41
File. Like:
[code]

[2015-01-05 15:08] pelikhan opened #45 "exception during platformio upgrade"
Here is the console output of the upgrade. There is an exception trace at the end. This was run from an administrative command prompt in Windows 8.1.

[code]

[2015-01-05 15:12] pelikhan commented on #42
The JSON produced is invalid. You can use online tools like JsonLint to validate it.

[2015-01-05 21:02] ivankravets commented on #45
What is interesting, that PlatformIO is upgraded successfully and `pip` couldn't clean own `temp` dir. It looks strange for me. But I will fix it, because I also see this behaviour in my virtual machine.

Thanks.

[2015-01-06 03:23] pelikhan commented on #36
No access to that machine anymore unfortunately.

[2015-01-06 15:45] #45 closed

[2015-01-06 15:46] ivankravets commented on #41
@pelikhan @aphelps did you try this solution?

[2015-01-06 18:00] aphelps commented on #41
I did verify that it would compile those src.ino files over the holidays, but its going to be a bit before I get time again to play with this extensively.  I have some projects that need to be converted to a better make system than the IDE (and platformio looks to be one of the best options), but they're pretty extensive with a bunch of library dependencies (both personal libraries and 3rd party o

[2015-01-07 16:05] ilaizz opened #46 "install failure"
Mac OS 10.9.5

Get the following message:

Command '['/usr/bin/python', '-m', 'pip', 'install', '-U', 'platformio']' returned non-zero exit status 2
[FAILURE]
The installation process has been FAILED!

[2015-01-08 17:16] ivankravets commented on #46
Did you try with `sudo` permission?
[code]

[2015-01-08 17:18] ivankravets commented on #41
You can use 3rd party libraries from [Library Registry](http://platformio.org/#!/lib). If some libs are not listed here, please tell me and I will add them.

As for "own" libs - just move them to `lib` dir in project. PlatformIO will automatically use them.

[2015-01-08 18:54] ilaizz commented on #46
Thanks, that solved the problem

[2015-01-08 18:54] #46 closed

[2015-01-09 17:48] pelikhan commented on #42
What also adding for the boards option?

[2015-01-09 23:28] ncolomer opened #47 "Support Digistump's Digispark boards"
[Digistump](http://digistump.com) created a Attiny85 based microcontroller called Digispark that uses the micronucleus tiny85 bootloader (details and links [here](http://digistump.com/wiki/digispark/tutorials/connecting)). As it is quite nice piece of hardware, it would be cool to support such board in platformio?

[2015-01-10 14:20] #42 closed

[2015-01-13 18:27] pelikhan commented on #38
Engduino requires the TwoWire library (http://arduino.cc/en/Reference/Wire) but I could not find it in the library repo.

[2015-01-13 18:30] ivankravets commented on #38
We are working on it with Engduino team. Just include in your source file this line:
[code]

The `Wire.h` library is bundled with Arduino Framework by default.

[2015-01-15 00:11] laurentS opened #48 "Problem with #include <SPI.h> (from RFM69 library)"
I'm a bit puzzled, I just installed platformIO, and used it to build some test code which includes RFM69 library (which I installed via `platformio lib install 92`) for arduino uno.
Everything works fine but I got an issue with the `#include <SPI.h>` line in the RFM69 file:
`.pioenvs/autogen_uno/RFM69_ID92/RFM69.cpp:33:17: fatal error: SPI.h: No such file or directory`

The strange thing is that i

[2015-01-15 06:20] aphelps opened #49 "Build fails with libraries that are git repositories"
I'm making strides to converting my code base to build on platformio, but it seems to not be able to use a library that's within a git repo (ie which I've cloned from elsewhere).  I took a look in the platformio line that generated this error, but its not clear to me what the root cause is:

$ platformio run
Processing arduino_nano environment:

scons: *** '/Users/amp/Dropbox/Arduino/HMTL.platform

[2015-01-16 16:21] ivankravets commented on #49
Give me please a structure of your project. Go to project root dir and type ``tree -L 3``.

[2015-01-16 16:41] #49 closed

[2015-01-16 16:43] ivankravets commented on #49
Please test it with the latest `develop` version:
[code]
Does it work for you?

[2015-01-16 18:59] ivankravets commented on #48
@laurentS

Yes, this is a bug. Thanks a lot! I will fix it.

[2015-01-17 18:45] aphelps commented on #49
Yeah, that fixed the issue.  Thanks.

[2015-01-17 20:15] aphelps opened #50 "Library cross-linking doesn't work correctly"
Sorry about the continuing issues as I work on converting my stuff from using the Arduino IDE to platformio, but the main reason I'm trying to move it is that it was getting to complex for the IDE and I need some more flexibility (particularly the ability to pass environment variables into compilation), so I probably have a more complicated code structure than folks are usually using with an ardui

[2015-01-18 13:33] ivankravets commented on #50
PlatformIO is flexible tool. You can define own build flags within 3 options:
1. [build_flags](http://docs.platformio.org/en/latest/projectconf.html#build-flags)
2. [srcbuild_flags](http://docs.platformio.org/en/latest/projectconf.html#srcbuild-flags)
3. Define global environment variable `PIOSRCBUILD_FLAGS`.

P.S: I'm working on the new finder for dependent library with nested logic. It will anal

[2015-01-18 21:09] aphelps commented on #50
Yeah, I was already playing with the build flags.  Thanks for the pointer on the PIOSRCBUILD_FLAGS variable, that'll be useful for scripting what I have in mind.  I have a slowly growing batch of arduino-based modules sharing similar hardware but with different configurations beyond that stored in EEPROM, so my ultimate goal is to have a build script that reads the EEPROM, sets build flags, and th

[2015-01-20 15:02] pelikhan opened #51 "compilation issue with arduino source"
platformio fails to build the following sketch (tested in Arduino IDE)

* src.ino
[code]
* platformio.ini
[code]
* build output
[code]

[2015-01-20 15:23] pelikhan commented on #41
Solution works great.

[2015-01-21 09:58] eiginn opened #52 "Support Pinoccio board"
Uses a chip not used in other arduinos currently defined atmega256rfr2
https://github.com/Pinoccio/core-pinoccio/blob/master/avr/boards.txt
https://github.com/Pinoccio/core-pinoccio/blob/master/avr/platform.txt

Tried my hand at adding it to boards but don't think i fully grasp what needs to be done
[code]

[2015-01-21 15:30] ivankravets commented on #52
Hey @eiginn ,

Thanks a lot for this proposition :+1:  Do you have this board?

P.S: You can move this code to `pinoccio.json` and place it to `~/.platformio/boards` directory. If `boards` dir doesn't exists, just create it.

[2015-01-21 22:49] ivankravets commented on #51
Thanks! This issues is caused by obsolete `atmelavr` toolchain for Windows. PlatformIO is used the version from `winavr` (the latest version is dated by 2010year) :(

Now, the new toolchain is available for Windows OS (official from Atmel AVR). Just update your PlatformIO packages:
[code]
Does this help you?

[2015-01-22 07:17] eiginn commented on #52
Yeah I do have some of these boards. Thanks for the tip on keeping the board definition separate.

[2015-01-24 00:25] #41 closed

[2015-01-24 20:49] dontsovcmc opened #56 "Compiling error if space in Windows user folder"
Windows 7, x32
Platformio 0.10.2
User name is "Dontsov Evgeny"

It's error while calling avrdude.conf:

Processing ←[36mscadadon_env←[0m environment:
←[32m<lambda>(["upload"], [".pioenvs\scadadon_env\firmware.hex"])
c:/Users/Dontsov Evgeny/.platformio\packages\tool-avrdude\avrdude -q -D -p atmeg
a328p -C c:/Users/Dontsov Evgeny/.platformio\packages\tool-avrdude\avrdude.conf
-c arduino -b 115200 -P

[2015-01-28 02:21] yuriscripnic opened #57 "platformio run error over Windows 8.1"
I trying to run Platformio under Windows 8.1 and got:

Processing autogen_uno environment:
avr-gcc -o .pioenvs\autogen_uno\firmware.elf -Os -Wl,--gc-sections -mmcu=atmega328p -L.pioenvs\autogen_uno .pioenvs\autogen_uno\libFrameworkArduino.a -lm
.pioenvs\autogen_uno\libFrameworkArduino.a(main.o): In function `main':

D:\Arduino\plataformIO/.pioenvs\autogen_uno\FrameworkArduino/main.cpp:40: undefine

[2015-01-28 04:45] yuriscripnic commented on #57
Sorry about that , i forgot to implement the main.cpp for my source project.
Please, delete this issue.

[2015-01-28 04:45] #57 closed

[2015-01-28 10:55] ivankravets commented on #51
Please reopen issue, if you still have problem.

[2015-01-28 10:55] #51 closed

[2015-01-29 14:09] #48 closed

[2015-01-29 14:11] ivankravets commented on #50
@aphelps can you retest it with the latest `develop`?

[code]

Thanks a lot!

[2015-01-29 14:12] ivankravets commented on #48
@laurentS  can you retest it with the latest `develop`?

[code]

Thanks a lot! If you have any problems, please reopen this issue.

[2015-01-30 03:52] aphelps commented on #50
I did the uninstall/install and tried 'platformio run -t clean; platformio run' with the simple git repo I linked to above and it hits the same error.  Can you get that example code running?

It looks like I can't re-open this issue directly, it appears only project collaborators can reopen and issue once its closed.

[2015-01-30 20:41] ivankravets commented on #50
This issue is linked with `gcc-linker` and static library approach. PlatformIO builds all user/system libs to static libraries and then includes them in firmware building step. If PlatformIO didn't build source code of libs to `static` libs, we couldn't have a problem with "cross-linking" (because we would use `-I` flag).

I spent a lot of time to implement virtual "Library Dependency Finder" whic

[2015-01-30 22:49] aphelps commented on #50
Yeah, I'm actually very familiar with non-Arduino C development, though I admit its been a while since I've dealt directly with the linker.  I'll see if I can rearrange include order in my actual project (rather than this trivial example I set up) to get it building on both the IDE and platformio.  I can't guarantee that's possible though, as some of the libraries I'm using are 3rd party ones from

[2015-01-31 15:01] ivankravets commented on #50
You shouldn't rearrange anything. Your existing libs should work with PlatformIO without any changes.

Which libs do you use? Are they located within [PlatformIO Library Manager](http://platformio.org/#!/lib)? If no, I can add them.

--------

1. You should include just library which is used in your project.
2. You shouldn't include "library dependencies" in your source code if they are included i

[2015-01-31 15:34] #50 closed

[2015-01-31 15:35] ivankravets commented on #50
@aphelps I've just enabled "cyclic dependencies" by default for `atmelavr` platform. I hope you will never have problems wit your libs :) Please re-install `develop` version of PlatformIO.

[2015-01-31 18:07] laurentS commented on #48
@ivankravets just tested the latest `develop`, it works fine, thanks for fixing it!

[2015-01-31 20:06] aphelps commented on #50
With the "cyclic dependencies" change my actual project now compiles and uploads, thanks!  This is looking awesome.

As for the 3rd party libraries, the big one is https://github.com/FastLED/FastLED.  Now that I can build I can work on getting the libraries I've been using for this added to the library manager.

[2015-01-31 20:21] ivankravets commented on #50
Thanks a lot for testing :+1: I hope, I will release 0.11.0 in next week.

Done. http://platformio.org/#!/lib/show/126/FastLED
See pull-request https://github.com/FastLED/FastLED/pull/128

[2015-01-31 21:15] ivankravets commented on #50
I've just improved "Dependencies Finder" and it works without ``-Wl,--start-group``. Can you upgrade your PlatformIO to the latest `develop` version?

[2015-02-02 06:39] aphelps opened #58 "platformio not handling assembly correctly?"
Sorry to continue with the "this works under the Arduino IDE but not platformio" topics.

In this one, I'm using an FFT library from https://github.com/adafruit/piccolo which is written in assembly. It looks like platformio does compile it into a library, but may skip a step:

[code]

[2015-02-02 12:41] #58 closed

[2015-02-02 12:46] ivankravets commented on #58
Thanks! I've not ever test PlatformIO with assembly files. Sorry :disappointed:

Please upgrade your PlatformIO with new `develop`:
$ pip install https://github.com/ivankravets/platformio/archive/develop.zip

P.S: I've just added new lib [Adafruit-LED-Backpack](https://github.com/adafruit/Adafruit-LED-Backpack-Library) and you can compile https://github.com/adafruit/piccolo/blob/master/Piccolo/Pic

[2015-02-03 02:48] aphelps commented on #58
After updating it looks good.  Thanks for all the work you're putting into this, I'm pretty excited to be making the switch.

Also thanks for installing that library, although I'm not actually using it in this particular project, I just grabbed their code for the sound sensing ;)

[2015-02-03 05:02] aphelps opened #59 "Output compiled size and static memory usage with 'platformio run'"
(This just an enhancement request)

One minor feature I find useful from the Arduino IDE is that it outputs the size of the program being updated and (in the 1.5 branch) the total size of static variables.  These are both useful both to be careful about approaching the limits, but also for optimizing code during development.

'platformio run -t upload' already outputs the size, but since I'm not a

[2015-02-03 05:43] aphelps commented on #59
Actually, I found the command for the memory size: avr-size -C -x .pioenvs/arduino_nano/firmware.elf

If this is a fairly easy change to make, if you point me to the right areas of the code I'd be happy to make the change myself.

[2015-02-03 11:54] #56 closed

[2015-02-09 17:59] #59 closed

[2015-02-09 18:01] ivankravets commented on #59
@aphelps Thanks a lot for idea! You can try it in the latest `develop` branch :+1:

[2015-02-09 18:14] ivankravets opened #65 "Add support for Adafruit boards (Trinket, Flora)"
Tasks:
- [x] Add support for @adafruit [Flora board](http://www.adafruit.com/product/659) to `atmelavr` development platform (Assigned to @valeros)
- [x] Add support for @adafruit [Trinket boards](http://www.adafruit.com/product/1501) to `atmelavr` development platform (Assigned to @valeros)
- [x] Add information about @adafruit boards to main documentation (Assigned to: @ivankravets)
- [x] Add in

[2015-02-09 18:16] ivankravets opened #66 "Move TI TIVA driverlib to separated package"
Use TI's `driverlib` source code.

[2015-02-09 18:19] ivankravets commented on #52
@valeros Please test with Pinoccio library https://github.com/Pinoccio/library-pinoccio

[2015-02-09 18:38] aphelps commented on #59
That works great, thanks!

[2015-02-10 07:07] duci9y opened #67 "Relocation truncated to fit when using math.h with serial library on Arduino"
This is the output:

    Processing autogen_uno environment:
    Auto-detected UPLOAD_PORT: /dev/ttyACM0
    avr-g++ -o .pioenvs/autogen_uno/firmware.elf -Os -Wl,--gc-sections -mmcu=atmega328p .pioenvs/autogen_uno/src/test.o -L.pioenvs/autogen_uno .pioenvs/autogen_uno/libFrameworkArduino.a -lm
    /home/pi/.platformio/packages/toolchain-atmelavr/bin/../lib/gcc/avr/4.5.1/../../../../avr/lib/avr5/li

[2015-02-10 11:47] ivankravets opened #68 "Migrate to Arduino Framework 1.6.0"
- [x] update dependent libraries
- [x] verify `build_flags`
- [x] re-pack `framework-arduinoavr` package
- [x] re-pack `framework-arduinosam` package
- [x] correct documentation that we use Arduino 1.6.x branch
- [x] correct Web-site that we use Arduino 1.6.x branch

[2015-02-10 16:24] aphelps commented on #68
It might be a good idea to retain the previous framework as an option for a bit.  I know when they initially moved from the 1.0 branch to the 1.5 one that there were some incompatibilities with existing libraries, I haven't been paying much attention to the 1.6 release process so don't know how likely this release is to break existing code.

[2015-02-11 12:06] ivankravets opened #69 "Add test which validates packages manifest file"
Package manifest file: http://sourceforge.net/projects/platformio-storage/files/packages/manifest.json

The new test should cover:
- [x] checking that all files exist
- [x] verifying `sha1` sum

All operations should be done via [SourceForge REST API](http://sourceforge.net/p/forge/community-docs/Using%20the%20Release%20API/)

[2015-02-11 12:10] ivankravets commented on #67
@duci9y Thanks a lot for reporting! This problem was caused by obsolete `ARMv6l` toolchain. Can you update PlatformIO's packages and re-test it again?
[code]

[2015-02-11 14:12] ivankravets opened #70 "Notify about new release when user uses development branch"
When user uses `-dev` version of PlatformIO and it will be released later, then PlatformIO will not notify that stable release is ready.

[2015-02-11 19:25] ivankravets commented on #47
Tasks:
- [ ] Create new development platform named `digistump` with supporting for Atmel AVR & SAM MCUs (Assigned to @valeros )
- [ ] Add information about `digistump` platform to main documentation (Assigned to: @ivankravets)
- [ ] Add information about `digistump` platform to [PlatformIO Web Site](http://platformio.org) (Assigned to: @ivankravets)

[2015-02-11 19:25] ivankravets commented on #47
@ncolomer Do you have any boards from Digispark?

[2015-02-11 20:25] ivankravets commented on #52
Tasks:
- [ ] Add support for @Pinoccio boards to `atmelavr` development platform (Assigned to @valeros)
- [ ] Add "arduino-pinoccio" example and add Git-submodule from https://github.com/Pinoccio/library-pinoccio to `examples/atmelavr-and-arduino/arduino-pinoccio/lib`  (Assigned to @valeros)
- [ ] Add information about @Pinoccio boards to main documentation (Assigned to: @ivankravets)
- [ ] Add in

[2015-02-11 20:44] ivankravets commented on #68
@aphelps 1.5.x has not been released in "stable" version. It was like "beta". The 1.6 is "stable" version after 1.5.x. In other words, 1.6 is fully compatible with 1.5.x. See [Arduino Release Notes](http://www.arduino.cc/en/Main/ReleaseNotes)

[2015-02-11 20:57] ivankravets opened #71 "Add support for Atmel SAM development platform"
Tasks:
- [x] Create new development platform named `atmelsam`, including supported boards and build scripts (Assigned to @valeros)
- [x] Prepare `framework-arduinosam` and `tool-bossac` packages (Assigned to @valeros)
- [x] Upload dependent/updated packages to SF (Assigned to: @ivankravets)
- [x] Uncomment "arduino_due" env in `/examples/atmelavr-and-arduino/arduino-external-libs`
- [x] Add inform

[2015-02-11 21:05] aphelps commented on #68
Cool, should be fine then.  I'll definitely try it out when you make the switch

[2015-02-11 21:15] ivankravets opened #72 "Add support for Teensy development platform"
Tasks:
- [x] Create new development platform named `teensy` by @PaulStoffregen, including supported boards (Teensy 2 & 3) and build scripts (Assigned to @valeros)
- [x] Compile `teensy_loader_cli` for Linux 32/64 + ARMv6l (Assigned to @valeros)
- [x] Prepare `framework-arduinoteensy` and `tool-teensy` packages (Assigned to @valeros)
- [x] Upload dependent/updated packages to SF (Assigned to: @ivan

[2015-02-11 21:35] ivankravets opened #73 "Add support for STM32 development platform"
Tasks:
- [x] Create new development platform named `stm32`, including supported boards and build scripts (Assigned to @valeros)
- [x] Compile @texane [st-link](https://github.com/texane/stlink) for Linux 32/64 + ARMv6l (Assigned to @valeros)
- [x] Add support for @libopencm3 project
- [x] Prepare `framework-cmsis`, `framework-spl`, `framework-opencm3` and `tool-stlink` packages (Assigned to @valer

[2015-02-11 21:50] ivankravets commented on #68
@aphelps Which types of boards do you have? :blush:

[2015-02-12 08:30] ncolomer commented on #47
I have two [Attiny85](http://www.aliexpress.com/item/J35-Free-Shipping-Development-Digispark-Kickstarter-USB-Board-for-Arduino/32219495175.html) coming. I'll be able to do tests for you as soon as they arrive.

[2015-02-12 17:41] ivankravets opened #74 "Improvements to "platformio run" command"
- [x] Cleanup automatically `.pioenvs` when `platformio.ini` has been changed
- [x] Add "start", "end" and "took" time info per environment
- [x] Add detailed info about environment based on `platformio.ini`: platform, framework, board...
- [x] Implement asynchronous output for build process

[2015-02-12 20:39] ivankravets commented on #67
Please reopen if you still have problems

[2015-02-12 20:39] #67 closed

[2015-02-13 21:27] ivankravets commented on #68
@aphelps Please update your PlatformIO packages:
[code]

[2015-02-13 21:27] #68 closed

[2015-02-13 22:15] ivankravets commented on #70
Resolved in 2e90ab809212427da1c86fb0385019e7cee82dfb

[2015-02-13 22:15] #70 closed

[2015-02-13 22:16] gretel commented on #49
@ivankravets, your suggestion worked for me, too. i'd be glad to have this fix mainstream. regards

[2015-02-13 22:22] ivankravets commented on #49
@gretel Thanks a lot for your feedback. We are hardly working on the first stable release 1.0.0. PlatformIO has not been released as `stable` yet. You can monitor by active issues for 1.0.0 milestone [here](https://github.com/ivankravets/platformio/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.0.0) or follow us via Twitter [@PlatformIO_Org](https://twitter.com/PlatformIO_Org).

[2015-02-14 15:44] ivankravets opened #76 "Add compatibility with Engduino 3.1.x"
- [x] Update `framework-atmelavr` with https://github.com/engduino/Engduino_v3.1.0_arduino_extension
- [x] Remove [EngduinoV3](http://platformio.org/#!/lib/show/123/EngduinoV3) library
- [x] Add @engduino libs to built-in libs list in `framework-atmelavr`
- [x] Add example with "Engduino" to `/examples/atmelavr-and-arduino`

[2015-02-15 18:56] ncolomer opened #77 "Header file removed while building, resulting compilation error"
Hello,

I observe strange behavior while building a project relying on the platformio lib id 124 (related to ivankravets/platformio-libmirror/issues/1). It seems a file is removed by the build process, resulting into a compilation error stating a header file is missing.

In my case, the file `RHReliableDatagram.h` is present in the `lib/RadioHead_ID124` but not in `.pioenvs/arduino_nano/RadioHead_

[2015-02-15 22:06] ivankravets commented on #74
Dear @aphelps, @franciscoruiz, @pelikhan, @valeros, @laurentS, @yarekt, @bettabacon, @eiginn,  @mac7, @MrCustomizer, @elyulka

* Current [HISTORY of 1.0.0](http://docs.platformio.org/en/latest/history.html).
* [Active issues for 1.0.0 milestone](https://github.com/ivankravets/platformio/issues?q=is%3Aopen+is%3Aissue+milestone%3A1.0.0)

Could you help me with testing this issue? The `platformio run

[2015-02-15 22:13] franciscoruiz commented on #74
Sure thing!

I'll give a go next week or so and I'll let you know how it goes.

Cheers

Francisco Ruiz
On 15 Feb 2015 22:06, "Ivan Kravets" <notifications@github.com> wrote:

[2015-02-16 03:38] aphelps commented on #74
I should be able to give this a try later this week

[2015-02-16 03:40] eiginn commented on #74
Same, will give it a try later in the week

[2015-02-16 12:42] ncolomer commented on #77
After having upgraded platformio version to `0.11.0-dev`, compilation still fail but the issue is different.

I tried form zero and created a project from start. Here is a [gist](https://gist.github.com/ncolomer/388f49e10e825d80ce65) containing files `platformio.ini` and a bare`src/main.cpp` in addition to console output.

It seems the compilation issue is due to missing files related to a RadioHe

[2015-02-16 13:05] ncolomer commented on #77
When I add the path to the `STM32ArduinoCompat` directory as follow in `platformio.ini`:
[code]
The issue change and is complaining about a missing `stm32f4xx.h` header file:
[code]

[2015-02-16 13:36] ivankravets commented on #77
I've just updated [config for this library](https://github.com/ivankravets/platformio-libmirror/blob/master/configs/radiohead.json) and disabled "STM32" things. Just update your libs:
[code]

P.S: I see the warnings from SCons. It's a PlatformIO Library Dependency Finder bug. I will work on it and report here. These warnings don't have any influence on the final firmware.

Thanks a lot for your re

[2015-02-16 19:48] MrCustomizer commented on #74
Success! The current version of the development branch is still working with my current project.

[2015-02-16 20:19] MrCustomizer commented on #74
I nearly forgot to test it on Windows. My first test was on a Linux machine. Windows works, too.

[2015-02-16 20:21] ivankravets commented on #74
@MrCustomizer Which type of board do you have? Did you test upload operation?

[2015-02-16 20:37] MrCustomizer commented on #74
I have an Arduino Nano, but I haven't tested uploading as I'm issuing a custom command for uploading via bluetooth and I haven't had the time yet to figure out how to do that with platformio. Perhaps someone else could test uploading?

[2015-02-16 20:39] ivankravets commented on #74
@MrCustomizer Yes, thanks for it! I hope it works without any problems :beer: :smile:

[2015-02-16 21:17] #77 closed

[2015-02-16 21:18] ivankravets commented on #77
Thanks! I've just fixed it. Please update your development version of PlatformIO:
http://docs.platformio.org/en/latest/installation.html#development-version

[2015-02-17 04:01] aphelps opened #81 "'platformio run' should have non-zero exit code on compilation or upload failure"
It looks like 'platformio run' has a retcode of 0 even when it fails, for scripting purposes it really should return a non-zero value:

[code]

[2015-02-17 04:12] aphelps commented on #74
I've updated and done clean compiles of my projects, including uploading to an Arduino Nano and a Mini Pro.  All looks fine so far.

[2015-02-17 12:56] ruifigueiredo opened #82 "Upload error 127"
Hi,

pi@raspberrypi ~/arduino $ platformio run -t upload
Processing autogen_uno environment:
<lambda>(["upload"], [".pioenvs/autogen_uno/firmware.hex"])
/home/pi/.platformio/packages/tool-avrdude/avrdude -q -D -p atmega328p -C /home/pi/.platformio/packages/tool-avrdude/avrdude.conf -c arduino -b 115200 -P /dev/ttyACM0 -U flash:w:.pioenvs/autogen_uno/firmware.hex:i
/home/pi/.platformio/packages/too

[2015-02-17 12:58] ruifigueiredo commented on #82
Hi,

I solve the issue with
$ sudo apt-get install libelf1

testing:
platformio run -t upload
Processing autogen_uno environment:
<lambda>(["upload"], [".pioenvs/autogen_uno/firmware.hex"])
/home/pi/.platformio/packages/tool-avrdude/avrdude -q -D -p atmega328p -C /home/pi/.platformio/packages/tool-avrdude/avrdude.conf -c arduino -b 115200 -P /dev/ttyACM0 -U flash:w:.pioenvs/autogen_uno/firmware.he

[2015-02-17 12:58] #82 closed

[2015-02-17 16:56] makefu opened #83 "platformio init: change source directory"
Maybe i missed something but is it correct that there is currently no way to change the source directory path?
I am currently trying to migrate my arduino projects to platformio and for me the best case would be to simply throw a platformio.ini file in the base directory of my projects and compile my projects with different source directories.
i also hate the arduino ide requirement that every sou

[2015-02-17 17:07] ncolomer commented on #77
All is running smoothly now, thanks!

[2015-02-17 21:28] ivankravets commented on #83
I want to break main concept of PlatformIO - "to build the single source code with the multiple development platforms". `platformio.ini` file should be configured per unique source directory `src`.

See  [example](https://github.com/ivankravets/platformio/tree/develop/examples/atmelavr-and-arduino/arduino-internal-libs) how to build single "blink" code for the multiple Arduino boards.

P.S: You sh

[2015-02-17 22:00] makefu commented on #83
Thanks for the heads-up, i think i already understood the main concept i think.

What i am looking for is a way to provide a source-folder other than `./src` either in the platformio.ini or when initializing the project.

Regards

[2015-02-17 22:06] ivankravets commented on #83
The `lib`, `src`, `.pioenvs` and `platformio.ini` are hard-coded names. You can't change them. The one thing which you can change is `lib` directory, you can setup alternative location for your project's libs.

Could I ask you: "Why do you need `other than ./src` folder? :blush:

As I understand, you just need to initialize project in the another folder and use it. For example,
[code]

[2015-02-18 06:24] aphelps commented on #83
The reason is likely that the Arduino IDE forces certain naming and structural constraints, namely that a project named 'TestProject' must be within a folder named 'TestProject' and include a main file named 'TestProject/TestProject.ino'.  While I do think full compatibility is a good idea, I've been working around this by using directory links.  ie:
  $BASE_DIR/TestProject/TestProject.io
  $BASE_

[2015-02-19 20:07] ivankravets commented on #81
Thanks a lot for report! :+1:  Fixed in https://github.com/ivankravets/platformio/commit/2d53d2100d11d92962c7688424b6819bbc347f01

Please re-test it and `platformio update` packages. I hope, we are at the final line before release :)

[2015-02-19 20:07] #81 closed

[2015-02-19 20:08] ivankravets commented on #74
Thanks! I'm going to close this issue. If you have any problems with it, don't hesitate to reopen

[2015-02-19 20:08] #74 closed

[2015-02-19 20:11] ivankravets commented on #47
Hey @ncolomer,

I'm glad to inform you that all boards from "Digistump" are implemented in the latest build of PlatformIO. See supported boards here:
https://github.com/ivankravets/platformio/blob/develop/platformio/boards/digistump.json

I will add them to main documentation and site later. Could you test it?

[2015-02-20 12:30] ncolomer commented on #47
That's great!
I'll test this board as soon as I receive some
Thanks a lot

[2015-02-21 13:15] #2 closed

[2015-02-22 04:25] ricardojlrufino opened #91 "Library config using YAML"
its a more easy format
http://docs.platformio.org/en/latest/librarymanager/config.html

[2015-02-22 15:36] MrCustomizer commented on #83
I came here to open an issue with exactly the same feature request. Now I see, someone else has already done that ;). I will try to clarify the problem a little bit:

I'm using platformio to build my Arduino projects while at the same time maintaining compatibility with the Arduino IDE.

As makefu described, one really annoying limitation of the Arduino IDE is the fact, that the ino-source file ha

[2015-02-22 20:24] #83 closed

[2015-02-22 20:28] ivankravets commented on #91
@ricardojlrufino I'm agree with you that `YAML` is more readable. However, this format doesn't have native parsers within the most popular languages. I mean, that developer should install additional libraries/packages to work with this format. To my mind, `JSON` is more standardised cross-format for configuration aims.

[2015-02-22 20:30] ivankravets commented on #83
Hey @makefu, @aphelps, @franciscoruiz, @valeros

You convinced me :+1: :blush: . See `src_dir` option in [documentation](http://docs.platformio.org/en/latest/projectconf.html#platformio)

[2015-02-22 20:42] MrCustomizer commented on #83
Works like a charm, thank you!

[2015-02-22 20:46] ricardojlrufino commented on #91
It's a bit boring to write in JSON, is usually thing the computer does.
May be an additional format

[2015-02-22 20:48] ivankravets commented on #91
You can write in `YAML` and [convert it to JSON](http://yamltojson.com).

[2015-02-22 21:35] makefu commented on #83
that is great to hear, thanks for the improvement!

[2015-02-22 22:04] aphelps commented on #83
Thanks for the change, I'll try that out as an alternative to my linking.

As a note on a comment above regarding links and version control, at least with git and Unix based platforms you can commit a symbolic link and it behaves properly when cloned.  I haven't tried this with Windows, but MacOS and Ubuntu are fine.

[2015-02-22 22:38] aphelps opened #92 "Upload failing on current development branch"
One of the changes to the develop branch over the last few days appears to have broken uploading.  I haven't narrowed it down to an exact commit, but I reverted back to commit 86260a48ba5a154649800146aefe7d503e6cc059 and the problem went away.

This is on MacOS, attempting to upload to arduino nanos.

[code]

[2015-02-22 23:06] #92 closed

[2015-02-22 23:08] ivankravets commented on #92
@aphelps sorry :( It was huge refactoring with build scripts. I've just fixed it. I will re-test uploading for all platforms (which I have) tomorrow.

[2015-02-23 04:31] aphelps commented on #92
No problem, these things happen.  I love all the tests I've been watching going in ;)

[2015-02-23 08:26] ivankravets commented on #92
Which tests do you mean? From `avrdude` ? :smile:

[2015-02-23 08:36] ivankravets opened #93 "Verify uploading for the embedded boards"
Look into all boards with the different upload options, verify "upload" command and arguments with the real args which are passed by original tool chain or IDE. They should be equal.

[2015-02-23 14:08] ricardojlrufino commented on #91
His tool could do that ... just a tip

[2015-02-23 14:52] #76 closed

[2015-02-23 14:56] #93 closed

[2015-02-25 16:34] #69 closed

[2015-02-25 21:41] #73 closed

[2015-02-25 21:41] #72 closed

[2015-02-25 21:42] #71 closed

[2015-02-25 21:42] #65 closed

[2015-02-25 21:42] #47 closed

[2015-02-25 21:45] ivankravets commented on #91
@ricardojlrufino thanks a lot for tip. If you have any problems with converting `YAML` to `JSON` - please re-open this issue.

[2015-02-25 21:45] #91 closed

[2015-03-01 12:13] franciscoruiz commented on #74
I've used it pretty thoroughly now, both with TI Launchpad and Arduino UNO; and it works like charm! :+1:

[2015-03-01 16:11] ivankravets commented on #74
@franciscoruiz Thank you for the feedback :+1: :blush:

[2015-03-01 20:36] ivankravets opened #100 "Don't re-arrange the *.ino/pde files when converting to *.cpp"
See the latest comments by @xxxajk in https://github.com/felis/USB_Host_Shield_2.0/pull/99

[code]

[code]

[2015-03-01 21:22] ivankravets opened #101 "Measure code coverage by tests and report results to online service"
- [x] Create new tox-env "coverage" with appropriate coverage/coveralss deps.
- [x] Add coveralls badge to README

[2015-03-03 13:36] ivankravets opened #102 "Handle PLATFORMIO_* Environment variables"
- [x] Add new section "Environment variables" to documentation
- [x] Add variable `PLATFORMIO_HOME_DIR` - see http://docs.platformio.org/en/latest/projectconf.html#home-dir
- [x] Add variable `PLATFORMIO_LIB_DIR` - see http://docs.platformio.org/en/latest/projectconf.html#lib-dir
- [x] Add variable `PLATFORMIO_SRC_DIR` - see http://docs.platformio.org/en/latest/projectconf.html#src-dir
- [x] Add v

[2015-03-03 13:42] ivankravets opened #103 "Disable "prompts" automatically for Continuous Integration systems"
Check for Travis/Circle by `CI=true` - http://docs.travis-ci.com/user/ci-environment/#CI-environment-OS // https://circleci.com/docs/environment#env-vars

[2015-03-03 13:48] ivankravets opened #104 "Option to upgrade to `develop` branch"
- [ ] Add new setting named `enable_prerelease`. Should be disabled by default.
- [ ] Add `--pre` option to `platformio upgrade` command

Check version using https://www.python.org/dev/peps/pep-0440/
http://pythonhosted.org/setuptools/setuptools.html#specifying-your-project-s-version

[2015-03-03 13:53] ivankravets opened #105 "Automatically append -DPLATFORMIO to builder"
Add `PLATFORMIO` define to `gcc` builder which should be equal to `platformio.__version__` in the INT format (4bytes):
1byte = major version
2byte = minor version
3byte = bug fixes number
4byte = dev/pre/post/alpha/beta and etc

Pack this information in `MSB` order.

[2015-03-03 21:10] jonlorusso opened #106 "digispark-tiny upload failing"
digispark-tiny upload is failing:

Fails with:

When uploading to the digispark via micronucleus I am normally prompted to insert the device.  No port name is required.

[2015-03-03 21:31] ivankravets commented on #106
Thanks a lot for report! This is a bug, I will fix it as soon as possible! Current solution is to put "something" to ``--upload-port``, like:
[code]

Does it work for you?

[2015-03-03 21:40] jonlorusso commented on #106
At this point, output pauses, and I plug in the device (despite not being prompted to).  Once I plug in the device, I see:

[2015-03-03 21:51] ivankravets opened #107 "Implement "require_upload_port" option to "upload" section per board"
- [ ] Add ``require_upload_port`` option to boards which require ``$UPLOAD_PORT`` for uploading process (``avrdude`` and etc).
- [ ] Check ``require_upload_port`` in ``def BeforeUpload(target, source, env):``

For example,
[code]

**WARNING!** ``require_upload_port`` option should have all boards which use ``avrdude``, but don't use ``usbtiny`` protocol. ``raspduino`` board also requires ``require

[2015-03-03 21:56] ivankravets commented on #107
This bug blocks https://github.com/ivankravets/platformio/issues/106

[2015-03-03 21:57] ivankravets commented on #106
@jonlorusso We will fix it tomorrow. I've just opened for it separated issue https://github.com/ivankravets/platformio/issues/107

[2015-03-03 22:01] valeros commented on #106
It seems that this error is caused by usb permissions issue.
Did you try to insert platformio udev.rules file? https://github.com/ivankravets/platformio/blob/develop/scripts/99-platformio-udev.rules

[2015-03-03 22:11] jonlorusso commented on #106
Getting closer:

"/home/pi/.platformio/packages/tool-micronucleus/micronucleus" -c digispark --timeout 60 -b -P /dev/null -U
flash:w:.pioenvs/digispark-tiny/firmware.hex:i

connecting: 40% complete

scons: *** [upload] Error 1

parsing: 40% complete

========================= [ ERROR ] Took 16.18 seconds =========================

[2015-03-03 22:51] ivankravets opened #108 "PlatformIO as Continuous Integration tool for embedded projects"
Aims
------
[PlatformIO](http://platformio.org) is #1 tool for "Cloud Compiling" now. The one missing feature is to allow each developer/script to use PlatformIO in "Continuous Integration" manner. PlatformIO can build embedded projects for the different development platforms (Atmel AVR, Atmel SAM, TI MSP430, TI TIVA, Teensy, (soon Freescale FRDM, NXP LPC, Nordic RF51) and etc).

Requirements
----

[2015-03-04 02:23] pelikhan commented on #108
- What about those prompts? They are complete show stopper right now.
- Travis support sounds great however it should limited to it. There are many other build systems.
- Travis supports a feature to cache certain folders, like npm-modules. You should update your example: installing a complete platformio drop on every build might quickly turn out costly for you.

Sent from Outlook<http://taps.io/o

[2015-03-04 03:35] aphelps commented on #108
What's the advantage of this new command to just using 'platformio run' with appropriate options?

[2015-03-04 04:47] pelikhan commented on #102
+1 for these.

[2015-03-04 13:07] #107 closed

[2015-03-04 14:00] ivankravets commented on #106
Fixed in https://github.com/ivankravets/platformio/issues/107 and will be released in PlatformIO 1.0.2 today.

Please re-open if you still have this issue.

[2015-03-04 14:00] #106 closed

[2015-03-04 18:12] valeros commented on #106
Could you try `develop` snapshot? http://docs.platformio.org/en/latest/installation.html#development-version

Does it help you?

Thanks in advance :+1:  :beer: !

[2015-03-04 23:37] ivankravets commented on #102
Implemented in https://github.com/ivankravets/platformio/commit/ae92cdedeaadeae51b34bd3e22ac177102aa5dcb

[2015-03-04 23:37] #102 closed

[2015-03-04 23:46] ivankravets commented on #102
Documentation: http://docs.platformio.org/en/latest/envvars.html

[2015-03-05 12:54] ivankravets commented on #103
Fixed in https://github.com/ivankravets/platformio/commit/e0f2bcdeaffc2cd13028c181e251be145d7d90ce

[2015-03-05 12:54] #103 closed

[2015-03-05 17:07] ivankravets opened #110 "Upgrade TI MSP430 tool chain with TI official"
* http://e2e.ti.com/blogs_/b/msp430blog/archive/2015/03/05/exploring-the-msp430-tool-chain-part-5-new-msp430-standalone-gcc-now-available?DCMP=mcugen&HQS=ep-mcu-msp-msptools-twit-mspblog-20150305-en
* http://software-dl.ti.com/msp430/msp430_public_sw/mcu/msp430/MSPGCC/latest/index_FDS.html

[2015-03-05 20:10] ivankravets commented on #106
Could you try new version 1.1.0?  Please use `platformio upgrade` command.

Thanks in advance!

[2015-03-05 21:31] ivankravets commented on #108
Dear @pelikhan ,

 There are a few options to disable prompts:
* using environment variable [PLATFORMIO_SETTING_ENABLE_PROMPTS=No](http://docs.platformio.org/en/latest/envvars.html#envvar-platformio-setting-enable-prompts)
* disable global setting ``enable_prompts`` via [platformio settings command](http://docs.platformio.org/en/latest/userguide/cmd_settings.html#cmd-settings)
* masking under Cont

[2015-03-05 21:38] ivankravets commented on #108
Dear @aphelps,

``platformio ci`` command will consist from ``init + source/libs GLOB finder + run`` commands. This command is useful for the projects which want to be tested under different embedded platforms, but don't want to keep project structure in PlatformIO style. The simple example is Arduino library. The most libs like to keep in root of repository "library source code" and test code in

[2015-03-05 21:48] pelikhan commented on #108
Jenkins is another one.

Sent from Outlook<http://taps.io/outlookmobile>

On Thu, Mar 5, 2015 at 1:32 PM -0800, "Ivan Kravets" <notifications@github.com<mailto:notifications@github.com>> wrote:

Dear @pelikhan<https://github.com/pelikhan> ,

What about those prompts? They are complete show stopper right now.

There are a few options to disable prompts:

  *   using environment variable PLATFORMIO_

[2015-03-06 03:56] aphelps commented on #108
Yeah, Jenkins is what I typically use for more serious projects.

Also, thanks for the clarification on what all 'platformio ci' will be doing, that makes sense.

[2015-03-06 14:01] ajford opened #111 "YCM/Vim integration"
In the IDE Integration section of the documentation, you mention pairing Vim with YouCompleteMe and Syntastic. Can you expand on this? I have tried setting up the `.ycm_extra_conf.py` with

[code]

and I get no results for completion, even when forcing completion.

[2015-03-06 15:17] ajford commented on #111
Ok, I've figured it out. it's mostly a goof on my part. I'm cleaning up all the comments and such I made in my `.ycm_extra_conf.py` and will post a gist with it for those who follow.

[2015-03-06 17:23] ivankravets commented on #111
Could I ask you to share your final config? I hope, it will be useful for other users. Thanks! :+1:

[2015-03-08 19:05] ivankravets opened #112 "Notify user about incompatibility between board and frameworks"
- [ ] Extend boards database which supported frameworks
- [ ] Before each build check for compatibility with selected frameworks in ``env``

[2015-03-08 20:05] ivankravets opened #113 "Add "vendor" field to board's options"
For example,

[code]

[2015-03-08 20:21] ivankravets opened #114 "Dynamic documentation for platforms, boards and frameworks"
Create script which will dynamically generate ``RST`` documents for platforms and frameworks, like this:
https://raw.githubusercontent.com/ivankravets/platformio/develop/docs/platforms/atmelavr.rst

[2015-03-08 20:28] ivankravets opened #115 "Add "Frameworks" page to docs and web-site"
- [x] Dynamically generated frameworks pages ``.*rst`` via external script (Assigned @valeros)
- [x] Add references to "Frameworks" page within documentation  (Assigned @ivankravets)
- [x] Add support for "api::/frameworks" and show them on Web-Site (Assigned @ivankravets)

Proposed framework information:
- title
- description
- supported boards

[2015-03-09 19:56] ajford commented on #111
Hey @ivankravets, just finished hammering out everything (and now satisfied that it looks good).

Available as a gist: https://gist.github.com/ajford/f551b2b6fd4d6b6e1ef2

Comments should hopefully be self explanatory, but I can try to flesh out a setup guide if needed. Also, I have absolutely no clue how compatible this config is with Windows. I use Debian/Linux only, and YCM doesn't officially s

[2015-03-09 20:10] #111 closed

[2015-03-09 20:11] ivankravets commented on #111
Dear @ajford,

This is excellent example!!! :+1:  I've just added your Gist to main documentation: http://docs.platformio.org/en/latest/ide.html#vim

Please don't remove it :blush:

[2015-03-09 20:47] ajford commented on #111
No problem. Glad you find it useful. I develop heavily in Python and was sorely missing YCM.

I'm thinking about finding a way to hook into the info available in the `platformio.ini` file (or within `platformio` itself. Right now, the file is very Arduino-centric, and requires a bit of manual rewriting if you need to switch platforms. I plan on doing some work with the TI Launchpad MSP430 soon, so

[2015-03-09 20:52] ivankravets commented on #111
Can you explain me what do you mean? :blush:

I would ask you to put this example to https://github.com/ivankravets/platformio/tree/develop/examples/ide/vim/

This information will be interested for PlatformIO users.

[2015-03-09 21:06] ajford commented on #111
Internally, `platformio` knows what libraries/toolchains/frameworks correspond to each platform. If I switch to the `timsp430` platform, then the framework location changes (i.e. from `~/.platformio/packages/framework-arduinoavr/libraries` to `~/.platformio/packages/framework-energiamsp430`), the "core" and "std lib" locations change, etc.

You could have a platform specific `.ycm_extra_conf.py` f

[2015-03-10 16:18] ivankravets opened #116 "Upgrade Arduino Framework to 1.6.1"
http://arduino.cc/en/Main/Software

[2015-03-11 12:47] gandy92 opened #117 "Add support for panStamp AVR"
Is it possible to add support for the panStamp AVR and panStamp NRG boards?
* Vendor: http://www.panstamp.com/
* panStamp AVR: https://github.com/panStamp/panstamp/wiki/panStamp%20AVR.-Technical%20details
* panStamp NRG: https://github.com/panStamp/panstamp/wiki/panStamp%20NRG.-Technical%20details
* Libraries for panStamp specific hardware: https://github.com/panStamp/panstamp

[2015-03-11 17:10] gsavin commented on #83
Does ``src_dir`` support multiple paths ? To share commun code between several projects for example.

[2015-03-11 17:38] ivankravets commented on #83
Sure, please read detailed information in documentation: http://docs.platformio.org/en/latest/projectconf.html#src-dir

P.S: But... I'm not sure that I've got you. The main idea of PlatformIO and ``platformio.ini`` is to keep single code  within single project and define multiple environments for cross-platform compilation.

[2015-03-11 17:47] gsavin commented on #83
Actually, I've already checked the docs, but I understand that only one path is possible :)
I have two projects which are working together, so they share some code, like a local library.  So, I have two projects with their own ``src`` directory, but I would like to add an other and common directory. Something like ``src_dir = src/ ; ../src/``. But maybe I am following a complete wrong way for doin

[2015-03-11 17:57] ivankravets commented on #83
Dear @gsavin,

You've just answered on this question :smile:

Just move "common code for library" to folder, which will be located in "Project #1", then use the ``lib`` folder from "Project #1" in "Project #2". For example,

Project #1 ``platformio.ini``
[code]

Project #2  ``platformio.ini``
[code]

Then, create new folder (use any names, like ``common_code`` or etc) in ``/path/to/own/libdir`` an

[2015-03-11 19:32] gsavin commented on #83
Thanks :) Sounds good.
I guess that my installed libraries will not be usable anymore, but I can copy them into the new lib folder !
Great tool btw.

[2015-03-11 20:05] #5 closed

[2015-03-11 20:05] #112 closed

[2015-03-11 20:05] #113 closed

[2015-03-11 20:05] #114 closed

[2015-03-11 20:09] ivankravets commented on #83
Thanks! :+1: Let's wait for the new release... :blush:  + 3 new development platforms (NXP, Freescale & Nordic), +30 boards, + full support for mbed platforms and mbed framework http://developer.mbed.org/platforms/

Please follow us on Twitter [@PlatformIO_Org](https://twitter.com/platformio_org)

[2015-03-12 10:16] makefu opened #119 "Support for ESP8266"
i would love to see support for the ESP8266 `wifi` controller which i am really excited about because it really packs a punch for $2.5.
The toolchain can be obtained via https://github.com/pfalcon/esp-open-sdk

Thanks for this great project

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9473632-support-for-esp8266?utm_campaign=plugi

[2015-03-12 10:33] ivankravets commented on #119
Dear @makefu,

Thank a lot for your request. We have already received the requests from the users about ESP8266. Now I understand, that we should add this development platform to PlatformIO list.

A few questions:

1. Do you any board based on this chip?
2. Which operation system do you use?
3. Are you interested in help us with building toolchain for multiple host targets? (Mac OS X, Windows, Lin

[2015-03-12 10:59] makefu commented on #119
Hi Ivan,

Regarding you questions
1. Yes, i do have a dozen or so of these chips laying around. Due to the fact that they can be sourced extremely cheaply from china (aliexpress: http://www.aliexpress.com/wholesale?catId=0&initiative_id=SB_20150312025300&SearchText=esp8266 ebay:http://www.ebay.com/sch/i.html?_nkw=esp8266 ) it should not be a problem to obtain one. If you wish i can donate a couple

[2015-03-12 11:26] ivankravets commented on #119
1. Thanks. If we add the support for this chip, then I will ask you to test it :smile:
2. How do you develop this chip on Linux now? Which type of toolchain do you use? Where is located SDK? Can you share here/or in separate Gist some "Hello World" project?
3. Which type of Linux distributive?
4. Thanks for information. Looks good.

[2015-03-12 12:21] makefu commented on #119
1. yay!
2. under linux/cygwin you will need https://github.com/pfalcon/esp-open-sdk which is a consolidation of everything you need (Xtensa lx106 architecture toolchain built via crosstool-ng and ESP8266 IoT SDK from Espressif Systems)
   - the detailed description of what you need to build the toolchain: https://github.com/esp8266/esp8266-wiki/wiki/Toolchain
   - a fast-forward method is to use h

[2015-03-12 22:31] ivankravets opened #120 "Rename "opencm3" framework to "libopencm3""
- [ ] rename build script for `opencm3` framework
- [ ] change name of package, replace it in the related packages
- [ ] replace `opencm3` in board's `frameworks` field

[2015-03-13 15:21] #105 closed

[2015-03-13 17:25] aphelps commented on #105
Hah, thanks for adding that.  I had already put the same tag into all my own platformio.ini files ;)

[2015-03-13 17:28] ivankravets commented on #105
Why you haven't requested it earlier? :smile: Do you have any ideas/propositions as for 1.1.0 release?

[2015-03-13 21:10] ivankravets opened #122 "Serial doesn't work for mbed framework"
Example
[code]

[code]

[2015-03-13 23:05] aphelps commented on #105
Didn't think about it, its been a couple of weeks since I've had time to work on the software as I've needed to update the boards I've been running on it.  I'll contemplate new ideas, I should be back to software development this week.

[2015-03-14 10:23] ivankravets commented on #105
Thanks! We will wait for them (ideas) :+1:

[2015-03-16 10:42] #122 closed

[2015-03-16 21:03] #117 closed

[2015-03-16 21:03] #120 closed

[2015-03-16 21:03] ivankravets commented on #116
Done!

[2015-03-16 21:03] #116 closed

[2015-03-16 22:54] ivankravets commented on #115
* http://docs.platformio.org/en/latest/frameworks/index.html
* http://platformio.org/#!/frameworks

[2015-03-16 22:55] #115 closed

[2015-03-19 10:05] makefu commented on #119
just fyi, there hackaday published an article about the esp8266 which is very detailed and gives some background about the ESP8266: http://hackaday.com/2015/03/18/how-to-directly-program-an-inexpensive-esp8266-wifi-module/

[2015-03-19 16:59] garacio opened #125 "Unable to install stm32 platform"
Hi!

I am trying to install an stm32 library.

On the version from pip i have an error
[code]

On the git version (branches master and development) i have another error

[code]

[2015-03-19 17:17] ivankravets commented on #125
Sorry for this issue. We are going to release new PlatformIO 1.2 today, but I have problem with SourceForge storage. I can't upload "framework-mbed" :( The upload speed is crazy low ;(

I will report here when I finish uploading.

[2015-03-19 17:44] garacio commented on #125
Thank you!

[2015-03-19 21:05] ivankravets commented on #125
Fuhh... I've just uploaded ``framework-mbed`` package. Please try again to install ``ststm32`` platform.

[2015-03-19 22:21] garacio commented on #125
A have installed ststm32 platform now

[code]

But

[code]

And trying to run

[code]

[2015-03-19 22:23] ivankravets commented on #125
Please ignore this warning. I fixed it in this commit https://github.com/ivankravets/platformio/commit/3fabd01e1bbe42f1efcfe27e0bf1714b515e75c9

We will release PlatformIO 1.2.0 within several hours, where this warning is suppressed.

[2015-03-19 22:25] ivankravets commented on #125
Opss. Sorry, I've not seen this error. Hm... Could I ask you to uninstall ``ststm32`` platform and install again?

[code]

Thanks in advance!

[2015-03-19 22:36] garacio commented on #125
This warning is no matter,

[code]

And i have tried to delete ~/.platformio directory. Files have been downloaded and installed successfully, but the problem is still here.

[2015-03-19 22:39] ivankravets commented on #125
Could I ask you to share here ``~/.platformio/appstate.json``?

[2015-03-19 22:49] garacio commented on #125
Sure

[code]

[2015-03-19 22:52] ivankravets commented on #125
I see where is this error. Give me please output of:
[code]

[2015-03-19 22:59] ivankravets commented on #125
Looks, like invalid PlatformIO installation. Please make these steps:

1. Remove ``~/.platformio/``
2. Uninstall PlatformIO
[code]
3. Install latest `develop`` version:
[code]

[2015-03-20 14:11] garacio commented on #125
All works fine now, thanks!

[2015-03-20 14:11] #125 closed

[2015-03-20 14:12] ivankravets commented on #125
Sorry for this issue. Don't forget to upgrade to stable version today! :)

[2015-03-20 14:24] garacio commented on #125
Ok, thanks!

[2015-03-20 14:42] ivankravets commented on #125
Is it yours post from login ``locofreek25``? http://www.reddit.com/r/embedded/comments/2xuec4/platformio_as_continuous_integration_tool_for/

[2015-03-20 19:55] #100 closed

[2015-03-21 12:40] ivankravets opened #127 "Add support for SparkFun Arduino compatible boards"
- [ ] Add support for @sparkfun Arduino compatible boards (list is located below) (Assigned @valeros )
- [ ] Update documentation with new boards, including PlatformIO API and Web Site (Assigned @ivankravets)

* [SparkFun RedBoard](https://www.sparkfun.com/products/12757)
* [SparkFun Pro Micro - 5V/16MHz](https://www.sparkfun.com/products/12640)
* [SparkFun Pro Micro - 3.3V/8MHz](https://www.spark

[2015-03-21 12:46] ivankravets opened #128 "Normalize board names"
I propose to normalize all board names according this rule:

``vendor`` ``board name`` ``additional info if required (voltage, frequency and etc)``

[2015-03-21 13:59] twpayne opened #130 "Treatment of multi-file sketches not match Arduino build process"
Background: I'm porting an existing multi-file Arduino sketch to PlatformIO. It does not currently work because PlatformIO's conversion of multi-file sketches to C++ is different to the Arduino IDE's.

The Arduino IDE's process is described in [the Arduino Build Process](http://arduino.cc/en/Hacking/BuildProcess), section "Multi-file sketches" and "Transformations to the main sketch file".

Platfo

[2015-03-21 14:42] ivankravets commented on #130
Could you provide me an example which works in Arduino IDE, but doesn't work in PlatformIO?

[2015-03-21 15:05] twpayne commented on #130
Here's a short example that demonstrates a difference. There are two source files:

`src/Blink.io`
[code]

`src/PlatformIO_example.ino`
[code]

The Arduino compiles and builds this just fine, but PlatformIO gives an error:
[code]

The problem here is PlatformIO compiles `src/Blink.ino` on its own, which does not include a declaration of the variable `led`. The Arduino concatenates all the `*.ino`

[2015-03-21 15:18] ivankravets commented on #130
Thanks, I got you. I will resolve this issue today and ask you to test!

[2015-03-21 15:21] twpayne commented on #130
Thanks! Here's the rough-and-ready standalone script that seems to Do The Right Thing(tm):
  https://gist.github.com/twpayne/bdea90725d3d9b6bba1c

[2015-03-21 21:08] #130 closed

[2015-03-21 21:13] ivankravets commented on #130
Tom, thanks for your script. However, this issue is more interesting:
* need to detect which ``*.ino/pde`` candidate to be nominated as "main"
* need to specify preprocessor with correct lines for multi-sketches. Warnings/Errors should be reported with correct lines from original sketches ,even when they are merged into single ``piomain.cpp``.

See how I've fixed it https://github.com/ivankravets/

[2015-03-22 14:20] robseee opened #131 "Add support for Sanguino boards (atmega1284p)"
Please add support for Sanguino boards (used in 3d printers)
Pins definitions seems wrong with platformio.

Arduino board definition is here:
https://github.com/MarlinFirmware/Marlin/tree/Development/ArduinoAddons/Arduino_1.5.x/hardware/marlin/avr

I successfully compiled and uploaded to this board with platformio using command "platformio init --board=1284p16m" and adding upload_speed = 57600 to

[2015-03-22 18:06] gandy92 commented on #117
Thank you for adding support for panstamp so promptly :+1:

I managed to successfully build the panstamp-blink.ino. However, I have a few issues compiling a sketch that uses the Wire lib, similar to what is mentioned here:  http://www.panstamp.org/forum/archive/index.php/thread-3978.html  Apparently, using the panstamp libraries requires a few patches to the libraries shipped with arduino.

Should

[2015-03-22 18:52] gandy92 commented on #117
I looked into this more closely, apparently they just rename twi.c from libraries/Wire/utility to twi.cpp to make it work. Would this be a viable solution?

[2015-03-22 19:39] ivankravets commented on #131
This is obvious behaviour, because the "PINs MAP" of ``1284p16m`` isn't equal to Sanguino board. We will add support for this board.

[2015-03-22 19:43] bkuberek opened #132 "How to configure CLion Project"
Apologies if this is the wrong place to ask this question but I am trying get my current platformio project working on CLion.

I have a working platformio project that is getting bigger and difficult to manage and I was hoping to use CLion IDE. Any help is appreciated.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/9879149-how-to-co

[2015-03-22 20:16] ivankravets opened #133 "Allow own libs per framework's core"
Need to resolve situation where the framework's core has own specific libs, like ``framework-arduino::panstamp`` has modified ``Wire`` library.

I propose to separated "core's" libs from common directory named ``framework-%type%/libraries``:

1. We should keep support for previous versions of PlatformIO. We can't modify significantly ``framework-%type%/libraries``, where PlatformIO looks for depen

[2015-03-22 20:19] ivankravets commented on #117
@gandy92 thanks for report. I've just opened new issue #133 . It should resolve this problem.

P.S: You can currently avoid this problem via adding specific libs to your project ``libs`` directory. These libs have more higher priority then framework's libs. Just copy PanStamp's ``Wire`` lib to projects ``libs/Wire``. Did it help you?

[2015-03-22 20:24] ivankravets commented on #132
You can integrate PlatformIO into any IDE. Which type of problem do you have? From CLion site:

You can replace built-in ``cmake`` system with ``platformio run`` command. Could I ask you to write an article about it and I will place it to main [PlatformIO documentation](http://docs.platformio.org/en/latest/ide.html)?

Thanks in advance!

[2015-03-22 20:27] ivankravets commented on #132
Here is interesting example how to replace built-in Eclipse builder with PlatformIO: [Building and debugging Atmel AVR (Arduino-based) project using Eclipse IDE+PlatformIO](http://www.ikravets.com/computer-life/programming/2014/06/20/building-and-debugging-atmel-avr-arduino-based-project-using-eclipse-ideplatformio)

[2015-03-22 20:44] aphelps commented on #132
I'd be interested in any results on this as well, I use IntelliJ regularly and have considered trying out CLion.  If it supports a any standard makefile system you could always put together a config that mapped to platformio commands, if CLion doesn't let you do that directly within its preferences.

[2015-03-22 20:48] ivankravets commented on #132
Friends,

Who can help PlatformIO with short manual with pictures how to configure CLion and PlatformIO? It can be any format: PDF/DOC/RTF/etc., the we will convert it to RST and put to core documentation with preserving author's rights.

We could do it, but you can see how much issues we have opened. In this situation I want to concentrate our forces to the new features for PlatformIO.

[2015-03-22 20:55] bkuberek commented on #132
This is the first time I do something with C/C++ and I am still wrapping my head around basic concepts. I would gladly contribute this write up if I could figure it out on my own. I hope someone has already gone through the trouble and could share their setup.

[2015-03-22 21:12] gandy92 commented on #117
Thanks for the workaround. For a preliminary fix I manually copied the libraries to the platformio directories. Your solution is much more elegant, though, I will try this with a clean installation, tomorrow.

[2015-03-22 21:25] ivankravets commented on #117
Ok, I will wait for your results.

P.S: Please restore default PlatformIO packages. Just uninstall/install specified platforms or remove totally ``~/.platformio`` dir.

[2015-03-22 22:04] gandy92 commented on #117
Removed .platformio dir and copied panstamp-avr specific libraries to lib/

Worked fine for both of my projects. :+1:

[2015-03-22 22:57] gandy92 opened #134 "Add library dependencies to platformio.ini"
The file platformio.inialready contains information on the framework required to build a project. If it is missing, platformio offers to automatically install it. However, if the same project requires a library already known to the platformio library manager, the following manual steps are necessary:
1. Build using "platformio run" and examine output for missing library
2. Perform library ID searc

[2015-03-22 22:59] pelikhan commented on #134
Yes, declaring library depedencies is a great feature in npm.

Sent from my Windows Phone
________________________________
From: Andy<mailto:notifications@github.com>
Sent: ý3/ý22/ý2015 15:57
To: ivankravets/platformio<mailto:platformio@noreply.github.com>
Subject: [platformio] Add library dependencies to platformio.ini (#134)

The file platformio.inialready contains information on the framework r

[2015-03-23 06:29] ivankravets commented on #134
I don't have any objections :) How about to name this option like ``deplibs``?

[2015-03-23 14:07] ivankravets commented on #119
Additional article: http://hackaday.com/2015/03/18/how-to-directly-program-an-inexpensive-esp8266-wifi-module/

[2015-03-23 21:12] gandy92 commented on #134
Sounds good to me :smiley:

[2015-03-23 21:40] #127 closed

[2015-03-23 21:40] #128 closed

[2015-03-23 21:40] #131 closed

[2015-03-23 21:40] #133 closed

[2015-03-24 20:07] Ekran opened #136 "Arduino with #include <SD.h> gives error because Energia.h is needed"
I use the simple blink example on an nano and add the line #include <SD.h>. The compiler gives the error:

.pioenvs\autogen_nanoatmega328\SD_ID79\utility\Sd2Card.cpp:21:21: fatal error: Energia.h: No such file or directory

Shouldn't it use something like arduino.h?

[2015-03-24 21:32] ivankravets commented on #136
This library doesn't support framework ``arduino``. In other words, this is a port of this library https://github.com/adafruit/SD

I will add support for valid Arduino SD library as soon as possible.

--------

Current solution: just create in ``src`` dir file named ``Energia.h`` with the next contents:
[code]

[2015-03-25 02:31] aphelps opened #137 "Regression from 1.1 to 1.2 in regards to projects with .ino files"
I'm not sure if this is addressed in another issue, but I just updated from 1.1 to 1.2 (and then tried again with the dev branch), and it looks like something broke with the handling of .ino files.  Previously I had projects working fine in both the Arduino IDE and platformio.  The errors mostly look like this:

[code]

It looks like the .cpp that is generated from my .ino is placing the generated

[2015-03-25 08:50] ivankravets commented on #137
Sorry, this issue is caused by https://github.com/platformio/platformio/issues/100
I will fix it :+1:

[2015-03-25 09:18] ivankravets opened #138 "Move PlatformIO repos to own organisation"
* Move PlatformIO dependent repos from https://github.com/ivankravets to https://github.com/platformio
* Replace all within source code, documentation, 3-rd party service (Travis CI and etc).

Be closer to our community!

[2015-03-25 09:49] #138 closed

[2015-03-25 09:56] ivankravets opened #139 "Automatically generate "Packages" block for "Creating platform" page"
We have predefined list with all available PlatformIO based packages. There is the only one place where packages are hardcoded manually. See it https://github.com/platformio/platformio/raw/develop/docs/platforms/creating_platform.rst

Need to find positions of occurrence ``.. _platform_creating_packages:`` and ``.. _platform_creating_manifest_file:`` in the contents of files and replace text which

[2015-03-25 14:01] ivankravets commented on #136
I've just added new library which is compatible with Arduino framework. Please use it http://platformio.org/#!/lib/show/161/SD

[2015-03-25 14:01] #136 closed

[2015-03-25 14:14] gandy92 opened #140 "Wrong insertion of function prototypes converting .pde to .cpp"
Automatic insertion of function prototypes fails in some cases, for example:

The file src/DCFBinaryStream.pde containing
[code]

is converted to .pioenvs/autogen_pro8MHzatmega328/src/DCFBinaryStream.cpp
[code]

which leads to the compiler error
[code]

The correct solution would be to define the prototypes at the latest possible point, most impportantly after the include directives (which however

[2015-03-25 14:20] ivankravets commented on #140
Sorry, I will work on it today and fix it. I've marked your issue as duplicate of https://github.com/platformio/platformio/issues/137

[2015-03-25 15:12] gandy92 commented on #140
Sorry for placing a duplicate, I completely missed #137

[2015-03-25 20:02] ivankravets commented on #140
Fixed in https://github.com/platformio/platformio/commit/f800b351f36753e6f448bdfcf36b9b76e6d5bbcd

[2015-03-25 20:02] #140 closed

[2015-03-25 20:04] ivankravets commented on #137
Fixed in https://github.com/platformio/platformio/commit/f800b351f36753e6f448bdfcf36b9b76e6d5bbcd

@aphelps and @gandy92,

Could I ask you to try latest ``1.3.0.dev1``? http://docs.platformio.org/en/latest/installation.html#development-version

If it works, I will release 1.3.0 as soon as possible.

Thanks in advance!

[2015-03-25 20:04] #137 closed

[2015-03-25 20:29] gandy92 commented on #137
Tested this with the example from #140 and it compiles without any problems. Translated source code looks great, though the name is now pioman.ccp instead of %PDENAME%.cpp (which is fine by me).

[2015-03-25 20:31] ivankravets commented on #137
I use ``pioman.cpp`` because PlatformIO can concatenate multiple *.ino/*.pde files into main CPP.

See request https://github.com/platformio/platformio/issues/130

P.S: Thanks for report! :+1: :blush:

[2015-03-26 05:49] aphelps commented on #137
Works fine again now.

[2015-03-27 12:56] #139 closed

[2015-03-27 14:25] ivankravets commented on #132
@valeros has tried to configure CLion with PlatformIO, but didn't received any results. They don't allow to redefine own builder. I've just posted the comments to their issues tracker:

https://youtrack.jetbrains.com/issue/CPP-871#comment=27-960431

Here is explanation by CLion owners: http://blog.jetbrains.com/clion/2014/09/cmake-vs-the-others-round-1/

[2015-03-27 15:10] ivankravets commented on #137
@aphelps  @gandy92

Please upgrade to latest 1.3.0 https://github.com/platformio/platformio/releases/tag/v1.3.0

[2015-03-27 17:43] valeros commented on #110
Obsolate

[2015-03-27 17:43] #110 closed

[2015-03-27 20:34] ivankravets opened #143 ""UnicodeDecodeError: 'ascii' codec can't decode byte""
Problem occurs under Windows OS and for environment where configurable encoding is used (non UTF-8 paths).

https://docs.python.org/2/howto/unicode.html#unicode-filenames

[code]

Try this hook for `platformio.util.get_home_dir`:

[code]

How to reproduce? Just create account with "non-UTF-8" chars (Cyrillic is good candidate).

[2015-03-28 19:00] bkuberek commented on #132
thanks for the update

[2015-03-29 08:31] Absurd-Mind opened #144 "Serial does not work with panStampAVR board"
Serial does not work when trying to compile for a panStampAVR board.

This is the test code (test.ino)
[code]
and this is the compiler output:
[code]

[2015-03-29 10:26] valeros commented on #144
It is weird. "Serial" is not defined by default. You can try include "HardwareSerial.h" in your sketch before using the Serial object.

[2015-03-29 12:18] dontsovcmc opened #145 "avrdude: fuses question"
I use only platformio for upload *.ino.
I have unknown problems several times ago and reinstall, reinit platformio.

Now I see not normal fuses while uploading:

avrdude: safemode: lfuse reads as 0
avrdude: safemode: hfuse reads as 0
avrdude: safemode: efuse reads as 0
avrdude: safemode: Fuses OK (H:00, E:00, L:00)

platformio.ini:
[env:scadadon_env]
platform = atmelavr
framework = arduino
board =

[2015-03-29 12:29] ivankravets commented on #145
1. Do you have any problems with uploading?
2. Does your ``*.ino`` work correctly?
3. ``atmega328.bootloader.*_fuses`` will be used when you will update ``bootloader``. PlatformIO doesn't allow to upgrade bootloader in your device.

P.S: See the output from [wiring example](https://github.com/platformio/platformio/tree/develop/examples/wiring-blink) for my Arduino UNO:
[code]

[2015-03-29 14:03] ivankravets opened #146 "Upgrade Energia framework to 0101E0015 release"
Source: http://energia.nu/download/

[2015-03-29 14:06] ivankravets opened #147 "Add new platform "timsp432" and support for TI MSP432 LaunchPad"
See: http://energia.nu/releasenotes/

[2015-03-29 19:24] Absurd-Mind commented on #144
So this is behaviour by design. Maybe this should be added in the documentation/examples.
Thank you for the help and the awesome tool!

[2015-03-29 20:23] ivankravets commented on #144
@Absurd-Mind thanks a lot for your report :+1:

 I've just created [PlatformIO FAQ](http://docs.platformio.org/en/latest/faq.html) page and with "Troubleshooting" section. Here is your first question: http://docs.platformio.org/en/latest/faq.html#serial-does-not-work-with-panstampavr-board

[2015-03-29 20:23] #144 closed

[2015-03-31 12:02] ivankravets commented on #143
We can fix this issue within PlatformIO source code, but problem still exists within SCons source code.

To avoid this issue please re-define PlatformIO [home_dir](http://docs.platformio.org/en/latest/projectconf.html#home-dir) in your project configuration file [platformio.ini](http://docs.platformio.org/en/latest/projectconf.html). PlatformIO uses user's home directory by default, which can cont

[2015-03-31 12:36] ivankravets commented on #143
Add this issue to http://docs.platformio.org/en/latest/faq.html#windows-unicodedecodeerror-ascii-codec-can-t-decode-byte

[2015-03-31 12:40] ivankravets commented on #145
Please reopen if you still have problems.

[2015-03-31 12:40] #145 closed

[2015-03-31 12:40] ivankravets commented on #146
Done.

[2015-03-31 12:40] #146 closed

[2015-03-31 20:14] ivankravets opened #148 "Handle libraries which are compatible with build environment using "library.json" data"
Currently, PlatformIO Library Dependency Finder analyse only ``#include`` and decides which library should be used in appropriate order. However, we have situation where a few libs have the same names (or even ``#include``), but are compatible with different platforms/frameworks.

Need to analyse [library.json](http://docs.platformio.org/en/latest/librarymanager/config.html) and use libs which cor

[2015-03-31 20:38] gandy92 commented on #148
Thank you for opening this issue. Having had time to consider the matter some more, I think the build environment should only be considered to resolve ambiguities (two libraries with the same name targeting different platforms), unless the user chooses 'strict' library handling. Otherwise we would introduce too many potential problems for the existing platforms. With much more libraries introduced

[2015-03-31 21:44] ivankravets commented on #148
I don't see problems here. PlatformIO Library Manager is based on ``library_id``, not ``library_name``. However, I see another problem here: if I implement this issue, you will not have ability to use "arduino" libraries for "teensy" platform. They will be ignored.

Solution
-----------

How about [ignore_libs](http://docs.platformio.org/en/latest/projectconf.html#ignore-libs)? It allows to keep m

[2015-04-01 06:14] gandy92 commented on #148
I'm not sure about the 'wontfix' label, is there a 'fixlater'?

The problem I see with the ignore_libs solution is, that the platform.ini might require changes at the time another platform gets a library that happens to have the same name as one of the libraries required by the specific build environment.

So I propose a solution where the library manager uses the platform information in the libra

[2015-04-01 13:16] ivankravets opened #149 "Integrate PlatformIO with AppVeyor Windows based Continuous Integration system"
- [ ] Run PlatformIO integration + sytem tests via Windows 64bit instance
- [ ] Add status badge

[2015-04-01 13:33] #149 closed

[2015-04-01 17:04] dontsovcmc commented on #145
The problems were with screen and wire of another shield...

So, it's ok!
Thanks!

[2015-04-01 19:40] chipolux commented on #119
Just wanted to chime in that I've been working with the ESP8266 using [esptool.py](https://github.com/themadinventor/esptool) and a [docker buildbox](https://github.com/chipolux/esp8266-buildbox) and it would be really nice to have support for this instead of swapping back and forth as I'm currently doing.

If there is any way I could help I'd be glad to know! Thanks!

[2015-04-01 19:42] ivankravets commented on #119
@chipolux Sure! Please repost/retweet our vote https://twitter.com/platformio_org/status/583353126494822402

[2015-04-02 20:41] ivankravets opened #151 "Allow to initialise PlatformIO project for the specified IDE"
Aims
====
PlatformIO can be integrated to multiple IDE/editors using a few installation/customisation steps. They are described in [main documentation](http://docs.platformio.org/en/latest/ide.html). Will be useful to have additional option ``--ide`` to [platformio init](http://docs.platformio.org/en/latest/userguide/cmd_init.html) command.

How it works
==========
If user specifies supported ``--

[2015-04-02 21:20] ivankravets opened #152 "Add global "-f, --force" option which will force to accept any confirmation prompts"
As we propose users to use PlatformIO for Continuos Integration (#108) and IDE Integration (#151) we should allow to avoid [PlatformIO blocks command execution using user prompt](http://docs.platformio.org/en/latest/faq.html#platformio-blocks-command-execution-using-user-prompt).

I propose to add global ``-f, --force`` option for the all PlatformIO commands which will force to accept any confirma

[2015-04-02 21:29] ivankravets commented on #151
@valeros please look into @0xc0170 https://github.com/0xc0170/project_generator

Looks like what do we need. Nevertheless, ``project_generator `` supports only ``eclipse``, but we can extend this list via [templates](https://github.com/0xc0170/project_generator/tree/master/project_generator/templates).

[2015-04-02 21:30] matthewelse commented on #151
0xc0170/project_generator might save you a bit of work with exporting to IDEs - we currently don't support visualstudio or sublimetext, however it wouldn't take much work to get those working. The only problem is that project_generator is currently only used with ARM architecture processors, however it wouldn't take very much work to get this to work with AVR and others. I've actually been meaning

[2015-04-02 21:42] ivankravets commented on #151
@matthewelse Thanks, see my comment above :+1:

Do we have option to specify own ``Preprocessor definitions/symbols`` and ``Build System``? It is important for us, because PlatformIO has own code builder and uses own pre-built toolchains, frameworks and etc . In other words, it is replacement for internal IDE's  build system.

These ``Include Search Path`` and ``Preprocessor definitions/symbols``

[2015-04-02 21:57] matthewelse commented on #151
I guess that you mean doing `platformio run` instead of `make` as part of the build system?

[2015-04-02 22:06] ivankravets commented on #151
Yes. See [Get Started](http://platformio.org/#!/get-started).

[2015-04-02 22:21] 0xc0170 commented on #151
All project settings are predefined by a user in yaml files -> dictionaries, thus if a project dictionary is filled with proper data, it can be passed to pgen to export the project files. Is this enhancement to create a full project (all source files, include paths, macros in the IDE) ? Or just required project files with defined output binary created by your build system, be available for debuggi

[2015-04-03 13:08] ivankravets commented on #148
I want to emphasise, that ``ignore_libs`` can be defined within ``[env:***]`` group. This isn't global option for the all build environments. If you have problem with detecting libs in some environment, then you can exclude lib, which should not be used.

Could I ask you to describe me an example, where ``ignore_libs`` will be helpless? Thanks! :+1:

[2015-04-03 18:40] ivankravets opened #153 "Upgrade packages with "GNU Tools for ARM Embedded Processors" to 4.9-2015-q1"
https://launchpad.net/gcc-arm-embedded/+download

- [ ] Use pre-built toolchains for Windows, Mac and Linux 64bit
- [ ] Built own toolchain for Linux 32bit
- [ ] Built own toolchain for Linux ARM Arch

Don't forget to fix symlinks for pre-built toolchains. Please use this script https://github.com/platformio/platformio/blob/develop/scripts/fixsymlink.py

<bountysource-plugin>
---
Want to back this

[2015-04-03 19:12] ivankravets commented on #119
Dear @makefu, @chipolux,

You can try the latest ``develop`` version of PlatformIO, where have been released the initial support of ``espressif`` platform. See here [how to install development version of PlatformIO](http://docs.platformio.org/en/latest/installation.html#development-version).

We know about a few issues with invalid firmware and we are working on it. Do you have any problems with y

[2015-04-03 20:17] ivankravets opened #154 "Add preconfigured PlatformIO+IDE projects to examples folder"
We have a few tutorials [how to integrate PlatformIO with the popular IDE](http://docs.platformio.org/en/latest/ide.html). Will be good to have in ``examples/ide/`` folder the real projects with the all configurations files.

See examples with Eclipse IDE https://github.com/platformio/platformio/tree/develop/examples/ide-eclipse

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty

[2015-04-03 20:35] ivankravets commented on #151
@0xc0170, I've just opened a new issue #154. We will show what do we need in the final result.

Here are a few examples with Eclipse: https://github.com/platformio/platformio/tree/develop/examples/ide-eclipse

Just: include paths, macros + replacement of internal build system to PlatformIO Code Builder.

I create new issue on ``pgen`` project if the issue #154  will be fixed. I need to show you a

[2015-04-04 19:35] chipolux commented on #119
Awesome @ivankravets!

I'll take a look at it later today with a few projects on OSX and Linux!

[2015-04-05 03:01] chipolux commented on #119
Alright, so it pulls down and starts up okay but there's a problem with linking:

[code]
I've completely wiped out my ~/.platformio directory and reinstalled platformio and scons but still no go.

[2015-04-05 03:05] chipolux commented on #119
Oh, I suppose you guys might want the platformio.ini I'm working with:

[code]

[2015-04-05 18:51] chipolux commented on #119
Otherwise though, using the native libraries it seems to compile all my little projects and push them to the chip just fine.

Is there a reason you guys went with [esptool](https://github.com/tommie/esptool-ck) over [esptool.py](https://github.com/themadinventor/esptool)? I've not ran into any issues with esptool.py so far and it has friendlier output when flashing the chip.

[2015-04-05 20:38] ivankravets commented on #119
Great! :+1:  Could I ask you to try this example: https://github.com/platformio/platformio/tree/develop/examples/espressif/esp8266-webserver ?

I agree with you.

@valeros Could I ask you to switch to https://github.com/themadinventor/esptool ? This is Python based utility and should work under all host OS.

[2015-04-05 21:13] chipolux commented on #119
@ivankravets tried with that example and still got the same error, esp266.ld doesn't exist.

[2015-04-05 21:25] ivankravets commented on #119
@chipolux give me please an output of these commands:
[code]

Thanks!

[2015-04-05 22:16] gandy92 commented on #148
The problem I see with `ignore_libs` is not that it is helpless in the moment platformio is being written. Let me explain with the following example:
* I write a program that uses lib1 named 'A' and id 1. At the time of writing, there is another lib3 also named 'A' with id 3, that uses the same include file names and thus clashes with lib1
* stating `ignore_libs = lib3` helps me avoid the problem,

[2015-04-05 23:14] chipolux commented on #119
Here ya go!

[code]

[2015-04-06 08:46] ivankravets commented on #119
@chipolux Thanks, I got it and I've just fixed. Please [re-install](http://docs.platformio.org/en/latest/installation.html#development-version) ``develop`` version of PlatformIO. Do you have any problems?

[2015-04-06 10:00] ivankravets opened #156 "Upgrade "framework-arduino" for AVR/SAM with the latest v1.6.3"
Subj.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10557804-upgrade-framework-arduino-for-avr-sam-with-the-latest-v1-6-3?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_

[2015-04-06 10:54] ivankravets opened #157 "Add support for Intel Galileo and Intel Edison"
- http://www.intel.com/content/www/us/en/do-it-yourself/arduino.html
- http://arduino.cc/en/ArduinoCertified/IntelGalileo

[2015-04-06 12:10] makefu commented on #119
Hi, i tried the example code at https://github.com/platformio/platformio/tree/develop/examples/espressif/esp8266-webserver and it seems to building a nice little firmware:
[code]

Thanks for your efforts, really!

[2015-04-06 12:50] ivankravets commented on #119
@makefu Could I ask to upload firmware to device? We have problem with invalid firmware. Like, "doesn't work properly". We are working on it.

[2015-04-06 15:35] chipolux commented on #119
Awesome, looks like the new version works! I'll don't have a chip handy right now but in a few hours I'll make sure it can push this and another project or two!

using ELF file ".pioenvs/esp01_8266/firmware.elf"
saved section ".irom0.text" to file ".pioenvs/esp01_8266/firmware_40000.bin"
"xtensa-lx106-elf-size" -B -d .pioenvs/esp01_8266/firmware.elf
text       data     bss     dec     hex filename

[2015-04-06 20:45] ivankravets opened #158 "Refactor command line interface (especially "platform" related commands)"
PlatformIO 1.0 CLI
==============
[code]

PlatformIO 2.0 CLI
==============
1. Add global ``-f/--force`` option which will force to accept any confirmation prompts // issue #152
2. Move platform related commands to ``platformio platforms`` commands group
3. Update: development platforms, packages and libs by general ``platformio update`` command.

[code]
--------------

Friends  @valeros, @gandy92

[2015-04-06 20:57] aphelps commented on #158
For the 's' ending, I really don't have a preference.

For the addition of the -q/--quiet option, is the intent here to just bypass places where user confirmation is required?  Unix "conventions" tend to have -q mean "use less verbose logging", whereas -f/--force or -Y/--yes is used to bypass prompts for user confirmation.

[2015-04-06 21:08] ivankravets opened #159 "PlatformIO 2.0"
Overview
=======

Friends, thanks a lot for using PlatformIO. Our audience and community ([@PlatformIO_Org](https://twitter.com/PlatformIO_Org)) grow up extremely fast! Thank you! :+1: :blush:

I haven't expected that PlatformIO will be transformed from "source code builder" to powerful eco system with a lot of independent instruments which allow to simplify life of each embedded developer.

Here

[2015-04-06 21:12] ivankravets commented on #158
@aphelps thanks! I've just changed #152 to ``-f, --force`` :+1:

[2015-04-06 21:28] ivankravets commented on #159
Friends @nobugs-hare, @valeros, @gandy92, @pelikhan, @aphelps, @0xc0170, @robertinant, @PaulStoffregen, @aethaniel, @xxxajk, @Lauszus, @franciscoruiz, @ncolomer, @elyulka

Which key features should be implemented in PlatformIO 2.0?

[2015-04-06 22:06] chipolux commented on #119
Webserver flashed perfectly. Trying my own couple of arduino framework projects now.

[code]

[2015-04-06 22:22] ivankravets commented on #119
@chipolux, Does device response on GET request? Could I ask you to check it using browser?

[2015-04-06 23:00] chipolux commented on #119
Sure, I've flashed the webserver example back to the chip but I'm just getting junk from the serial port. I've tried adjusting the baud rate with `platformio serialports monitor` as well as adjusting it in the example but I've not got anything to work there.

Any ideas?

[2015-04-06 23:22] chipolux commented on #119
Weird, just testing with this bit of code works, but `serialports monitor` crashes with a device not configured error after the first line comes through. I can still `cat /dev/cu.SLAB_USBtoUART` and watch the messages flow though.

[code]

[2015-04-07 00:26] beriberikix opened #160 "Support popular RTOS projects"
Is there anything preventing PlatformIO from supporting popular RTOS projects like [ChibiOS/RT](http://chibios.org/), [FreeRTOS](http://www.freertos.org/) & [NuttX](http://nuttx.org/)?* A quick search on the web UI returned 0 results.

* there are many, many more RTOS projects out there.

[2015-04-07 00:29] chipolux commented on #119
Well I isolated an issue with my usb-to-uart adapter that was causing some issues.

But I also figured out that something about ESP8266WebServer causes a fatal exception on the chip.

[code]

[2015-04-07 00:50] aphelps commented on #159
The first thing that comes to mind is adding an upload port picker tool, so that rather than needing to specifying the port on the command line it would just present a list from a port scan and allow the user to quickly select one for the upload.

[2015-04-07 02:18] chipolux commented on #119
Looks like it must be a problem with the firmware the toolchain is generating as I've tried with the [arduino ide](https://github.com/esp8266/Arduino) and it's working from there.

[2015-04-07 15:24] valeros commented on #156
Done.

[2015-04-07 15:24] #156 closed

[2015-04-08 05:59] gandy92 commented on #159
Thinking of platformio usage in companies, control of the update process could be an issue. Right now, updates of the toolchains, frameworks, etc are done automatically which is fine to keep up-to-date, especially with the current pace of platformio development.
In some environments, however, it might be necessary to read update notes, changelogs, maybe evaluate the new version in a sandbox before

[2015-04-08 16:04] gandy92 opened #162 "teensy31 stops execution when using float"
porting my avr arduino firmware to teensy 3.1 using arm4, I encountered a strange problem.

The code compiles and uploads perfectly, but execution stops at the first point a float variable is used. Assigning a value to a float variable seems not to be the problem (maybe the code is removed during optimization?) but a multiplication already makes the arm stop dead.

has anyone seen this before and

[2015-04-08 16:45] #162 closed

[2015-04-08 16:47] ivankravets commented on #162
@gandy92 I've just remove hard FPU. Please [upgrade PlatformIO](http://docs.platformio.org/en/latest/installation.html#development-version) to the latest ``develop`` and update all platforms via ``> platformio update``.

Did it help you?

[2015-04-08 18:05] ivankravets commented on #119
Friends, please [upgrade PlatformIO](http://docs.platformio.org/en/latest/installation.html#development-version) to the latest ``develop`` and update all packages using ``> platformio update``.

Please check your version:
[code]

Should be equal to ``1.4.0.dev2``.

Looks like we fixed the bug with "Fatal exception".

P.S: @gandy92 please re-test with your board. Thanks!

[2015-04-08 19:10] chipolux commented on #119
@ivankravets Everything seems to be working! I've tested out the wifi scan and the wifi server examples and both worked flawlessly!

[2015-04-08 19:12] ivankravets commented on #119
@chipolux Thanks for report! We will replace "esptool" with "esptool.py" and I'm going to release ``1.4.0`` this tomorrow.

[2015-04-08 19:23] gandy92 commented on #162
That was fast :smile:

Thank you for fixing this, everything works like a charme, now.

[2015-04-08 19:25] ivankravets commented on #160
Yes, shortage of free time and human resource :weary:

PlatformIO is open source project, I would be thankful if someone contribute with pull requests. However, we will add support for the popular RTOS projects as soon as possible.

[2015-04-08 19:27] chipolux commented on #119
@ivankravets @valeros Awesome! You guys rock! This will make my workflow a million times easier!

[2015-04-08 19:29] ivankravets commented on #119
@chipolux Thanks! :blush:

Are you interested in native ESP8266 programming using SDK (without Arduino framework)?

[2015-04-08 19:30] ivankravets commented on #162
The issues from @gandy92 should be fixed as soon as possible :blush:

[2015-04-08 19:40] gandy92 commented on #119
@ivankravets Sorry, didn't yet get my programming gear for the ESP8266 to work properly, not a problem with PlatformIO, though..

[2015-04-08 19:44] ivankravets commented on #119
@gandy92  try connect/disconnect. We also have problems with this chip time by time.

[2015-04-08 20:00] ivankravets commented on #159
@aphelps

Hm... but this feature is implemented. Have you tried to upload without ``--upload-port`` option?  See this part of code: https://github.com/platformio/platformio/blob/develop/platformio/builder/tools/pioupload.py#L55:L79

[2015-04-08 20:51] ivankravets commented on #159
@gandy92

See ``auto_update_platforms`` in http://docs.platformio.org/en/latest/userguide/cmd_settings.html

Yes, sounds good, but I'm not sure that I will implement it in SmartAnthill 2.0. Could I ask you to open separate issues: 1-st for the "changes" of platform packages and 2-nd for the changes between libs (like CVS commits history)

Thanks, I will implement this feature in SmartAnthill 2.0 -

[2015-04-08 20:59] chipolux commented on #119
@ivankravets I've played with the native SDK a bit when I first picked up the chips but I haven't had a need to use it instead of the Arduino libs yet..

Most people doing stuff with the chip are either using NodeMCU or the Arduino libs as far as I can tell so I doubt many people will really need the native support but I imagine it'd be good to have just in case.

[2015-04-09 00:01] aphelps commented on #159
@ivankravets Apparently you are already ahead of me, I hadn't seen that addition since I'd last tried it.

[2015-04-09 05:21] paulobarcelos opened #164 "Add support for Quirkbot"
Hey! First of all, congrats for such an amazing project, it's a real life saver!

I was wondering if there is a policy for adding new boards...

I wanted to include the specs for the Quirkbot (https://www.kickstarter.com/projects/1687812426/quirkbot-make-your-own-robots-with-drinking-straws), a new board we are releasing in August. (I am the lead developer on the project)

Is there a preferred way

[2015-04-09 07:43] ivankravets commented on #164
Thanks you for the feedback! :blush:

I see that Quirkbot is based on ``atmega32u4``. You can use the settings from ``leonardo`` board correct a few lines:
[code]

The one field which should be specified is ``variant``. Do you have specific ``pin_map`` for this board?

Finally, you can test this board with the latest version of PlatformIO:
1. Install PlatformIO
2.Create ``boards`` folder in ``~/.p

[2015-04-09 10:40] gandy92 opened #165 "Add mechanism to inform user about platform packages update"
In order to allow the user of platformio to have more control over the update process, information about the available update shall be provided. These include, but are not limited to:
- versions currently installed and available through the update
- release notes and/or changelog for all versions between the currently installed version and the update version

[2015-04-09 11:13] gandy92 opened #166 "Add mechanism to inform user about library update"
Before updating a library, it may be useful for the user to review the changes (e.g. git log) between the currently installed library version and the version available through the update. Platformio should provide a mechanism to
- inform which libraries have new updates
- display a list of changes for individual updates

[2015-04-09 11:20] gandy92 opened #167 "Allow to add more boards to existing platformio.ini"
In a fresh directory, `platformio init --board A --boardB` will create `platformio.ini` with environments for board A and board B. If the file `platformio.ini` already exists, we get an error:
[code]

During development of a new project, it may be necessary, to add new environments supporting different boards. In that case, the user has to fill in all required fields manually, wihtout the benefit

[2015-04-09 11:29] gandy92 opened #168 "Allow to choose which library to update"
Currently, `platformio lib update` will update all installed libraries.

As described in #159, the user should be able to limit the update to specific libraries, e.g. with `platformio lib update ID1 [ID2 [...]]` and/or freeze individual libraries (exclude them from automatic updates)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/10

[2015-04-09 15:52] ajford commented on #167
I agree with this. I ended up copy/pasting the existing entry and changing manually, but it would be nice if it was possible to do this via the interface.

[2015-04-09 17:25] ajford commented on #159
The ability to specify the `env` name given when running `platformio init -b foo` would be nice.

I have some overlapping boards (that confuse the auto-uploader, i.e. `diecimilaatmega328` and `sparkfun_redboard`). Thus using `-e` is required to prevent the attempt to upload using the wrong env. But `autogen_BOARDNAME` is long and sometimes confusing to remember (`diecimila` is not easy to spell ri

[2015-04-09 20:45] hamaker opened #170 "teensy build broken in 1.3.0"
Hi there, thanks for building platform IO, looks really cool and just the kind of thing I was looking for! Building arduino and teensy stuff without having to use a clumsy IDE! YAY!

When building my first teensy3.1 project though, I got an error message that I couldn't understand immediately (I'm not much of a C programmer, sadly):
[code]
It turns out that this issue has actually already been fix

[2015-04-09 20:48] ivankravets commented on #170
@hamaker thanks for the feedback!

Yes, I know about it. I'm going to release 1.4.0 tomorrow. However, here is more easy solution with adding build flags to your env:
[code]

Does it work for you?

[2015-04-09 20:58] hamaker commented on #170
Hi @ivankravets, thanks for the quick response! Yes, that works, and indeed is a much cleaner solution, compared to my editing packaged files :anguished:

[2015-04-09 21:01] ivankravets commented on #170
Yep, PlatformIO is flexible and powerful instrument. However, I don't know hot to explain about it each developer :disappointed: Maybe, documentation isn't good. I'll work on it! :smile:

[2015-04-09 21:01] #170 closed

[2015-04-09 21:02] ivankravets commented on #170
Sorry, I reopen this issue and will close when 1.4.0 will be released!

[2015-04-09 21:47] paulobarcelos commented on #164
Thanks for the thorough feedback!

Our setup is very similar to the ArduinoLillyPad USB, so I will use that as a base.

But yeah, we do have our own variant (and also bootloader - but I don't think it matters on this scope, or?). Where should we place the ````pins_arduino.h````?

And regarding the cloud compiler, we are evaluating a few different options, but Plataformio is definitely on the top o

[2015-04-09 21:55] ivankravets commented on #164
Please put it temporary to ``~/.platformio/packages/framework-arduinoavr/variants/quirkbot``. If all these changes will work on your PC, please share here ``pins_arduino.h`` and ``misc.json`` (@valeros will add it to our packages repository).

P.S: I'm going to release 1.4.0 tomorrow. If you give us this information, I'll add Quirkbot to this release (because I don't know when will be next release

[2015-04-09 22:42] paulobarcelos commented on #164
Regarding vid and pid. We don't have them. At least not yet...
Is that a requirement for you to be able to add the board to this release? Could we go in with 0x0000 ids at this point?

[2015-04-10 08:22] ivankravets commented on #164
Just skip these fields. Don't use "usb_product, pid, vid".

[2015-04-10 09:04] paulobarcelos commented on #164
Ok, overall it works great, but I got some problems with ````vid````, ````pid````, and ````usb_product````.

If I just omit the 3, I get these errors:

[code]
If I just set them to blank (````"vid": "", "pid":"":, "usb_product":""````) then I get:

[code]

So for I went with a squatted registers:
[code]

And everything works fine.

If you are OK with it, here are the file contents https://gist.git

[2015-04-10 09:06] ivankravets commented on #164
@valeros Could I ask you to test it?

[2015-04-10 20:33] iterati opened #171 "Autoupdates render platform unbuildable with latest published version"
I did not realize that the default settings for platformio were to auto-update libraries and platforms and after a number of successful builds, an update happened that broke my build. The fix involved removing the platformio distribution I downloaded from the site, grabbing the source from github, and building/installing from the source.

I believe the problem was that updates to the teensy platfo

[2015-04-11 16:27] #119 closed

[2015-04-11 20:37] beriberikix opened #172 "Support installing through ST package control"
https://packagecontrol.io/docs/submitting_a_package

Sublime Text has a nice ecosystem package manager. Publishing to Package Control would allow set up with one command across Operating Systems.

[2015-04-13 04:27] beriberikix opened #173 "Super-quick installation failed on OSX 10.10.3"
$ python -c "$(curl -fsSL https://raw.githubusercontent.com/platformio/platformio/master/scripts/get-platformio.py)"

==> Installing Python Package Manager ...
Requirement already up-to-date: pip in /usr/local/lib/python2.7/site-packages
[SUCCESS]

==> Installing PlatformIO and dependencies ...
Requirement already up-to-date: setuptools in /usr/local/lib/python2.7/site-packages
Requirement already

[2015-04-13 09:43] ivankravets commented on #173
Did you try with ``sudo`` permission?

[2015-04-13 10:39] beriberikix commented on #173
Yup, but it doesn't seem to add it to my Path (tried restarting.)

me$ sudo python -c "$(curl -fsSL https://raw.githubusercontent.com/platformio/platformio/master/scripts/get-platformio.py)"
Password:

==> Installing Python Package Manager ...
Requirement already up-to-date: pip in /usr/local/lib/python2.7/site-packages
[SUCCESS]

==> Installing PlatformIO and dependencies ...
Requirement already

[2015-04-13 13:54] ivankravets commented on #173
Give me please an output of this command:
[code]

[2015-04-13 13:57] beriberikix commented on #173
/Users/me/bin/google-cloud-sdk/bin:/usr/local/git/current/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/sbin:/usr/sbin:/sbin:/opt/X11/bin:/usr/local/bin/g4bin

[2015-04-13 13:58] ivankravets commented on #173
Hm...

Does this command work for you?
[code]

[2015-04-13 14:07] ivankravets commented on #164
@paulobarcelos Your  board has been added in the latest 1.4.0 release. Does it work properly for you?

P.S: Please re-open if have any problems.

[2015-04-13 14:07] #164 closed

[2015-04-13 15:12] beriberikix commented on #173
yup! pip 6.1.1 from /usr/local/lib/python2.7/site-packages (python 2.7)

[2015-04-13 15:34] ivankravets commented on #173
Hm... Could you try to uninstall/install PlatformIO via "pip":

Looks like you have a problem with "setuptools" package. Could I ask you to show the output of "pip list"command?

Also, please verify that latest version of setuptools is installed.

With best regards, Ivan Kravets
- "Creative comes from talent, and never from knowledge" (c)
_________________________
http://www.ikravets.com

[2015-04-13 19:51] beriberikix commented on #173
Hurray! I wasn't running the latest setuptools. After upgrading, uninstall than install worked :smile:

[2015-04-14 02:49] #173 closed

[2015-04-14 05:06] beriberikix opened #174 "Create gitter.im room"
https://gitter.im is free for public projects. It is a great way to collaborate and enable the community to solve problems together. It is also growing in popularity among open source projects.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11097881-create-gitter-im-room?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=i

[2015-04-14 14:04] beriberikix opened #175 "Use alternative protocol to upload to STM32"
I recently got the @armstrap, which is a [`STM32F407VET6`](http://docs.armstrap.org/en/latest/hardware-overview.html) with a built-in JTAG powered by a @blacksphere Black Magic. To test it out quickly with platformio, I used the `disco_f407vg` since it is also a f407. However, the configuration looks for ST-Link and fails. I'm not too familiar with the Black Magic, so I'm not positive what it need

[2015-04-15 02:56] armstrap commented on #175
The way I upload my code (via the CLI)

target extended-remote /dev/ttyACM0
monitor swdp_scan
attach 1
load   <----- Flashes your STM32F4 chip with binary testprogram.elf
run

Note:  `/dev/ttyACM0` is Ubuntu specific

[2015-04-15 21:27] gorsat opened #177 "creating copies of source files"
When I build (run) it looks like platformio is creating copies of my source files under .pioenvs\autogen_nrf51_dk\src and then compiling those copies instead of simply compiling the originals. I'm using an IDE (e.g. Eclipse) so the "show error in editor" feature opens up the platformio copy of the source file rather than showing me the error in the original. It's not obvious that the editor is sho

[2015-04-16 00:31] WillemMali opened #178 "PlatformIO breaks serial interface for Arduino Leonardo (but only for PlatformIO)"
When I flash my Leonardo with your software, it will start disconnecting from serial immediately after having been connected. It will only very briefly appear as a tty serial device when being connected, and not long enough to flash it using PlatformIO.

Luckily the Arduino IDE can still flash it (I have open the "Tools" menu in the 300ms after I've reset the Arduino, select the right port, then p

[2015-04-16 11:17] ivankravets commented on #173
I've just added this information to FAQ: https://github.com/platformio/platformio/commit/bf0f4c8de43f92ad95155a98cc3448b7efdf14ec

Sorry for the issue.

[2015-04-16 16:39] #154 closed

[2015-04-17 11:44] ivankravets commented on #171
Thanks a lot! Autoupdates will be disabled in PlatformIO 2.0. See my latest commit b52ff11.

[2015-04-17 21:47] iterati commented on #171
Awesome. Thanks for your attention on this and your work on this project. It's really streamlined my development workflow.

[2015-04-18 18:57] beriberikix commented on #175
Got it. @ivankravets any idea how to specify gdb?

[2015-04-19 22:16] TimJay opened #179 "deepSleep with espressif"
esp8266/Arduino added support for deepSleep(), please update the platform.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11545182-deepsleep-with-espressif?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&u

[2015-04-20 11:53] ivankravets commented on #175
@valeros, please show @beriberikix how to create own platform using our ``stm32`` platform as "base frame" and extend functionality. More details are in http://docs.platformio.org/en/latest/platforms/creating_platform.html

[2015-04-20 14:55] ivankravets commented on #172
What do you want to install using ST editor? PlatformIO or "PlatformIO Build System" for ST?

[2015-04-20 15:13] #174 closed

[2015-04-20 15:13] ivankravets commented on #174
Thanks, done! https://gitter.im/platformio/platformio

[2015-04-20 15:35] beriberikix commented on #172
Ideally both. The installed could detect if PlatformIO is already installed and if not start the process. It could also update or at least notify the user to update.

[2015-04-20 15:56] ivankravets commented on #172
Here will be an issue with the system permissions. ST starts without administrative permissions in 99%, when ``pip`` sometimes requires ``sudo`` permission. Yes, we could install PlatformIO within ST plugins, but ``platformio`` will not be available in this situation from cmd/shell.

The installation problem of PlatformIO is the main pain for me now. We lose ~50% users on the "Installation" step.

[2015-04-21 10:08] ivankravets commented on #179
@TimJay this feature with ``deepSleep()`` has not been released official yet. It's located in develop branch. We can't update ``arduino-espressif`` framework to non-stable branch for the all our users.

@valeros please prepare new ``arduino-espressif`` package and explain @TimJay how he can replace manually within ``~/.platformio/packages`` folder.

[2015-04-21 10:25] TimJay commented on #179
Ah, ok. Missed that. Thanks for looking into the package anyhow @valeros :+1:
I tried replacing the content of the extracted local packages with the new version from esp8266/Arduino, but ran into compiling issues.

[2015-04-21 10:28] ivankravets commented on #179
@valeros knows about it. He will explain you how to use this ``develop`` snapshot.

[2015-04-21 10:30] TimJay commented on #179
Nice! Great work btw, thanks.

[2015-04-21 14:30] valeros commented on #179
Hello @TimJay. You can download the new arduino framework for ESP from this link:
https://drive.google.com/file/d/0B3M423-5AXSDblF6aDZfZUxYWEU
Now, you can delete the folder with old version of `arduino-espressif` in `~/.platformio/packages` and unzip there new version.

[2015-04-21 15:26] valeros commented on #175
Hello @beriberikix! I'll try to help you.
First step is create new platform:
You need to create new folder `platforms` in platformio home dir `~/.platformio` or `%HOMEPATH%\.platformio` (on Windows) and copy there two files (`ststm32gdb.py, ststm32gdb-builder.py`) from this gist: https://gist.github.com/valeros/ef7b632c5bcc4541c670
Now, you can install new platform with command `platformio install

[2015-04-21 17:59] TimJay commented on #179
Hei @valeros
after the replacement, I get a bunch of linker errors:
[code]
Let me know if you need to full log...

[2015-04-21 18:07] valeros commented on #179
Sorry, it's my mistake.
Try this platformio.ini
[code]

[2015-04-21 18:32] TimJay commented on #179
[code]

[2015-04-21 18:41] valeros commented on #179
Strange, can you show me your main file source code?

[2015-04-21 18:46] TimJay commented on #179
Just a very basic deepSleep test:
[code]

[2015-04-21 18:48] TimJay commented on #179
main.h
[code]

[2015-04-21 19:05] valeros commented on #179
Strange, I compiled your code without errors.
Could you show me full log, please?

[2015-04-21 19:19] TimJay commented on #179
[code]

[2015-04-21 19:49] valeros commented on #179
OK, I have reproduced this error on Ubuntu x64.
I will try to fix it tomorrow.

[2015-04-21 19:51] TimJay commented on #179
Great, thanks!

[2015-04-22 03:05] beriberikix commented on #175
Thanks for the detailed steps! When I tried installing the platform, I get an error (see below.) It appears as if the directory is not being discovered on my Mac. Do I need to add anything in addition to my $PATH?

[code]

[2015-04-22 10:48] valeros commented on #175
This bug fixed in platformio2_0 branch.
In stable 1.4.0, you need to modify one single line in the file `ststm32gdb.py`:
Please. replace line, `class Ststm32gdbPlatform(Ststm32Platform):` to
`class Ststm32GdbPlatform(Ststm32Platform):`

[2015-04-22 11:57] valeros commented on #179
To avoid breaking the stable release I have created individual branch for your case. Here are two required steps to use it:
1. Delete your previous version of PlatformIO:
`pip uninstall platformio`
2. Install new fixed version:
`pip install https://github.com/valeros/platformio/archive/feature/esp_newframework.zip`

[2015-04-22 13:25] ivankravets commented on #177
Thanks for the report. I've just fixed it and will release in [PlatformIO 2.0](https://github.com/platformio/platformio/issues/159).

If you want to try PlatformIO 2.0 now, then run the simple commands:
[code]

P.S: Don't forget to use ``--force/-f`` option before each PlatformIO command if you are going to use within IDE. For example, ``platformio --force run``. See #152.

Please report if it wor

[2015-04-22 14:02] beriberikix commented on #175
It installs! I'm so close, but I have 1 issue left (might be a general PlatformIO question.)

Using the [Blinky sample](https://s3.amazonaws.com/armstrap-public/examples/armstrap_blinkyexamples_1.0.0.zip) from Armstrap, I get a compile error that it cannot find the periperhal import, whether I place it in the libs folder or directly in the src (see below.) Suggestions? I didn't see an include sect

[2015-04-22 14:15] valeros commented on #175
Try this `platformio.ini`:
[code]

[2015-04-22 14:41] beriberikix commented on #175
Ah, makes sense! Got the success message. I will try uploading it tonight when I get home from work.

Thanks again.

[2015-04-22 15:22] TimJay commented on #179
Works nicely with the updated `~/.platformio/packages/arduino-espressif` installed and the default `platformio.ini`.
[DeepSleep hacked ESP-01](http://tim.jagenberg.info/2015/01/18/low-power-esp8266/) module now sleeps at 33microAmps :+1:

[2015-04-22 15:28] valeros commented on #179
Glade to hear that!
We will try to add full support for new framework as soon as possible.

[2015-04-22 19:18] ivankravets commented on #178
Could ask you to try upload firmware without ``--upload-port``? Like:
[code]

PlatformIO will automatically detect upload port.

[2015-04-22 19:41] WillemWillemWillem commented on #178
I have. Here's the command run twice without `--upload-port`:

    ford@FordPrefect:~/Documents/work/42tech/cbgb/arduino$ platformio run
    [Wed Apr 22 21:37:39 2015] Processing leonardo (targets: upload, platform: atmelavr, board: leonardo, framework: Arduino)
    --------------------------------------------------------------------------------
    BeforeUpload(["upload"], [".pioenvs/leonardo/fir

[2015-04-22 21:49] ivankravets commented on #178
It means that problem occurs from the 2-nd attempt to upload firmware?

[2015-04-22 22:24] WillemWillemWillem commented on #178
Correct. After the (Arduino) Leonardo has been written to by PlatformIO it not longer lists as a serial device at /dev/ for longer than half a second after connecting via USB. The Arduino IDE still manages to write to it in this short timeframe or somehow prevents the device from disconnecting from serial. PlatformIO doesn't detect the device or when timed right (plug in or reset the device a bit

[2015-04-22 22:42] ivankravets commented on #178
Thanks! I suppose where this issue maybe hidden. I've just created new branch-feature where we will try to resolve this issue. Please try this first build:
[code]

[2015-04-22 23:58] WillemWillemWillem commented on #178
No, sorry, this hasn't changed anything as far as I can see. To me it would seem that the problem is in the behavior of the Leonardo after having been flashed with PlatformIO, as it really does behave differently from the 'flashed by Arduino IDE"-way. Does PlatformIO upload firmware for the device aside from the code you give as an input? I'd suspect that to be the problem, but I'm pretty new to t

[2015-04-23 04:19] beriberikix commented on #175
Is this an SCons error?

[code]

[2015-04-23 07:13] valeros commented on #175
Please, try updated version ststm32dgb-builder.py:
https://gist.github.com/valeros/28d84a7a8f78825e6956

[2015-04-23 10:30] ivankravets commented on #178
Let's rephrase what do we have:

1. PlatformIO can upload firmware to Leonardo board if it was previously flashed by Arduino IDE?
2. See [Arduino IDE upload code](https://github.com/arduino/Arduino/blob/master/arduino-core/src/cc/arduino/packages/uploaders/SerialUploader.java#L107:L149) / [PlatformIO upload code](https://github.com/platformio/platformio/blob/develop/platformio/builder/tools/pioupl

[2015-04-23 10:38] ivankravets commented on #178
Could I ask to run this command when you connect Leonardo to USB:
[code]

PlatformIO uses this command to auot-detect available upload ports.

[2015-04-23 11:06] ivankravets opened #182 "Allow to specify environment prefix when initialise project"
[Request](https://github.com/platformio/platformio/issues/159#issuecomment-91299781) is made by @ajford:

----------

Implement ``--env-prefix`` option to ``platformio init`` command.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11859760-allow-to-specify-environment-prefix-when-initialise-project?utm_campaign=plugin&utm_content=tr

[2015-04-23 11:07] ivankravets commented on #159
@ajford Thanks, I've just opened an issue #182

[2015-04-23 14:32] WillemWillemWillem commented on #178
That seems correct, yes. However, I do not have a Mac, I run Lubuntu 14.04. I'll have a look at the sources, and yes, I've just installed TeamViewer so give me a sign when you have the time.

# Output after having been flashed with PlatformIO:
    ford@FordPrefect:~/Documents/work/42tech/cbgb/arduino$ platformio serialports list
    /dev/ttyS31
    ----------
    Hardware ID: n/a
    Description:

[2015-04-23 14:50] ivankravets commented on #178
@valeros pelase contact with @WillemWillemWillem and try to debug the Leonardo behaviour.

P.S: @WillemWillemWillem please email to valeros08@gmail.com.

[2015-04-23 15:36] beriberikix commented on #175
That did the trick @valeros! I know have BLINKENLICHTEN :low_brightness: :high_brightness: :low_brightness:

As an aside, the executable hangs until I forcibly quit  (see ^C in output below) and the firmware doesn't re-run when I power cycle the unit. I was having the same problem when I was using my Makefile, so I can take that issue back to the @armstrap Forum.

[code]

[2015-04-23 15:44] valeros commented on #175
Nice!
I made a small correction in ststm32dgb-builder.py:
`https://gist.github.com/valeros/28d84a7a8f78825e6956`
Can you test it?

[2015-04-23 16:02] beriberikix commented on #175
Ah, that makes sense. @ work but will try again tonight!

[2015-04-24 03:04] beriberikix commented on #175
No luck.

[code]

[2015-04-24 08:01] valeros commented on #175
About firmware re-run:
Can you try change the order of commands kill and run (at first kill debug session and than run program)?
```input=b"target extended-remote %s\nmonitor swdp_scan\nattach 1\nload\nkill\nrun\nquit" % env.subst("$UPLOAD_PORT"))[0]```

[2015-04-24 11:15] ivankravets opened #183 "Add mbed support for Teensy 3.1"
- [ ] Update ``framework-mbed`` with the latest development branch which supports ``TEENSY_3_1`` target
- [ ] Enable support for `mbed` framework within ``teensy.json`` for ``teensy31`` board
- [ ] Add ``[env:teensy31]`` to ``mbed-blink`` example

Ping @gandy92, @PaulStoffregen

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/11962531

[2015-04-24 11:21] beriberikix commented on #175
Just replace that in ststm32gdb-builder.py, right? Question - to update this file all I'm doing is deleting the *.pyc and re-runinng `platformio install ststm32gdb`. Is that right?

[code]

[2015-04-24 11:29] valeros commented on #175
Yes, just replace that line in ststm32gdb-builder.py
There is no need to delete .pyc files and reinstall platform.

[2015-04-24 11:33] beriberikix commented on #175
Same results as before.

[code]

[2015-04-24 14:33] valeros commented on #175
Let's try different approach.
Try this `ststm32gdb-builder.py`:
https://gist.github.com/valeros/28d84a7a8f78825e6956
Put the new file `upload.gdb` in your project folder (near platformio.ini) with this content:
[code]

[2015-04-24 20:31] thijse opened #184 "Unregister Libraries"
I'm splitting up a Github repository with multiple Arduino libraries in several repositories, each containing one library. I've registered these libraries (awaiting moderation), and I would like to unregister the old ones. Is there a way to do that?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/12009753-unregister-libraries?utm_cam

[2015-04-25 03:29] beriberikix commented on #175
Errors, though not very descriptive.

[code]

[2015-04-25 10:26] ivankravets commented on #184
Thanks! I've just pushed a few pull-requests to your repos. Could I ask you to merge them?

[2015-04-25 12:20] thijse commented on #184
Hi Ivan,

Thanks for your modifications! I've pulled in the documentation changes,
but I wonder: Want is the rationale behind excluding the *extras*
directories? I would really like to keep them: They contain the library
documentation. In the case of  CmdMessenger, the extra's folder also
contains the PC side code needed to have Arduino-to-PC communication.
Without this, the library would be almos

[2015-04-25 13:21] ivankravets commented on #184
PlatformIO Library Crawler stores library source code in the own storage. In this case, I prefer to keep just functional source code. Using ``exclude`` field allowed to re-pack original libraries to 20-50Kb for 90% cases.

If developer wants to read additional information about library, he can use  on-line Library Registry and navigate by library URL. However, I will add additional information for

[2015-04-25 18:03] armstrap commented on #175
When I run the `arm-none-eabi-gdb` from the command line,  `arm-none-eabi-gdb` asks me after the upload whether I want to "Start it from the beginning?".  Do you think this prompt is what it's hanging on?  See output below...

   GNU gdb (GNU Tools for ARM Embedded Processors) 7.6.0.20131129-cvs
   Copyright (C) 2013 Free Software Foundation, Inc.
   License GPLv3+: GNU GPL version 3 or later <htt

[2015-04-25 18:32] valeros commented on #175
Let's try upload with minimum set of commands:
[code]

[2015-04-25 18:56] beriberikix commented on #175
No errors this time, but no blinking. @armstrap I'm using the [standard sample](https://gist.github.com/beriberikix/07580e3dd98def9be4d2) - shouldn't the USER LED be toggling? After I flash it the LED just [stays solid](https://youtu.be/sc1EAVex2uc), no matter what value I pass into `delay()`.

[code]

[2015-04-25 20:20] valeros commented on #175
The board should be blinking.
I tried last `upload.gdb` with my discovery board and it works fine.
@armstrap
We run GDB in batch mode (without prompts), but it still hangs on `run` command execution.

[2015-04-26 01:50] armstrap commented on #175
@valeros Wouldn't the upload with minimum set of commands also include the confirmation to disconnect from the target?

monitor swdp_scan
attach 1
load
quit
yes

Here is my output:

GNU gdb (GNU Tools for ARM Embedded Processors) 7.6.0.20131129-cvs
Copyright (C) 2013 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software:

[2015-04-26 09:46] valeros commented on #175
GDB does not require confirmations in batch mode.
Here is my log:
[code]

[2015-04-26 12:57] armstrap commented on #175
@valeros You are correct!  Sorry about that.  I had to remove the `kill` command but running from the cli seems to upload (from an Ubuntu machine) on my end.  Do you have one of the armstrap boards to test?
[code]

Here is the output when I have the gdb `kill` command.  The upload was not success in this case (see below).

[code]

[2015-04-26 13:31] valeros commented on #175
@armstrap Unfortunately, I don't have any armstrap board, maybe @beriberikix can test it.

[2015-04-26 16:10] beriberikix commented on #175
@armstrap using togglebits fixed it! I originally downloaded it from the [Getting Started guide](http://docs.armstrap.org/en/latest/getting-started-eclipse-development-tools.html#download-and-installation.)

So to recap:
1. I'm using the `ststm32gdb.py`, `armstrap.json`& `armstrap_stm32_flash.ld` from [94838565](https://github.com/platformio/platformio/issues/175#issuecomment-94838565)
2. `ststm32

[2015-04-27 05:11] dave93cab opened #185 "Nucleo F411RE not running code correctly"
I have a nucleo F411RE, I have tried compiling/downloading files such as blink and my own code but the code does not appear to run correctly. Printf's only transmit first character and while(1) loop does not appear to be executed. Same programs compile and run fine with mbed online compiler.

Repeated on multiple computers with same results. compile/download to freescale freedom board works correc

[2015-04-27 08:03] thijse commented on #184
Hi Ivan,

Thanks! I will keep the extra's for now. If there comes an option to add a
documentation URL, I will leave the documentation on Github.

Furthermore: Great work on platformIO! package management will help to get
Arduino (and it's cousins) software development to the next level!

If I might make a few suggestions on where to go next:

   - Add a 1-click install version for windows, and ad

[2015-04-27 09:34] valeros commented on #185
Looks like mbed fixed this issue in new version. Can you test this firmware.bin with your board?
http://drp.io/f/Q11RtNlT

[2015-04-27 10:04] ivankravets commented on #184
``library.json`` has [url](http://docs.platformio.org/en/latest/librarymanager/config.html#url) field. Please use it.

   Arduino users in particular are often beginners in software development and
   many will get frightened by the steps they have to take now and it's CLI.

Could I ask you to open separate issue for it? I agree with you, we lost 50% potential users in the installation steps :(

[2015-04-27 13:12] dave93cab commented on #185
Hi,

I can try this later. I have the M10 firmware which is the latest from the mbed developer site. Do you mind posting the link to the fixed issue?

[2015-04-27 16:42] #175 closed

[2015-04-27 18:51] dave93cab commented on #185
Just loaded the .bin file. If it was the blink example it didn't work, LED1 is steady. I tried it on 2 different boards with the same result. Let me know if you need anything to help diagnose the issue.

[2015-04-28 17:37] valeros commented on #185
Yes, it's blink example. Could you please test this version:
http://drp.io/f/XyVcTlGp

[2015-04-28 22:08] dave93cab commented on #185
Hi valeros, I just tried that one and same result I'm afraid: the LED doesn't blink.

Dave

[2015-04-29 06:04] dave93cab commented on #36
I had the hang on updating paths on my work laptop earlier which may have some restrictions though I have full administrator privileges and was able to update $PATH manually.

Ivan,

I can get anything you need from that machine of you let me know what and how

[2015-04-29 12:16] ivankravets commented on #36
@dave93cab Have you tried to run ``cmd`` with Administrative privileges?

[2015-04-30 04:05] dave93cab commented on #36
Hi Ivan,

When I installed platformio and the script ran I just updated the PATH manually and installed with pip. It was only that I saw this issue I commented and I just tried the script on this laptop again, running cmd with administrator privileges and it hangs on the path step..

![image](https://cloud.githubusercontent.com/assets/11580510/7406195/0d13866a-eec4-11e4-8e91-219ad85815f1.png)

Let

[2015-04-30 10:43] ivankravets commented on #36
Does ``pip`` work for you? If yes, just install PlatformIO via:
[code]

[2015-04-30 13:39] dave93cab commented on #36
I got it installed fine, I just wanted to let you know that the issue @pelikhan reported with the script is not isolated to him only :)

[2015-04-30 15:10] ivankravets commented on #36
@dave93cab I got you! Sorry.

@valeros Please contact with @dave93cab and try to reproduce this error https://github.com/platformio/platformio/issues/36#issuecomment-67737594

[2015-04-30 19:53] ivankravets commented on #148
Andy, thanks! I got you now. I will implement ``use_libs`` in PlatformIO 2.0

[2015-05-02 18:07] cqql opened #189 "#includes in included files are not recognized"
Hi,
I wrote a wrapper for `Servo.h`

[code]

[code]

When I run `platformio run`, it does not recognize the `#include <Servo.h>` directive and so the `-I` switch for it is missing, when platformio calls avr-g++. I tracked it down to [this line](https://github.com/platformio/platformio/blob/5a162b634182b1cc185978d5381bce7a908a0c72/platformio/builder/tools/platformio.py#L241), but do not know SCons,

[2015-05-03 09:53] ivankravets commented on #189
Is this a typo in this line ``#include <Servo.>``? Try to replace it to ``#include <Servo.h>``

[2015-05-03 21:29] cqql commented on #189
No, sorry, that was just a typo on here. I created a [minimal environment](https://github.com/cqql/platformio-bug) to provoke a bug.

Running `platformio run` there produces the following output

[code]

[2015-05-03 21:39] laurentS opened #190 "subdirectories in /src - linker errors"
My project (on arduino) is structured in modules like:
[code]
in file1.h, I have `#include "shared/debug.h"` which worked until platformio auto-upgraded to 1.4.0 (not sure from which version it upgraded, I haven't run it in about a month), and I'm now getting a linker error when compiling:
[code]
(`debug_func` is in `shared/debug.h`)

I tried tweaking `build_flags` in `platformio.ini` but unless I

[2015-05-03 21:51] ivankravets commented on #189
@valeros Please re-test it. Thanks in advance!

[2015-05-04 10:00] valeros commented on #185
Hi @dave93cab !
Could you try this version, please?
http://bit.ly/1E8TxDA

[2015-05-04 12:23] dave93cab commented on #185
Valeros, that one worked great! Did you find the issue?

Thanks
Dave

[2015-05-04 16:50] valeros commented on #185
I almost got it.
Could you try firmwares from this archive, please?
http://bit.ly/1bsqLGQ
It will help me clarify the problem. Thanks!

[2015-05-04 17:03] dave93cab commented on #185
None of those worked

[2015-05-04 19:19] ivankravets commented on #189
@cqql Thanks for report. I've just reproduced it and will fix tomorrow.

[2015-05-05 11:59] #189 closed

[2015-05-05 12:01] ivankravets commented on #189
@cqql Please re-test it using [PlatformIO Development Version](http://docs.platformio.org/en/latest/installation.html#development-version).

Thanks in advance!

[2015-05-05 12:02] ivankravets commented on #184
If you have any questions don't hesitate to reopen this issue.

[2015-05-05 12:02] #184 closed

[2015-05-05 12:45] ivankravets commented on #190
Could I ask you to provide PlatformIO-based project where I can reproduce this issue?

Thanks in advance!

[2015-05-05 13:37] beriberikix commented on #160
What would be involved in adding one? I'm [playing around](https://github.com/ChibiOS/ChibiOS/blob/master/demos/STM32/RT-STM32F407-DISCOVERY/main.c) with @ChibiOS and it has 2 main parts - the RTOS and the HAL. Is the HAL considered a Framework while the RTOS is a library? Or is the RTOS a Platform?

[2015-05-05 14:48] ivankravets commented on #148
Resolved in https://github.com/platformio/platformio/commit/f001c087ec87e1a6cfc3a711e05ad0d8abd236a0

[2015-05-05 14:48] #148 closed

[2015-05-05 14:53] ivankravets commented on #160
We can implement @ChibiOS within PlatformIO like a `framework`. @ChibiOS supports different development platforms which is supported by PlatformIO too.

1. We should fix all issues for the new [1.5.0](https://github.com/platformio/platformio/milestones/1.5.0) release.
2. Need to finish work on [PlatformIO 2.0](https://github.com/platformio/platformio/issues/159).

@valeros How much efforts you nee

[2015-05-05 15:18] valeros commented on #160
I'm going to add ChibiOS when I have finished PlatformIO 2.0 features.

[2015-05-05 15:27] beriberikix commented on #160
:+1:

[2015-05-05 22:24] Hermiedapwdrman opened #191 "Confusing order in which the platformio.ini build_flags are passed to respective toolchains?"
Hello,

I am having an issue with the build flags when trying to configure the USB descriptors for the Teensy 3.1 board.  Specifically I want to access the HID Keyboard/Mouse/Joystick functionality included in the Teensy libraries.  These are contained within a preprocessor #if/#elif/#elif block determined by which value is defined during the compiler invocation.  E.g.

[code]
For the Teensy frame

[2015-05-06 10:11] ivankravets commented on #191
PlatformIO passes all `build_flags` to Scons ``env.MergeFlags(flags)``. Looks like it doesn't support `-Usymbol` option. I will contact with Scons developers and discuss it. If they say that `env.MergeFlags` doesn't parse `-U`, then I will implement own mechanism for this option.

[2015-05-06 15:15] ivankravets opened #192 "Allow to run project with `--project-dir` option without changing the current working directory"
Currently PlatformIO allows to run project from "CURRENT WORKING DIRECTORY". Need to allow to specify own path to project directory without changing the current working directory.

Example:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13314040-allow-to-run-project-with-project-dir-option-without-changing-the-current-working

[2015-05-06 19:59] cqql commented on #189
Now it works as expected.

Thanks a lot :)

[2015-05-07 17:13] #191 closed

[2015-05-07 22:12] TheNotary opened #194 "Feature: run --compile-only"
Is there an option to just see if the code compiles without flashing any chips?  This would be helpful for people who are testing what code does and doesn't get past the compile phase.

I hope I haven't overlooked an option to do this.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/13556678-feature-run-compile-only?utm_campaign=plug

[2015-05-08 05:57] valeros commented on #194
Hi @TheNotary!
`platformio run` builds your code.
`platformio run -t upload` flashes board with your firmware.

[2015-05-08 10:00] ivankravets commented on #194
Looks like you have created a project with enabled auto-uploading. Just disable ``target = upload`` in your `platformio.ini`.

[2015-05-08 15:21] laurentS commented on #190
Ok, after testing on simplified code, the problem seems to be that
`/src/shared` is in fact a symbolic link to `../other_directory` (I'm on linux).
if I move `other_directory` to `/src/other_directory`, there is no issue, even with the symbolic link.
The reason for the link is that I was sharing some code between two platformio projects.
I can live with it, so feel free to close the issue, but I w

[2015-05-08 15:23] TheNotary commented on #194
Ah, thanks, I knew I had to have been missing something.  I commented out the `target = upload` line in my platformio.ini file and can now commence further trial and error at learning type casting =)

[2015-05-08 15:23] #194 closed

[2015-05-08 15:37] ivankravets commented on #190
Could you provide real example and pack it to archive? I will look on it. Thanks,

[2015-05-08 15:39] laurentS commented on #190
yes, I just tried to upload here, but github doesn't like it, so I emailed you a tarball instead.
Hope it helps!

[2015-05-08 17:09] #190 closed

[2015-05-08 17:10] ivankravets commented on #190
Thanks a lot! I've just fixed it. Please install the latest development version http://docs.platformio.org/en/latest/installation.html#development-version

I will release new 1.5.0 in the next week.

[2015-05-08 17:18] laurentS commented on #190
Thanks Ivan! Brilliant work!

[2015-05-12 13:30] ncolomer opened #195 "How to include/use Arduino's standard libraries?"
Hello,

Referring to a previous comment [here](https://github.com/platformio/platformio-libmirror/issues/3#issuecomment-74431258), I still face a problem when I want to include an Arduino standard library, in my case, Arduino's `EEPROM.h` library.

I figured out that the library files are present in the platformio path `~/.platformio/packages/framework-arduinoavr/libraries/EEPROM/EEPROM.h`. I imag

[2015-05-12 14:30] valeros commented on #195
Hi @ncolomer!
Simple include like `#include <EEPROM.h>` should be enough.
Maybe you can provide build log or a simple project?

[2015-05-12 19:44] ncolomer commented on #195
Hi @valeros
Actually, it seems that the include only runs when it is written in the `main.cpp` file.
When I do the include in another (header) file, the following error appear:
[code]
Thus, a workaround should be to do all the includes in the main file (to explicitly tell platformio to add the libraries in the build I imagine), and repeat them in my headers/implem files, WDYT?

[2015-05-12 20:29] ivankravets commented on #195
PlatformIO scans for includes all source files "*.c, *.cpp, *.h".  It should work for you.

Could I ask you to share a simple project where I can reproduce this issue?

Thanks in advance!

With best regards, Ivan Kravets
- "Creative comes from talent, and never from knowledge" (c)
_________________________
http://www.ikravets.com

[2015-05-13 05:39] pelikhan opened #196 "no prompts please"
Please remove all blocking prompts from the command line. It breaks automation scenario easily.

I know there are various settings to disable but prompts are just a bad idea for a command line tool environment. If i wanted prompts, i'd be using an IDE.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14588109-no-prompts-please?utm_cam

[2015-05-13 09:11] ncolomer commented on #195
Hi @ivankravets :)
Sure, you can download the zipfile of the project directly from [here](https://dl.dropboxusercontent.com/u/22884360/WeatherMote.zip). Then, simply (un)comment the `#include <EEPROM.h>` line in the `main.cpp` file and run `platformio run` to see the problem.
Cheers,
Nicolas

[2015-05-13 13:16] ivankravets commented on #196
How about this issue https://github.com/platformio/platformio/issues/152 ?

Do you recommend to disable prompts by default?

[2015-05-13 13:34] ivankravets commented on #195
Thanks! This bug is fixed in the latest ``develop`` branch. You can try it via http://docs.platformio.org/en/latest/installation.html#development-version

P.S; I'm going to release 1.5.0 this week, where this issue will be fixed.

[2015-05-13 13:34] #195 closed

[2015-05-13 13:36] ivankravets commented on #195
This is a duplicate of https://github.com/platformio/platformio/issues/189

[2015-05-13 15:33] ncolomer commented on #195
Great! Thanks a lot @ivankravets @valeros :)

[2015-05-13 22:26] pelikhan commented on #196
It should be the default. Prompts  might not occur during development time but happen later on the production server due to an update.

[2015-05-13 22:27] pelikhan opened #197 "declare library dependencies in platformio.ini"
We should be able to list the dependent library ids in the platformio.ini file so that the ``platformio run`` could automatically install/update those libraries.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14729165-declare-library-dependencies-in-platformio-ini?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&u

[2015-05-14 13:47] WillemMali commented on #178
The issue's solved, uploads work without resets now. There were two problems:

* Not using Arduino.h in my project, which lists the Arduino Leonardo as a serial device. Without Arduino.h the Arduino Leonardo will still register as a serial device, but will disconnect less than a second after connecting/resetting.
* A bug in PlatformIO making a reset of the Arduino Leonardo required during upload,

[2015-05-14 14:40] ivankravets commented on #197
Please look into [PlatformIO 2.0](https://github.com/platformio/platformio/issues/159)

That request has been implemented in https://github.com/platformio/platformio/issues/134

[2015-05-14 14:47] #197 closed

[2015-05-14 15:07] #178 closed

[2015-05-14 20:16] #183 closed

[2015-05-14 20:54] ivankravets commented on #185
Fixed in https://github.com/platformio/platformio/commit/4ce09f1d4330f9da482c8111ce6451d14f2b081a

[2015-05-14 20:54] #185 closed

[2015-05-14 21:10] dave93cab commented on #185
Great, I will give this another go later :)

[2015-05-14 21:12] ivankravets commented on #185
I'm going to release 1.5.0 within 1 hour. Please upgrade your current version of PlatformIO to stable and retest.

Thanks in advance!

[2015-05-14 21:26] ivankravets commented on #196
I'm not sure that we should link "prompts" with "IDE". We have a lot of console utilities where prompts are used, like ``rm`` with ``--force`` option. Prompts are good for PlatformIO because the allow:

1. Initialise new project with a few questions as for correct project directory, use/or not use automatic uploading and etc.
2. Allow to paginate via search result form ``platformio lib search`` co

[2015-05-14 21:28] pelikhan commented on #196
Ok will add force. I find prompts in all command lines utterly annoying, I guess that's just me :)

Sent from Outlook<http://taps.io/outlookmobile>

On Thu, May 14, 2015 at 2:26 PM -0700, "Ivan Kravets" <notifications@github.com<mailto:notifications@github.com>> wrote:

I'm not sure that we should link "prompts" with "IDE". We have a lot of console utilities where prompts are used, like rm with --

[2015-05-14 21:32] ivankravets commented on #196
I hope you will like PlatformIO 2.0 :smile: Thanks a lot for your ideas and interest.

[2015-05-14 21:32] #196 closed

[2015-05-15 13:23] #152 closed

[2015-05-15 13:23] #158 closed

[2015-05-15 13:23] #167 closed

[2015-05-15 13:23] #168 closed

[2015-05-15 13:23] #171 closed

[2015-05-15 13:23] #177 closed

[2015-05-15 13:23] #108 closed

[2015-05-15 13:23] #134 closed

[2015-05-15 13:23] #182 closed

[2015-05-15 13:23] #192 closed

[2015-05-15 14:25] ccaroon opened #202 "Integration with Blynk library"
When trying to compile one of the Blynk (blynk.cc) simple examples I get the following error. The odd thing is that I can't figure out why `platformio` is trying to use the EngduinoSD library in the first place

[code]

Compile Error:

avr-g++ -o .pioenvs/autogen_tinyduino/EngduinoSD/EngduinoSD.o -c -fno-exceptions -fno-threadsafe-statics -g -Os -Wall -ffunction-sections -fdata-sections -MMD -mmcu

[2015-05-15 16:42] ivankravets commented on #202
PlatformIO Library Finder lookups for libs in alphabetical order. "EngduinoSD" contains SPI.h file, which was detected automatically. In your case you need to ignore EngduinoSD library, then PlatformIO Library Finder will use core <SPI> lib.

Please look into http://docs.platformio.org/en/latest/projectconf.html#ignore-libs

Did it help you?

With best regards, Ivan Kravets
- "Creative comes from

[2015-05-15 19:14] ccaroon commented on #202
Yes, so adding the `ignore_libs` works to get me past the issue. Thanks, I had not seen that setting.
However, I don't understand your comment about SPI.h being part of EngduinoSD.

SPI looks to be a separate library. Here my list of libs. You'll notice SPI toward the end of the second line.

$HOME/.platformio/packages/framework-arduinoavr/libraries:
[code]

[2015-05-15 19:57] ivankravets commented on #202
Give me please a list of files from this directory ``$HOME/.platformio/packages/framework-arduinoavr/libraries/EngduinoSD``

[2015-05-16 01:46] ccaroon commented on #202
[~/.platformio/packages/framework-arduinoavr/libraries]>ls -R EngduinoSD/
EngduinoSD/:
keywords.txt*  library.properties*  src/

EngduinoSD/src:
EngduinoSD.cpp*  EngduinoSD.h*  File.cpp*  README.txt*  SD.cpp*  SD.h*
utility/

EngduinoSD/src/utility:
FatStructs.h*  Sd2Card.cpp*  Sd2Card.h*  Sd2PinMap.h*  SdFat.h*
SdFatmainpage.h*  SdFatUtil.h*  SdFile.cpp*  SdInfo.h*  SdVolume.cpp*

On Fri, May 15,

[2015-05-16 19:20] nicc777 opened #203 ""undefined reference" issue"
Hi - I'm very rusty with the coding side, so please take that into consideration :-)

I am testing platformio with the examples from the SparkFun Inventors Kit. I am stuck on example 6 (photo resistor example).

I get the following error when I do `$ platformio run`:

    .pioenvs/autogen_sparkfun_redboard/src/circuit6.o: In function `manualTune':
    /home/user/PlatformIO_Projects/Sparkfun_Redboa

[2015-05-17 15:48] beriberikix opened #204 "Add Armstrap variations as available boards"
I'm not sure if there is an automated process to upload boards to the central repository, but it would be great to have the @armstrap on there (as specified in https://github.com/platformio/platformio/issues/175#issuecomment-94838565.) Note that there are [3 variations](http://docs.armstrap.org/en/latest/hardware-overview.html#armstrap-eagle) of with differently-sized on-chip memory.

<bountysourc

[2015-05-18 13:14] ivankravets commented on #203
``long map(long x, long in_min, long in_max, long out_min, long out_max)`` function is located in ``WMath.cpp`` of Arduino Core. However, you are trying to use this function from ``*.c`` file. Please re-name your file to ``*.cpp`` or to ``.ino``. Like:

[code]

[2015-05-18 13:15] #203 closed

[2015-05-18 14:14] #204 closed

[2015-05-18 14:17] ivankravets commented on #204
You can try new boards with PlatformIO 2.0a1 using http://docs.platformio.org/en/latest/installation.html#development-version

[2015-05-18 14:54] ivankravets commented on #202
PlatformIO tries to build library which has been detected by PlatformIO Library Dependency Finder (PLDF). You use [Blynk](http://platformio.org/#!/lib/show/415/Blynk) library which requires ``SD.h`` in https://github.com/blynkkk/blynk-library/blob/master/WidgetSD.h

Nevertheless, PLDF analyses libraries in alphabetical order and ``EngduinoSD`` was automatically picked up (no ``SD``). Please look i

[2015-05-18 15:00] nicc777 commented on #203
Works perfectly now! Thanks!

[2015-05-18 15:07] ivankravets commented on #202
@valeros Please rename all "Engduino" libraries to ``ZZ_Engduino*`` and re-pack Arduino framework. Also, please report here when it will be done and ask @ccaroon to make ``platformio update`` and re-test it.

Thanks in advance!

[2015-05-18 15:25] valeros commented on #202
I updated framework. @ccaroon Please, try new version.

[2015-05-19 13:55] ccaroon commented on #202
I updated and the problem is fixed.

However, it's still not clear to me why the Engduino code is being picked up and trying to be built. The Blynk code, as far as I can tell, does not depend on or use Engduino code.

Thanks again for your help and attention to this matter.

[2015-05-19 18:45] ivankravets commented on #202
@ccaroon please read my comment above. As I mentioned, ``Blynk`` library uses ``SD.h`` in https://github.com/blynkkk/blynk-library/blob/master/WidgetSD.h

``SD`` is native library from Arduino Framework. However, ``EngduinoSD`` had more higher priority (letter E < S, order). Now, ``EngduinoSD`` has been renamed to ``ZZ_EngduinoSD`` and has more lower priority before all native libraries.

[2015-05-20 14:27] gandy92 opened #208 "Inconsistency with src_dir"
My `platformio.ini` declares two environments dealing with seperate src directories:
[code]
Now, if I try to compile with `platformio run -e swap` the output starts with
[code]
(note the "`src_dir: src-swap`").

Compilation however fails, because none of the files in `src-swap` are copied to the `.pioenvs/swap` directory.

Manually copying the contents from `src-swap/` to `src/` helps compiling, b

[2015-05-20 17:27] ivankravets commented on #208
`src_dir` is available for `[platformio]` section, but not for `[env:***]`.

If you have different source code per environment then you have different projects. The main idea of build environments is to build the same code with the different platforms/boards

[2015-05-20 18:26] gandy92 commented on #208
Agreed. In that case, I have a different problem:

The two environments are used to build the same project for a panstamp board with support for different RF protocols:
* one is provided by the swap library shipped with the panstamp-avr framework
* the other is provided by lib 179 (NewAskSin) and requires to build without the panstamp-avr framework since NewAskSin provides files that have identica

[2015-05-20 19:07] ivankravets commented on #208
How about first solution with `#ifdef` and `ignore_libs` per environment?

[2015-05-21 09:59] #202 closed

[2015-05-21 17:22] gandy92 commented on #208
Wow, thanks! I completely missed that, but of course, this works elegantly well :smile:

I'll have to read the changelog of the last two releases to see what else I missed, the last few weeks were just too busy...

[2015-05-21 17:22] #208 closed

[2015-05-22 07:52] ivankravets commented on #208
We are working on PlatformIO 2.0. It's ready on 99%. I hope that I release it in the nearest days :)

[2015-05-22 15:50] ivankravets commented on #179
Resolved in PlatformIO 2.0.0

[2015-05-22 15:50] #179 closed

[2015-05-22 16:08] #151 closed

[2015-05-23 13:38] madhead opened #210 "Missing include folder in Eclipse IDE?"
First of all, I want to say thank you for this awesome project. I came from Java and using Eclipse is much more convenient for me then Arduino IDE.

I'm using platformio to program my Arduino Uno, so, I generate project with `platformio init --ide eclipse --board uno`. In this case default "include path" in Eclipse contains two platform-specific directories:

+ `/home/madhead/.platformio/packages/

[2015-05-23 13:41] ivankravets commented on #159
PlatformIO 2.0 is out! https://github.com/platformio/platformio/releases/tag/v2.0.0

[2015-05-23 13:41] #159 closed

[2015-05-23 13:43] ivankravets commented on #210
Thanks a lot for the feedback! :+1:

Yes, this is bug or maybe, missed feature. I will add ``includes`` from toolchains to exported paths in 2.0.1 release.

[2015-05-23 19:20] apvanzanten opened #211 "Using C++ with the STM32F4 Discovery causes linker errors, what am I doing wrong?"
I've created a project using the **platformio init --board=disco_f407vg** command, and then proceeded to write a main.cpp. Everything seemed to work fine at first but when I try to use **new** or **delete** I get linker errors. Specifically I have a line **int * testInt = new int;** which then causes **main.cpp:12: undefined reference to `operator new(unsigned int)'** (where line 12 is the line co

[2015-05-23 23:08] beriberikix commented on #204
I got this working with the stable 2.0. However, I still needed to include an upload.gdb and add the gdb protocol to the `.ini.` Is that as expected?

https://github.com/beriberikix/armstrap-gcc-barebones/commit/9648df3e1ac9bbe45b7d1ba14c2306c3f23ba03d

[2015-05-24 14:08] ivankravets commented on #204
Yes, it's normal behavior of PlatformIO. This approach allows you to make own GDB commands list.

With best regards, Ivan Kravets
- "Creative comes from talent, and never from knowledge" (c)
_________________________
http://www.ikravets.com

[2015-05-24 15:26] ivankravets opened #212 "Update package for Arduino framework to 1.6.4"
Subj. Sync with SF.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17301656-update-package-for-arduino-framework-to-1-6-4?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_m

[2015-05-24 15:48] #212 closed

[2015-05-25 09:54] #211 closed

[2015-05-25 09:54] valeros commented on #211
Hello @apvanzanten.

I have updated ldscript for stm32f4, so now you can use PlatformIO develop branch or stable 2.0.0 with this `platformio.ini:`
[code]

[2015-05-25 09:57] apvanzanten commented on #211
Sweet, thanks for the quick fix! :+1:

[2015-05-25 15:18] gandy92 opened #214 "teensy arduino linking problem after upgrade to PIO2.0"
Since upgrading to 2.0, I get an error when compiling a project for teensy3.1-arduino:

'''
../lib/gcc/arm-none-eabi/4.8.3/../../../../arm-none-eabi/bin/ld: cannot open linker script file /home/andy/.platformio/packages/ldscripts/mk20dx256.ld: No such file or directory
collect2: error: ld returned 1 exit status
scons: *** [.pioenvs/teensy31/firmware.elf] Error 1
'''

already deleted .pioenv and ev

[2015-05-25 15:36] valeros commented on #214
Hi @gandy92

It seems ldscript package has been updated incorrectly.
This file `mk20dx256.ld` should be in this directory: `/home/user/.platformio/packages/ldscripts`
If it's not there, try to update your packages via `platformio update`.
If this does not help, delete your `appstate.json` file from `/home/user/.platformio` and install teensy platform again.

[2015-05-25 18:20] gandy92 commented on #214
Thanks, that helped - apparently, a few file permissions in ~/.platformio/packages got corrupted during a previous `sudo platformio upgrade`. After fixing the file permissions, deleting the appstate.json file and installing teensy platform during the next `platformio run`, my build system is back to normal.

[2015-05-25 18:32] ivankravets commented on #214
@gandy92 Im glad to hear you! :blush:

Since PlatformIO 2.0 each upgrade operation to the new version will force ``platformio platforms update`` automatically. It should allow to avoid the similar problems like yours.

[2015-05-25 18:48] ivankravets opened #215 "Update IDE pictures in docs with "forced" run command"
* http://docs.platformio.org/en/latest/ide/qtcreator.html
* http://docs.platformio.org/en/latest/ide/visualstudio.html

See https://github.com/platformio/platformio/commit/bcf0cc26aa5ea94bb981f79a054d0454ad292db9

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17625787-update-ide-pictures-in-docs-with-forced-run-command?utm_campaign=

[2015-05-25 19:08] gandy92 commented on #214
I'm not sure but I gather the problem was a `sudo platform upgrade` which not only upgraded platformio in /usr/local/ with root permissions, but also updated libs and packages residing in $HOME/.platformio with root permissions. This left some of the files (including packages/ldscripts) owned by root instead of myself, making it impossible to update the files or even whole subdirectories without `

[2015-05-25 20:33] #210 closed

[2015-05-25 20:33] #214 closed

[2015-05-25 20:37] ivankravets commented on #214
I've just fixed it. PlatformIO will not run updating process for the packages/libs when user runs ``platformio upgrade`` command.

P.S: Since PlatformIO 2.0 automatic library/package updates were disabled by default.

[2015-05-25 20:53] gandy92 commented on #214
Perfect, thanks! :+1:

Must have happened some while ago. I remember having encountered problems during some updates but each time, rerunning `platformio update` appeared to resolve the problem. Now, in retrospect, what really might have happened was that the appstate.json was updated without the complete update ever happening.

[2015-05-25 20:56] ivankravets commented on #214
@gandy92 what do you thing about new feature [Continuous Integration](http://docs.platformio.org/en/latest/ci/index.html) in PlatformIO 2.0?

See examples:
* https://travis-ci.org/felis/USB_Host_Shield_2.0
* https://travis-ci.org/ivankravets/Arduino-IRremote

[2015-05-25 21:15] ncolomer opened #216 "Arduino lib no more resolved after update to v2"
Hi there!

I just updated platformio to the brand new v2 (thanks for this release!) and tried the cool `init --ide eclipse` feature.
But it appears that libs such as `avr/io.h` or `stdlib.h` (included in `Arduino.h`) are no more resovled by eclipse (even after clean / rebuild), resulting in build error in the IDE whereas CLI build is running well.

See following picture:
![issue](https://dl.dropbo

[2015-05-25 21:20] ivankravets commented on #216
I know it, thanks. Please add ``__AVR_ATmega328__`` symbol.
![Eclipse+PlatformIO](http://www.ikravets.com/wp-content/uploads/2014/06/eclipse_setup_project_symbols.png)

More details here http://www.ikravets.com/wp-content/uploads/2014/06/eclipse_setup_project_symbols.png

P.S: I'll fix it tomorrow.

[2015-05-26 05:35] ncolomer commented on #216
As usual, thanks for your quick answer @ivankravets :)

It seems this is not enough to fix the issue, even after clean/rebuild the project from ide and from CLI, plus restarted eclipse.

![screenshot](https://dl.dropboxusercontent.com/u/22884360/screenshot2.png)

I also re-checked your blog post and it seems a directory was also missing: `${HOME}/.platformio/packages/toolchain-atmelavr/avr/include

[2015-05-26 09:18] ivankravets commented on #216
Thank you too for the report and retweets!!! :+1:

This issue was fixed in #210

This symbol is required for ``Serial`` and etc lib. Basing on MCU framework detects how much UARTs device has. I'll fix it in 2.0.1 release.

[2015-05-26 10:59] #216 closed

[2015-05-26 15:36] BluDotz opened #217 "platformio failing with --ide eclipse"
I am trying to create a project for use with the Eclipse IDE, and am using the command "platformio init --ide eclipse". However, this generates the following error output and the command comes to a grinding halt....

Error: Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/platformio/__main__.py", line 75, in main
    cli(None, None)
  File "/Library/Python/2.7/site-pack

[2015-05-26 15:41] ivankravets commented on #217
Thanks for the report. I see this bug. The problem is caused by empty ``platformio.ini``. You don't have any environments specified in it. You can use ``platformio init --ide eclipse --board HERE_BOARD_TYPE`` or define environments manually.

P.S: I'm going to fix it now.

[2015-05-26 20:00] #217 closed

[2015-05-27 04:16] zlalanne commented on #147
@valeros Are you working on this currently? I can help out...

[2015-05-27 18:07] eliasse opened #219 "File nano.specs missing when compiling for DUE/atmelsam on BeagleBone Black / RPi"
Hello,

First, thank you for an incredible tool!

I am trying to compile code for an Arduino DUE on a BeagleBone Black. The code compiles fine using PlatformIO on my Linux Mint machine.

___________________________________________
arm-none-eabi-g++ -o .pioenvs/autogen_due/firmware.elf -Os -Wl,--gc-sections,--relax -mthumb -mcpu=cortex-m3 --specs=nano.specs -Wl,--entry=Reset_Handler -Wl,--start-gro

[2015-05-27 18:26] ncolomer opened #220 "C/C++ std libs no more resolved by Eclipse IDE"
The standard C/C++ libraries include are no more resolved by Eclipse CDT IDE after initializing the project with `platformio init --ide eclipse` (eg. `stdarg.h`, `stdbool.h` or `stddef.h`).

It seems to be a regression since I did not face the problem when settings the project configuration manually according to @ivankravets [blog post](http://www.ikravets.com/computer-life/programming/2014/06/20/

[2015-05-27 21:19] #220 closed

[2015-05-27 21:21] ivankravets commented on #220
Thanks again for the report :+1: . Please try the latest build http://docs.platformio.org/en/latest/installation.html#development-version

Did it help you?

[2015-05-29 11:09] ncolomer commented on #220
Hi @ivankravets, a9a9545 fixed the issue, thanks!

[2015-05-29 12:34] ncolomer opened #221 "Upload to Arduino embedded custom board"
I have build a custom board powered with an `atmega328p`. Currently, I program it over ISP by uploading platformio's generated `.hex` file via an USBasp v2 clone and [AVRFuses](http://www.vonnieda.org/AVRFuses/) software.

I'm looking for doing the upload task directly via platformio using the `upload` target. I saw in the [Project Configuration File `platformio.ini`](http://docs.platformio.org/en

[2015-05-29 14:47] #219 closed

[2015-05-29 14:48] ivankravets commented on #219
@eliasse please install [development version of PlatformIO](http://docs.platformio.org/en/latest/installation.html#development-version) and update existing packages via ``platformio platforms update``.

Did it help you?

[2015-05-29 14:51] valeros commented on #221
Hi @ncolomer !

Your board is similar to Ardino Uno, so just try to add `board = uno` in your `platformio.ini`:

[code]

[2015-05-29 15:43] eliasse commented on #219
Yes, it works!

Thanks for your help.
I still have a linker problem but I might create a separate issue for that if I can't figure it out myself.

[2015-05-29 15:45] ivankravets commented on #147
@zlalanne Please check your email, @valeros has sent a message with detailed information.

Thanks in advance!

[2015-05-29 15:47] ivankravets commented on #219
If your linker problem isn't linked with the current issue and "nano.specs", please create separate issue.

Thanks in advance!

[2015-05-29 17:33] ivankravets commented on #221
@ncolomer please upgrade PlatformIO to ``2.0.3.dev1`` from development branch and test with this ``platformio.ini``:
[code]

P.S: Thanks a lot for your reported issues. It allows us to improve PlatformIO.

[2015-05-29 18:47] eliasse opened #222 ""undefined reference" linker error when compiling for Arduino DUE on BeagleBone Black"
Hello again,

Not surprisingly, I can't manage to solve this linker error on my own.
I get the same error if I compile in OS X, but not in Linux Mint (both 64bit).
_______________________
arm-none-eabi-g++ -o .pioenvs/autogen_due/firmware.elf -Os -Wl,--gc-sections,--relax -mthumb -mcpu=cortex-m3 -Wl,--entry=Reset_Handler -Wl,--start-group -T /home/debian/.platformio/packages/ldscripts/sam3x8e.ld .

[2015-05-29 19:26] #215 closed

[2015-05-29 19:43] ivankravets commented on #222
Temporary solution is to replace these lines 29-30 in ~/.platformio/packages/framework-arduinosam/cores/arduino/HardwareSerial.h` by
[code]

Need to add ``virtual`` keywords.

P.S: We are working on this issue. If we return ``virtual``, then you will have problem under ARMv(6,7).

[2015-05-29 19:44] ncolomer commented on #221
Thanks @valeros @ivankravets for your answers!

Well I really enjoy using platformio for my electronic projects since i'm also a dev and I know build tools are always welcome, especially when dealing with C/C++ and embedded stuff! PlatformIO simplify a lot of things and gives a clear and featureful framework for hobbyists like me. I really want to use it in all my projects... and give as much help

[2015-05-29 20:29] ivankravets commented on #221
Have you tried this?
[code]

[2015-05-30 05:08] ncolomer commented on #221
Nop :( The `usbasp-clone` upload protocol is correctly recognized but the error remains the same:

Full log output:
[code]

Here is the output when I use AVRFuses:

[code]

[2015-05-30 10:39] ivankravets commented on #221
Thanks, let's try a few variants:

a)
[code]
b)
[code]
c)
[code]
d)
[code]

All commands should be performed from project directory where ``platformio.ini`` is located.

[2015-05-30 18:43] jottr opened #224 "Add option to install library via git url."
I just ran into an issue where I found that the library I need for my project is not part of the library repository.
Since many libraries are available via github, it would be quite convenient if we could simply install those libraries like so: `platformio install https://github.com/path/to/library`
Updating libraries would be more concise as well, since we won't see that many manually installed l

[2015-05-30 19:04] ivankravets commented on #224
Dear @jottr,

You can install manually own libraries which are not listed in [PlatformIO Library Registry](http://platformio.org/#!/lib). Just copy them to the ``lib`` directory of the project or into [global PlatformIO Library Directory](http://docs.platformio.org/en/latest/projectconf.html#lib-dir).

[2015-05-30 19:16] jottr commented on #224
Yes I know. But to my understanding those would not be updated with `platformio lib update`.
Being able to install/update any library no matter their source with the library manager would be very convenient and would also remove mental overhead.

I.e. something similar as to what [Bundler](http://bundler.io/git.html) does.

[2015-05-30 19:30] ivankravets commented on #224
The problem is hidden in the structure of the repository. I don't know which files should be used like "library source code". In most cases, developers like to keep more then 1 library in the same repo. Embedded projects/repos are more complicated then "gem", "npm", "pip" or etc packages, because they are already well-structured.

Yes, I can allow you to install/update/manage libraries directly vi

[2015-05-30 19:36] jottr commented on #224
Very interesting. I was not aware of this fact, so thank you for explaining. So let's hope that many people start adding `library.json` to their repos.

[2015-05-30 19:40] ivankravets commented on #224
We're working on the automation scripts which generate ``library.json`` for the popular libraries. If you like PlatformIO you can help us with it. See https://github.com/platformio/platformio-libmirror/tree/master/scripts

Please contact with @gandy92

[2015-05-30 19:40] #224 closed

[2015-05-31 11:34] lekum opened #225 "Error linking: multiple definition of `__ltsf2'"
Hi,

I'm using platformio 2.0.2 on armv6 (raspberry pi) with Arch Linux installed.

I can compile and upload the basic blink sketch, but when I try with a more complex sketch like this [one](https://github.com/lekum/pyduino/blob/master/pyduino_sketch.ino) I get this error when trying to link:

[code]

The platform target is atmealvr (for Arduino Uno).

Thanks!

<bountysource-plugin>
---
Want to ba

[2015-06-01 08:32] eliasse commented on #222
I see!
I'll stay updated. I'm working on an autonomous surface vehicle project that will use an Arduino DUE
as autopilot and a BeagleBone or RPi as intelligence, so it would be very convenient to have an easy way of reprogramming the DUE remotely.

Great work :)

[2015-06-01 14:19] ncolomer commented on #221
(sorry for the delay) Here are the output of commands

a) is ok
[code]

b) is ok
[code]

c) is ko
[code]

I don't really explain why, line 999 seems ok:

[code]
"/usr/local/Cellar/avrdude/6.1/bin/avrdude" -v -c usbasp-clone -p ATmega328P -U flash:w:.pioenvs/WeatherMote_v01/firmware.hex:i                                                                    1 ↵

avrdude: Version 6.1, compiled on May 1

[2015-06-01 14:31] ivankravets commented on #221
Thanks a lot!

Could you try new ``develop``? (2.0.3.dev2)

[2015-06-01 16:29] valeros commented on #225
Hi @lekum!

I updated `toolchain-atmelavr` for ARMv6.
Can you test it, please?

[2015-06-01 21:38] lekum commented on #225
Now it works, with the newest version of `toolchain-atmelavr`. Thanks!

[2015-06-01 21:38] #225 closed

[2015-06-02 00:12] beriberikix commented on #160
Is the work for 2.0 complete? Would love to migrate my current chibi project to use PlatfromIO :)

[2015-06-02 08:50] ivankravets commented on #160
@beriberikix yes, 2.0 is released, but we are working on polishing (improvements/bug fixes) :blush:

See our milestones https://github.com/platformio/platformio/milestones.

[2015-06-02 09:28] ivankravets opened #226 "Add Silicon Labs EFM32 development platforms"
- [x] update mbed framework (@valeros)
- [x] upload appropriate data to PlatformIO Storage (@valeros)
- [ ] update documentation, including PlatformIO Web (@ivankravets)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19699878-add-silicon-labs-efm32-development-platforms?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=is

[2015-06-02 14:07] #226 closed

[2015-06-02 15:08] valeros commented on #222
Hi @eliasse!

I updated toolchain for `atmelsam` platform, but only ARMv7 version, so your project should work on BeagleBone board.

[2015-06-02 18:07] ncolomer commented on #221
`2.0.3.dev2` did the trick! Following is the `platformio run -t upload` output:

[code]

[2015-06-03 15:48] ivankravets commented on #221
Thanks! :+1:

[2015-06-03 15:48] #221 closed

[2015-06-03 22:23] middelink opened #228 "Support espressif other modules too."
Espressif allows one to add different sizes flash to a module, so being able to set the memory size _is_ pretty useful. Especially in light of the fact the current libat.a requires 1 MB flash or better. Sadly platformio has various hardcoded places where it uses 512 MB.

Also, dropping esp8266.flash.512k.ld in platformio/packages/ldscripts seems awkward as  platformio/packages/framework-arduinoesp

[2015-06-04 12:03] ivankravets commented on #228
Dear @middelink

You can create/duplicate own board with the specified settings. Please look into documentation: http://docs.platformio.org/en/latest/platforms/creating_board.html

Here is original version of board config: https://github.com/platformio/platformio/blob/develop/platformio/boards/espressif.json

If you create board with the same type, it will redefine built-in data for this board.

P

[2015-06-06 12:19] ivankravets opened #229 "Avoid "LibInstallDependencyError" when more then 1 library is found"
Need to ask user via prompt which dependent lib should be installed.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20731165-avoid-libinstalldependencyerror-when-more-then-1-library-is-found?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.boun

[2015-06-06 13:41] #229 closed

[2015-06-06 14:43] pelikhan commented on #229
No prompts!

Sent from Outlook<http://taps.io/outlookmobile>

On Sat, Jun 6, 2015 at 5:19 AM -0700, "Ivan Kravets" <notifications@github.com<mailto:notifications@github.com>> wrote:

Need to ask user via prompt which dependent lib should be installed.

-
Reply to this email directly or view it on GitHub<https://github.com/platformio/platformio/issues/229>.

[2015-06-06 14:56] ivankravets commented on #229
@pelikhan Maybe, this is the most annoying feature in PlatformIO for you :smile: These prompts...

Nevertheless, please look [into code](https://github.com/platformio/platformio/commit/3b7ad2d3338c5a1cb5aa82198829be499ef4c512#diff-86ad8f7e8aafa191f30dab69b84f4736R147):
[code]

If you can see, the prompts wont be used if 1 dependent library was found. If more then 1(this is conflict), then I have t

[2015-06-06 19:35] pelikhan commented on #229
In doubt, you should fail if --force is used.

Sent from Outlook<http://taps.io/outlookmobile>

On Sat, Jun 6, 2015 at 7:56 AM -0700, "Ivan Kravets" <notifications@github.com<mailto:notifications@github.com>> wrote:

@pelikhan<https://github.com/pelikhan> Maybe, this is the most annoying feature in PlatformIO for you [:smile:]  These prompts...

Nevertheless, please look into code<https://github.c

[2015-06-07 03:21] divanchykhin opened #230 "Esuring that there is no 'main()' function in user's code when compiling for Arduino"
Arduino provides its own staff including their own 'main()' function. If user's code happens to have a 'main()' function, too, it can be silently used by a compiler instead of one from Arduino thus producing undesired result. As a potential solution it might be good, in case of Arduino (or, more generally, in case of any framework providing its own code) to check whether user-defined code has a 'm

[2015-06-08 14:46] venusshum opened #231 "Engduinov3: automatically detect upload port using VID/PID board settings"
Currently we need to import the upload port manually by using --upload-port option. Would be nice to have automatic COM port detection.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20988970-engduinov3-automatically-detect-upload-port-using-vid-pid-board-settings?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&u

[2015-06-08 14:51] venusshum opened #232 "Need to press RESET button to upload"
E:\01-Development\SVN\Engduino-3rd-party\MatlabSupport\Protocol>platformio run
[06/08/15 15:48:31] Processing engduinov3 (targets: upload, platform: atmelavr,
board: engduinov3, framework: arduino)
-------------------------------------------------------------------------------
BeforeUpload(["upload"], [".pioenvs\engduinov3\firmware.hex"])
Auto-detected UPLOAD_PORT: COM4
scons: *** [upload] Explici

[2015-06-08 20:02] #231 closed

[2015-06-08 20:03] ivankravets commented on #231
Please re-test it in ``develop`` version of PlatformIO: http://docs.platformio.org/en/latest/installation.html#development-version

Did it help you?

[2015-06-08 20:05] ivankravets commented on #232
I hope that this issue was fixed in https://github.com/platformio/platformio/commit/f868c64d819a660791fc5e14862b0dee7d8c219e.

Please re-test it in ``develop`` version of PlatformIO: http://docs.platformio.org/en/latest/installation.html#development-version

Did it help you?

[2015-06-08 20:15] venusshum commented on #232
It works. Thanks ☺

Would I be notified when it moves to the release version please?

From: Ivan Kravets [mailto:notifications@github.com]
Sent: 08 June 2015 21:05
To: platformio/platformio
Cc: Shum, Lamling Venus
Subject: Re: [platformio] Need to press RESET button to upload (#232)

I hope that this issue was fixed in f868c64<https://github.com/platformio/platformio/commit/f868c64d819a660791fc5e1

[2015-06-08 20:17] ivankravets commented on #232
I'm going to release PlatformIO 2.1.1 tomorrow and report here (you will be notified) :smile:

Thanks for the report! :+1:

[2015-06-08 20:17] #232 closed

[2015-06-10 09:57] ivankravets commented on #232
Dear @venusshum ,

PlatformIO 2.1.1 is released! https://twitter.com/platformio_org/status/608567598477942784

[2015-06-10 14:10] #153 closed

[2015-06-10 15:03] valeros commented on #228
Hi @middelink!

The easiest way is create new platform and board for your needs.
Detailed information about creating platform:
http://docs.platformio.org/en/latest/platforms/creating_platform.html
Detailed information about creating board:
http://docs.platformio.org/en/latest/platforms/creating_board.html

You can take the existing platform `espressif`  and board `esp01` with minimal changes:
Modi

[2015-06-10 15:14] valeros commented on #228
Please reopen this issue if you still have problems.

[2015-06-10 15:14] #228 closed

[2015-06-10 17:23] ivankravets opened #233 "Allow to specify own path to linker script (ld) using "build_flags" option"
Process `-Wl,-T%PATH_TO_LD_SCRIPT%` option from http://docs.platformio.org/en/latest/projectconf.html#build-flags

[2015-06-11 13:10] divanchykhin opened #234 "Hard-to-read colors in console on Winows"
More particularly, using cmd.exe on Windows 7 the following colors appeared:
![cmd](https://cloud.githubusercontent.com/assets/10775884/8107716/1f791728-1054-11e5-8f92-af7dbe410e9e.png)
(this might or might not be a problem specific to a particular installation)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/21508401-hard-to-read-co

[2015-06-13 17:31] aphelps opened #236 "Plugins for setting build options based on EEPROM contents?"
This is a request that may be pretty specific to my needs, but I figured I'd ask.

The devices I'm working on use a single board but may have a number of different configurations of hardware attached to them, and so I use compile switches to specify which libraries and such need to be compiled in, and I store the configuration in EEPROM.

Rather than needing a different environment in the platform

[2015-06-13 20:14] ctag opened #237 "RaspberryPi 2 (Raspbian) - atmelavr - Build Fails"
Hi,

I just learned about PlatformIO and I'm trying to use it to bridge the gap between my desktop and Raspberry Pi for an ATmega project. On my desktop the package installs and works brilliantly. It also installs on the RPi, but when I go to build the same project, I receive a build error.

Installing:
[code]

Building Project:
[code]
platformio.ini
[code]
I've also tried creating a virtualenv an

[2015-06-13 21:11] valeros commented on #237
Hi @ctag!
Please, try to install mpc library:
`sudo apt-get install libmpc-dev`

[2015-06-13 21:21] ctag commented on #237
@valeros,

After installing the `libmpc-dev` and `libelf1`, PlatformIO builds and uploads the project. Thank you!

[2015-06-13 21:21] #237 closed

[2015-06-14 10:27] ivankravets commented on #236
How about new option in ``[env:***]`` group name ``extra_script``? Here you can pass the path to own build script and make manipulation over building environment using [SCons](http://www.scons.org). See examples: https://github.com/platformio/platformio/tree/develop/platformio/builder/scripts

[2015-06-15 04:13] aphelps commented on #236
That could work.  Are those scripts ultimately what's called to do the building and uploading?  It looks like it to me as that's where avrdude actually seems to be called.

Looking at this I'd basically need to produce a modified version of atmelavr.py, and then the new extra_script option would be used to call my version rather than the built in one?  Or would it call extra_script first and then

[2015-06-15 12:05] ivankravets commented on #236
This can be replacement for " I'd basically need to produce a modified version of atmelavr.py". This is script will be called before firmware building, in this line: https://github.com/platformio/platformio/blob/develop/platformio/builder/tools/platformio.py#L61

It allows you to perform any changes on build environment and manipulate over uploading command and flags. To dump current environment p

[2015-06-16 19:43] mpd-dude opened #238 "stk500v2_command(): command failed"
Hi all,

when I perform a "platformio run --target upload"

the following error messages appeards:
avrdude: NOTE: "flash" memory has been specified, an erase cycle will be performed
To disable this feature, specify the -D option.
__avrdude: erasing chip__
__avrdude: stk500v2_command(): command failed__
avrdude done.  Thank you.
scons: *** [upload] Error 255

Inside my "platformio.ini" file I have

[2015-06-17 10:35] #238 closed

[2015-06-17 10:36] ivankravets commented on #238
Thanks for the report!

Please try development version http://docs.platformio.org/en/latest/installation.html#development-version

Did it help you?

[2015-06-17 17:18] mpd-dude commented on #238
Thanks a lot for the quick reply and the fix!

Yes, it fixed the problem and uploading is working again.

[2015-06-19 12:24] ivankravets opened #239 "Allow to launch extra script before firmware building/uploading processes"
Allow to launch extra script using [SCons](http://www.scons.org) software construction tool. For more details please follow to "Construction Environments" section of [SCons documentation](http://www.scons.org/doc/production/HTML/scons-user.html#chap-environments).

- [ ] Add new option ``extra_script`` to [platformio.ini](http://docs.platformio.org/en/latest/projectconf.html)
- [ ] Handle global e

[2015-06-19 12:29] #239 closed

[2015-06-19 12:32] ivankravets commented on #236
@aphelps Could I ask you to try new [development version of PlatformIO](http://docs.platformio.org/en/latest/installation.html#development-version) with ``extra_script`` feature? See #239.

[2015-06-19 20:42] ivankravets opened #240 "Allow to exclude/include source files from build process using filter"
Implement new option to build environment in [platformio.ini](http://docs.platformio.org/en/latest/projectconf.html#env-name) named ``src_filter``. This filter will consist of these templates:
* `+<PATH>` include template
* `-<PATH>` exclude template

Path MAST BE related from [src_dir](http://docs.platformio.org/en/latest/projectconf.html#src-dir). All filters will be applied in theirs order.

[G

[2015-06-21 17:20] hoosierEE opened #241 "--board=teensy31 fails on my Chromebook"
## Here's what I did:

1. `mkdir foo && cd foo`
2. `platformio init --board=teensy31` (answer prompts with `n`, then `y`)
3. write test file `src/src.ino` which contains:

[code]
4. `platformio run`

## Here's what I get

[code]

## More info

The above steps run with **SUCCESS** if I change `teensy31` for `nanoatmega328`.  My laptop is a Samsung 1st gen ARM Chromebook with Ubuntu 14.04.

[code]

[2015-06-21 17:23] ivankravets commented on #241
You need to install ``libmpc-dev`` package for Ubuntu:
[code]

[2015-06-21 18:32] hoosierEE commented on #241
No change after trying your suggestion.

[2015-06-21 18:44] ivankravets commented on #241
Can you try solution from here? http://stackoverflow.com/questions/19625451/cc1-error-while-loading-shared-libraries-libmpc-so-2-cannot-open-shared-objec

[2015-06-21 19:49] hoosierEE commented on #241
Tried all solutions listed, same result.  Thanks!

[2015-06-21 19:50] ivankravets commented on #241
@valeros, please help @hoosierEE

[2015-06-22 08:46] valeros commented on #241
Hi @hoosierEE !
Can you try to install only libmpc2:
`sudo apt-get install libmpc2`

[2015-06-22 12:06] #240 closed

[2015-06-22 13:49] hoosierEE commented on #241
I guess not:

[code]

Here's what I do have on `libmpc`:
[code]

`libmpc3` and `libmpc-dev` are already installed on my system.

[2015-06-22 13:56] valeros commented on #241
Do you have gcc package on your notebook?

[2015-06-22 14:02] hoosierEE commented on #241
Yep:
[code]

[2015-06-22 14:15] valeros commented on #241
Can you try to install this package:
http://ftp.de.debian.org/debian/pool/main/m/mpclib/libmpc2_0.9-4_armel.deb
`sudo dpkg -i libmpc2_0.9-4_armel.deb`

[2015-06-22 14:47] hoosierEE commented on #241
Here's what I get
[code]

[2015-06-22 14:47] hoosierEE commented on #241
Would it be possible to use libmpc3?

[2015-06-22 15:00] valeros commented on #241
Please, try the complete procedure:
[code]
This approach works fine on my cubieboard (armv7)

[2015-06-22 15:28] hoosierEE commented on #241
`======== [SUCCESS] Took 12.68 seconds =========`

That did it!  Thanks a bunch!

[2015-06-22 15:28] #241 closed

[2015-06-22 15:30] hoosierEE commented on #241
Also, I want to add that the response from collaborators on this issue has been amazing, you all should be proud of yourselves. :+1:

[2015-06-22 15:46] ivankravets commented on #241
Thanks you too! I've just added this issue to FAQ: http://docs.platformio.org/en/latest/faq.html#arm-toolchain-cc1plus-error-while-loading-shared-libraries

[2015-06-23 09:09] venusshum commented on #232
Hi, Ivan,

Do you have any documentation how platformio can be implemented as a web service please?

Many thanks.
Venus

From: Ivan Kravets [mailto:notifications@github.com]
Sent: 10 June 2015 10:57
To: platformio/platformio
Cc: Shum, Lamling Venus
Subject: Re: [platformio] Need to press RESET button to upload (#232)

Dear @venusshum<https://github.com/venusshum> ,

PlatformIO 2.1.1 is released! h

[2015-06-23 10:43] ivankravets commented on #232
What do you mean under web-service? If you are going to call platformio from subprocess, don't forget to use ``--force or -f`` option before each command. See details [here](http://docs.platformio.org/en/latest/faq.html#platformio-blocks-command-execution-using-user-prompt).

For example,
[code]

[2015-06-25 12:33] pastcompute opened #242 "IDE generator only generates project file based on last env in existing platformio.ini file, ignoring `--board`"
When I run the following command as suggested by the tutorial:
[code]
and the `platformio.ini` file in the directory contains a second `env:teensylc` section after the `env:esp01` section, the generator ignored the `--board esp01` option and always generates a teensylc-based qtcreator project.

I had a browse through the code and noted in `projectgenerator.py` it scans through the ini file and pop

[2015-06-25 12:43] pastcompute opened #243 "Generated QtCreator project contains hard-coded paths to $HOME/.platformio directory"
The project file generated by running `platformio init --ide qtcreator` uses absolute paths to the platformio installed SDKs for `INCLUDE` paths, etc.

For example:
`INCLUDEPATH += "/home/pastcompute/.platformio/packages/framework-arduinoespressif/variants/generic"`
This makes it unsuitable for adding to version control.
It would be prefereable if these options were instead added like:
`INCLUDEPAT

[2015-06-25 12:45] ivankravets commented on #242
Thanks, I'll fix it in 2.2.0 release.

[2015-06-27 12:13] #242 closed

[2015-06-27 12:18] ivankravets commented on #242
Please re-test it using [development version](http://docs.platformio.org/en/latest/installation.html#development-version).

[2015-06-27 13:42] ivankravets opened #244 "Verify project generator for Qt Creator IDE"
Need to verify that PlatformIO generates valid Qt Creator project for the popular host OS:
- [ ] Windows
- [ ] Linux
- [ ] Mac

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23179500-verify-project-generator-for-qt-creator-ide?utm_campaign=plugin&utm_content=tracker%2F2014790&utm_medium=issues&utm_source=github)** We accept bounties

[2015-06-27 13:56] condemil opened #245 "ESP8266 native SDK expection"
ESP8266 package with native SDK gives the following exception:

    Fatal exception (0): epc1=0x40240655, epc2=0x00000000, epc3=0x00000000, excvaddr=0x00000000, depc=0x00000000

With arduino framework ESP8266 is working fine, I can see such behaviour only with native SDK

How to reproduce

* Create native SDK project with your `upload_port` in `platformio.ini`

*. Create empty `user_config.h`  und